<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <config>
    <add
      key="connection.driver_class"
      value="NHibernate.Driver.NpgsqlDriver" />
    <add
      key="dialect"
      value="NHibernate.Dialect.PostgreSQLDialect" />
    <add
      key="connection.provider"
      value="NHibernate.Connection.DriverConnectionProvider" />
    <add key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle" />
    <add
            key="connection.connection_string"
      value="
		Server = postgres61.1gb.ru; 
		port = 5432;
		database = xgb_x_ya_pr9b6;
		User ID = xgb_x_ya_pr9b6;
		Password = b64d5f2z79a;" />
  </config>

</configuration>