
@{
    ViewBag.Title = "Упс, произошла ошибка.";
}

<h2><div style="text-align: center;">Упс, произошла ошибка.</h2>


<h5><div style="text-align: center;">Скорее всего, мы уже знаем про это! </br>Наш крепостной программист уже решает эту неполадку!
            <img src="~/Content/images/eror.png" style="width: 50%" /></h5>
			<h4><div style="text-align: center;">Нам очень неловко! Простите нас)</h4>
  


