
@{
    ViewBag.Title = "Упс, произошла ошибка.";
}

<div style="text-align: center;">
	<h2>Упс, произошла ошибка.</h2>
	<h1 style="color: #000000;"><strong>Ой! Что то пошло, не так!</strong></h1>
</div>
<div class="row">
	<div class="col-md-2"><img src="~/Content/images/error.svg" width="100" height="100" /></div>
	<div class="col-md-8" style="line-height:20px">
		<div style="font-size: 15px;">
			Произошла системная ошибка  сайта. Мы уже знаем про это и стараемся исправить ее в ближайшее время!<br />		 
			Приносим извинения за неудобства.
		</div>
	</div> 
</div>
