body {
    font-family: Arial !important;
    font-size: 13px;
    line-height: 22px;
    font-weight: 300;
}

hr {
    height: 2px;
    color: red;
}

.wp-theme-1 a {
    text-decoration: none;
}

form a {
    text-decoration: underline;
}

header .navbar-brand img {
    position: relative;
    top: -6px;
    height: 60px;
}

.col-center {
    float: none !important;
    margin: 0 auto !important;
}

.footer_bottom {
    padding-bottom: 10px;
}

.footer_top {
    width: 100%;
    height: 100px;
}

.footer_bottom {
    width: 100%;
    height: 100px;
}

.breadcrumb {
    background-color: white;
}

.top_logo {
    width: 500px;
    height: 120px;
    background-image: url(../../images/top_logo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.vert_20 {
    padding: 20px;
}

.need_help {
    margin-top: 50px;
    width: 80px;
    text-align: center;
}
.need_help_img {
    width: 80px;
    height: 70px;
}
.need_help a {
    color: grey;
    text-decoration: none;

    background-image: url("../../images/need_help_std.png");
    background-repeat: no-repeat;
}
.need_help a :hover {
    background-image: url("../../images/need_help_act.png");
}

.desc_block .title {
    height: 120px;
}
.desc_block .title img {
    width: 100px;
    height: 100px;
    position: relative;
    left: 100px;
}
.desc_block .title_text {
    position: relative;
    font-size: 18px;
    text-transform: uppercase;
    left: 220px;
    top: -80px;
}
.desc_block .title_desc {
    position: relative;
    font-size: 14px;
    text-transform: uppercase;
    left: 220px;
    top: -80px;
}
.desc_block .desc_text {
    text-align: justify;
}

.card-table td {
    padding: 10px 5px 10px 5px;
}
.card-td-title {
    vertical-align: top; 
    text-align: right; 
    padding-right: 5px; 
    font-weight: bold;
}
.card-adding {
    padding-top: 10px;
}

div.tabs ul.nav-tabs a:last-child, div.tabs ul.nav-tabs a:last-child:hover {
    border-radius: 0px 0px 0px 0px
}

.card-row {
    border: 1px 1px 1px 1px;
    border-color: #D8D8D8;
}

@font-face {
    font-family: forH1;
    src: url(fonts/Ntybsk7s.ttf) format("truetype");
}

@font-face {
    font-family: forH2;
    src: url(fonts/sZZ6mhxh.otf) format("opentype");
}

@font-face {
    font-family: forH3;
    src: url(fonts/sZZ6mhxh.otf) format("opentype");
}

@font-face {
    font-family: forH4;
    src: url(fonts/sZZ6mhxh.otf) format("opentype");
}

@font-face {
    font-family: forH5;
    src: url(fonts/sZZ6mhxh.otf) format("opentype");
}

@font-face {
    font-family: forH6;
    src: url(fonts/sZZ6mhxh.otf) format("opentype");
}

.wp-theme-1 h1 {
    font-family: forH1 !important;
}

.wp-theme-1 h2 {
    font-family: Arial !important;
}

.wp-theme-1 h3, .wp-theme-1 h4, .wp-theme-1 h5, .wp-theme-1 h6 {
    font-family: Arial !important;
}

.font_black {
    color: black;
}

label {
    color: black;
}

h1, h2, h3 {
    color: black;
}
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    color: black;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    color: black;
}

.jqte_tool.jqte_tool_1 .jqte_tool_label {
    height: 23px;
}

.city-block {
    max-width: 300px;
    text-align: center;
}

.like-link {
    cursor: pointer;
}

.city-title {
    margin-top: 5px;
}

.card-title {
    color: #B3B1B1;
}

.card-table {
    width: 100%;
    text-align: right;
    color: black;
    font-size: 12px;
}

.card-table-content {
    font-size: 18px;
}

.card-block {
    padding-bottom: 10px;
}

input[type="file"] {
    background-color: transparent;
    border: 0 none; 
    display: block;
}

.wp-theme-1 .lw .bg-3 {
    color: black !important;
}

div.tabs ul.nav-tabs a:last-child, div.tabs ul.nav-tabs a:last-child:hover {
    font-size: 13px;
}

.aw-block {
    padding-bottom: 20px;
}

.aw-title {
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}

.aw-cont img {
    width: 100%;
}

.aw-text {
    text-align: center;
}

.customButon {
 -moz-box-shadow: 0px 1px 0px 0px #d69f9a;
 -webkit-box-shadow: 0px 1px 0px 0px #d69f9a;
 box-shadow: 0px 1px 0px 0px #d69f9a;
 background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #d60000));
 background:-moz-linear-gradient(top, #fe1a00 5%, #d60000 100%);
 background:-webkit-linear-gradient(top, #fe1a00 5%, #d60000 100%);
 background:-o-linear-gradient(top, #fe1a00 5%, #d60000 100%);
 background:-ms-linear-gradient(top, #fe1a00 5%, #d60000 100%);
 background:linear-gradient(to bottom, #fe1a00 5%, #d60000 100%);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#d60000',GradientType=0);
 background-color:#fe1a00;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
 border-radius:5px;
 display:inline-block;
 cursor:pointer;
 color:#ffffff;
 font-family:Arial;
 font-size:17px;
 padding:8px 7px;
 text-decoration:none;
 text-shadow:0px 0px 0px #b03434;
 color: white;
}
.customButon:hover {
color: white;
 background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d60000), color-stop(1, #fe1a00));
 background:-moz-linear-gradient(top, #d60000 5%, #fe1a00 100%);
 background:-webkit-linear-gradient(top, #d60000 5%, #fe1a00 100%);
 background:-o-linear-gradient(top, #d60000 5%, #fe1a00 100%);
 background:-ms-linear-gradient(top, #d60000 5%, #fe1a00 100%);
 background:linear-gradient(to bottom, #d60000 5%, #fe1a00 100%);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d60000', endColorstr='#fe1a00',GradientType=0);
 background-color:#d60000;
}
.customButon:active {
    color: white;
 position:relative;
 top:1px;
}

div.tabs ul.nav-tabs a {
    background: #4A5D71 none repeat scroll 0 0 !important;
}

div.tabs ul.nav-tabs a:hover {
    background: #ce0e0e none repeat scroll 0 0 !important;
}

div.tabs ul.nav-tabs li.active a {
    background: #ce0e0e none repeat scroll 0 0 !important;
}

div.tabs div.tab-content {
    background-color: #eef0f2 !important;
}