 body {
    font-family: Arial,!important;
    font-size: 13px;
    line-height: 22.5px;
    font-weight: 400;
}


 .title-line {
  /* чтобы линии не выходили за ширину блока заголовка */
  overflow: hidden;
}
.title-line:before,
.title-line:after {
  content: '';

  /* делаем линию строчно-блочной */
  display: inline-block;

  /* выравниваем вертикально по середине */
  vertical-align: middle;

  /* не позволяем ширине превысить 100% (будет добавлен бордюр) */
  box-sizing: border-box;

  /* установка ширины в 100% делает линию равной ширине тега заголовка
  ** благодаря этому линия заполнит все свободное пространство
  ** слева и справа от текста
  */
  width: 100%;
  height: 1px;
  background: #e4e6e8;

  /* добавляем к линии левый и правый бордюр цветом основного фона заголовка
  ** благодаря этому создается нужный отступ между линиями и текстом
  */
  border: solid #FFF;
  border-width: 0 10px;
}
.title-line:before {
  /* смещаем левую линию влево отрицательным отступом, равным 100% ширины
  ** благодаря этому линия встает слева от текста
  */
  margin-left: -100%;
}
.title-line:after {
  /* смещаем правую линию вправо отрицательным отступом, равным 100% ширины
  ** благодаря этому линия встает справа от текста
  */
  margin-right: -100%;
}

.low-font {
    font-weight: 100;
}

hr {
    height: 2px;
    color: red;
}

a.btn.btn-two {
    color: white;
}

.wp-theme-1 a .btn-two {
    color: white;
}

.wp-theme-1 a:hover .btn-two {
    color: white;
}

.wp-theme-1 a {
    text-decoration: none;
    color: #07a7fa;
}

.wp-theme-1 a:hover {
    text-decoration: none;
    color: #07a7fa;
}

.wp-theme-1 a:hover {
    text-decoration: underline !important;
    color: #07a7fa;
}

.widget a {
    text-decoration: none !important;
    color: #02a6c9 !important;
}

form a {
    text-decoration: underline;
    color: #02a6c9;
}

header .navbar-brand img {
    position: relative;
    top: -6px;
    height: 60px;
}

.col-center {
    float: none !important;
    margin: 0 auto !important;
}

.footer_bottom {
    padding-bottom: 10px;
}

.footer_top {
    width: 100%;
    height: 100px;
}

.footer_bottom {
    width: 100%;
    height: 100px;
}

.breadcrumb {
    background-color: white;
}

.top_logo {
    width: 500px;
    height: 120px;
    background-image: url(../../images/top_logo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.vert_20 {
    padding: 20px;
}

.need_help {
    margin-top: 50px;
    width: 80px;
    text-align: center;
}
.need_help_img {
    width: 80px;
    height: 70px;
}
.need_help a {
    color: grey;
    text-decoration: none;

    background-image: url("../../images/need_help_std.png");
    background-repeat: no-repeat;
}
.need_help a :hover {
    background-image: url("../../images/need_help_act.png");
}

.desc_block .title {
    height: 120px;
}
.desc_block .title img {
    width: 100px;
    height: 100px;
    position: relative;
    left: 100px;
}
.desc_block .title_text {
    position: relative;
    font-size: 18px;
    text-transform: uppercase;
    left: 220px;
    top: -80px;
}
.desc_block .title_desc {
    position: relative;
    font-size: 14px;
    text-transform: uppercase;
    left: 220px;
    top: -80px;
}
.desc_block .desc_text {
    text-align: justify;
}

.card-table td {
    padding: 10px 5px 10px 5px;
}
.card-td-title {
    vertical-align: top; 
    text-align: right; 
    padding-right: 5px; 
    font-weight: bold;
}
.card-adding {
    padding-top: 10px;
}

div.tabs ul.nav-tabs a:last-child, div.tabs ul.nav-tabs a:last-child:hover {
    border-radius: 0px 0px 0px 0px
}

.card-row {
    border: 1px 1px 1px 1px;
    border-color: #D8D8D8;
}

.navbar {
    position: relative;
    min-height: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar-nav>li>a {
    padding-top: 3px;
    padding-bottom: 7px;
}

.navbar-brand {
    padding: 7px;
    height: 30px;
}

@font-face {
    font-family: forH1;
    src: url("fonts/HelveticaNeueCyr-Bold.otf") format("opentype");
}

@font-face {
    font-family: forH2;
    src: url("fonts/HelveticaNeueCyr-Thin.otf") format("opentype");
}

@font-face {
    font-family: forH3;
    src: url("fonts/HelveticaNeueCyr-Medium.otf") format("opentype");
}

@font-face {
    font-family: forH4;
    src: url(fonts/HelveticaNeueCyr-Thin.otf) format("opentype");
}

@font-face {
    font-family: forH5;
    src: url(fonts/HelveticaNeueCyr-Thin.otf) format("opentype");
}

@font-face {
    font-family: forH6;
    src: url(fonts/HelveticaNeueCyr-Light.otf) format("opentype");
}

.wp-theme-1 h1 {
    font-family: Arial, sans-serif !important;
}

.wp-theme-1 h2 {
    font-family: Arial, sans-serif !important;
}

.wp-theme-1 h3 {
    font-family: Arial, sans-serif !important;
}
.wp-theme-1 h4 {
    font-family: Arial, sans-serif !important;
}

.wp-theme-1 h5 {
    font-family: Arial, sans-serif !important;
}

.wp-theme-1 h6 {
    font-family: Arial, sans-serif !important;
}


.font_black {
    color: black;
}

label {
    color: black;
}

h1, h2, h3 {
    color: black;
}
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    color: black;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    color: black;
}

.jqte_tool.jqte_tool_1 .jqte_tool_label {
    height: 23px;
}

.city-block {
    max-width: 300px;
    text-align: center;
}

.like-link {
    cursor: pointer;
}

.city-title {
    margin-top: 5px;
}

.card-title {
    color: #B3B1B1;
}

.card-table {
    width: 100%;
    text-align: left;
    color: black;
    font-size: 12px;
}

.card-table-content {
    font-size: 18px;
}

.card-block {
    padding-bottom: 0px;
}

input[type="file"] {
    background-color: transparent;
    border: 0 none; 
    display: block;
}

.wp-theme-1 .lw .bg-3 {
    color: black !important;
}

div.tabs ul.nav-tabs a:last-child, div.tabs ul.nav-tabs a:last-child:hover {
    font-size: 13px;
}

.aw-block {
    padding-bottom: 20px;
}

.aw-title {
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}

.aw-cont img {
    width: 100%;
}

.aw-text {
    text-align: center;
}

div.tabs ul.nav-tabs a {
    background: #07a7fa none repeat scroll 0 0 !important;
}

div.tabs ul.nav-tabs a:hover {
    background: #90d228 none repeat scroll 0 0 !important;
}

div.tabs ul.nav-tabs li.active a {
    background: #90d228 none repeat scroll 0 0 !important;
}

div.tabs div.tab-content {
    background-color: white !important;
    border: 0px;
}

/*Цвет вкладки*/
div.tabs ul.nav-tabs li.active a.tabBlue {
    background: #01b9fd !important;
}

.btn-custom-red {
  background-color: #ff0000 !important;
  background-repeat: repeat-x !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000", endColorstr="#ff0000") !important;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ff0000), to(#ff0000)) !important;
  background-image: -moz-linear-gradient(top, #ff0000, #ff0000) !important;
  background-image: -ms-linear-gradient(top, #ff0000, #ff0000) !important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff0000), color-stop(100%, #ff0000)) !important;
  background-image: -webkit-linear-gradient(top, #ff0000, #ff0000) !important;
  background-image: -o-linear-gradient(top, #ff0000, #ff0000) !important;
  background-image: linear-gradient(#ff0000, #ff0000) !important;
  color: #fff !important;
  text-shadow: 0 -0px 0 rgba(0, 0, 0, 0.00) !important;
  -webkit-font-smoothing: antialiased !important;
  text-decoration: none !important;
}


.btn-custom-aqua {
    background-color:#07a7fa !important; 
    background-repeat: repeat-x !important; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#07a7fa", endColorstr="#06b6e2") !important; 
    background-image: -khtml-gradient(linear, left top, left bottom, from(#007a7fa), to(#007a7fa)) !important; 
    background-image: -moz-linear-gradient(top, #007a7fa, #007a7fa) !important; 
    background-image: -ms-linear-gradient(top, #007a7fa, #007a7fa) !important; 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #007a7fa), color-stop(100%, #07a7fa)) !important; 
    background-image: -webkit-linear-gradient(top, #07a7fa,#07a7fa) !important; 
    background-image: -o-linear-gradient(top, #007a7fa #007a7fa) !important; 
    background-image: linear-gradient(#07a7fa, #07a7fa) !important; 
    color: #fff !important; 
    text-shadow: 0 -0px 0 rgba(0, 0, 0, 0.00) !important; 
    -webkit-font-smoothing: antialiased !important;
    text-decoration: none !important;
}

.btn-custom-green {
    background-color: #90d228 !important; 
    background-repeat: repeat-x !important; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#90d228", endColorstr="#90d228") !important; 
    background-image: -khtml-gradient(linear, left top, left bottom, from(#90d228), to(#90d228)) !important; 
    background-image: -moz-linear-gradient(top, #90d228, #90d228) !important; 
    background-image: -ms-linear-gradient(top, #90d228, #90d228) !important; 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #90d228), color-stop(100%, #90d228)) !important; 
    background-image: -webkit-linear-gradient(top, #90d228, #90d228) !important; 
    background-image: -o-linear-gradient(top, #90d228, #90d228) !important; 
    background-image: linear-gradient(#90d228, #90d228) !important; 
    color: #fff !important; 
    text-shadow: 0 -0px 0 rgba(0, 0, 0, 0.00) !important; 
    -webkit-font-smoothing: antialiased !important;
    text-decoration: none !important;
}
.btn-custom-orange {
    background-color: #f9c028 !important; 
    background-repeat: repeat-x !important; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f9c028", endColorstr="#f9c028") !important; 
    background-image: -khtml-gradient(linear, left top, left bottom, from(#f9c028), to(#f9c028)) !important; 
    background-image: -moz-linear-gradient(top, #f9c028, #f9c028) !important; 
    background-image: -ms-linear-gradient(top, #f9c028, #f9c028) !important; 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9c028), color-stop(100%, #f9c028)) !important; 
    background-image: -webkit-linear-gradient(top, #f9c028, #f9c028) !important; 
    background-image: -o-linear-gradient(top, #f9c028, #f9c028) !important; 
    background-image: linear-gradient(#f9c028, #f9c028) !important; 
    color: #000000 !important; 
    text-shadow: 0 -0px 0 rgba(0, 0, 0, 0.00) !important; 
    -webkit-font-smoothing: antialiased !important;
    text-decoration: none !important;
}

.cardBackground {
    background-position: 0% 100%;
    background-image: url("/Content/images/cardBackground.png");
    background-repeat: no-repeat;
}

.errorBox {
    padding-top: 20px;
}

.rowWhite {
    border: 1px solid gray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.panel-group .panel-heading:after {
    content: ""
}

.footer_box {
    padding-bottom: 0px;
}

.f_m_t {
    border-bottom: 4px solid #CE0000;
    text-align: center;
}

.f_m_b {
    color: black;
    padding-right: 10px;
}

.f_m {
    color: white !important;
    background-color: black;
}

    .f_m a {
        color: white;
        text-decoration: none;
    }

        .f_m a:hover {
            color: white;
            text-decoration: none;
        }

.f_m_a {
    padding-right: 10px;
}

.no_line {
    text-decoration: none !important;
}

section.slice {
    padding: 10px 0;
}

/*Цвет центрального блока*/
.central-color {
    background-color: #ffffff;
}

/*Цвет левого блока*/
.left-color {
    background-color: #ffffff;
}

/*Цвет правого блока*/
.right-color {
    background-color: #ffffff;
}

header {
    background-color: #ffffff;
}

.header-btn {
    max-width: 200px; 
    margin-bottom: 10px;
    font-weight: bold;
    position: relative;
    left: 5px;
    top: 5px;
}

.full-size {
    width: 100%;
}

.abw-head {
    background-color: #ffffff;
    color: #222222;
    padding: 5px;
    text-transform: uppercase;
}

.abw-text {
    background-color: #f7f7fa;
    padding: 3px;
}

.menu-left {
    font-weight: bold;
    padding-left: 10px;
}

/*Цвет подсказки счётчика слева*/
.left-side-counter {
    color: #CC7921;
}

.label-warning {
   color: black;
}

.navbar-default {
    background-color: #f8f8f8;
    border-bottom-color:  #e8e8f0;
}

.sidebar-nav-item {
    color: #07a7fa;
}

.form-control {
    border-radius: 5px;
}