<div class="footer_box">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12" style="text-align: center;">
                <h5><strong>My-Tend.Com © 2018  </strong>Сайт, где исполнители соревнуются за праздник заказчика!<br />
				<h5>
               <h6> Использование сайта "My-Tend.Com" в качестве гостя, заказчика или продавца услуг, означает согласие с <a href="~/Docs/Rules">Условиями использования сайта</a> и <a href="~/Docs/PublicData" target="_blank">Соглашением на обработку персональных данных</a>.<br />
             <h5> <strong>Сделано в Татарстане!</strong><h5>
            </div>
        </div>
        <div class="row f_m">
            <div class="col-lg-12">
                <div style="text-align: center">

                    <span>
                        @Html.ActionLink("На главную / Новая заявка", "Index", "Tender", null, new { @class = "f_m_a" })
                    </span>
                    <span class="f_m_b">|</span>
                   
                    <span class="f_m_b">|</span>
                    <span>
                        @Html.ActionLink("Карта конкурсных торгов", "Map", "Tender", null, new { @class = "f_m_a" })
                    </span>
                    <span class="f_m_b">|</span>
                    <span>
                        @Html.ActionLink("Стать продавцом услуг", "torgs", "docs", null, new { @class = "f_m_a" })
                    </span>
                     <span>
                        @Html.ActionLink("Обратная связь / Рекламодателям", "support", "Home", null, new { @class = "f_m_a" })
                    </span>
					 <span>
                        <a href="https://www.instagram.com/eventtender/" target="_blank">
        <img src="~/Content/images/inst.png" style="width: 2%" />
                    </span>
					<span>
                        <a href="https://vk.com/mytend" target="_blank">
        <img src="~/Content/images/vk.png" style="width: 2%" />
                    </span>
					<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter48001673 = new Ya.Metrika2({
                    id:48001673,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/tag.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks2");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/48001673" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
                </div>
            </div>
        </div>
    </div>
</div>
