<header class="header-image-backgound container">
    <div class="container ">
        <div class="row">
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-md-3">
                        <div style="text-align: center; padding-top: -10px;" class="">
                            <a href="~/Home/Index" title="MY-TEND.COM" style="text-decoration: none;)">
                                <img src="@Url.Content("~/Content/images/logo.png")" height="170">
                                <br />
                                <br />
                                <br />
								@*<br />*@
                                <br />
								<br />

							<br />
								
							
                                
                            </a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div style="text-align: right; padding-top: 28px;">
                            <h4 style="color: #f52124;"><strong>У ВАС СКОРО ПРАЗДНИЧНОЕ СОБЫТИЕ?</strong></h4>
                            <h5 style="color: #ffffff;"><strong>Разместите свой заказ на My-Tend.Com и выбирайте выгодные предложения исполнителей услуг для Вашего мероприятия!</strong></h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                @if (ViewBag.IsAuth != null)
                {
                    <div style="padding-top: 30px">
                        <a href="~/Tender/My" class="btn btn-custom-aqua" style="width: 240px"><strong>Проверить<br>предложения</strong></a>
                    </div>
                }
            </div>
        </div>
    </div>

    <br /> 
    <div style="padding-top: 10px;">
        @if (ViewBag.IsAuth == true)
        {
            <nav class="navbar navbar-default" style="background-color: white; margin-top: 0px; padding-top: 10px;">
                <div class="container">


                    <div class="navbar-header">
                        <ul class="nav navbar-nav">
                            <li>

                                <span class="sidebar-nav-item"><h5 style="color: #222222;     margin-top: 4px;"> Меню исполнителей услуг :</h5></span>

                            </li>
                            <li>
                                <a href="~/account/card?user=@ViewBag.UserLogin" aria-expanded="false">
                                    <span class="sidebar-nav-item">Моя Визитка</span>
                                </a>
                            </li>
                            <li>
                                <a href="~/tender/active" aria-expanded="false">
                                    <span class="sidebar-nav-item">Заявки от Заказчиков</span>
                                </a>
                            </li>
                            <li>
                                <a href="~/tender/list" aria-expanded="false">
                                    <span class="sidebar-nav-item">Мои Предложения Заказчикам</span>
                                </a>
                            </li>
                            <li>
                                <a href="~/tender/winner" aria-expanded="false">
                                    <span class="sidebar-nav-item">Победы в Конкурсах</span>
                                </a>
                            </li>
                            <li>
                                <a href="~/pay/index" aria-expanded="false">
                                    <span class="sidebar-nav-item">Оплата Участия в Торгах</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        }
    </div>
</header>