<header>
    <div style="width: 100%; border-bottom: 0px solid #f0eded; padding-top: 10px;">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div style="text-align: center;">
                        <a href="~/Home/Index" title="MY-TEND.COM" style="text-decoration: none;">
                            <img src="@Url.Content("~/Content/images/logo.svg")" height="50">
                        </a>
                        <br />
                        <div style="text-align: center;">
                            <h5> <div style="color: #000000;">Сайт, где Исполнитель Event услуг соревнуется за праздник Заказчика</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    @RenderPage("_LoginForm.cshtml")
                </div>
            </div>
        </div>
    </div>
</header>

<div style="width: 100%; background-color: #2e464e;">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
            </div>
            <div class="col-md-2">
                <a href="~/Tender/Index" class="btn btn-custom-red" style="width: 100%; font-weight: bold;">Новая заявка</a>
            </div>
        </div>
    </div>
</div>