
  <div class="container ">
        <div class="row">
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-md-4">
                        <div style="text-align: center; padding-top: 0px;" class="">
                            <a href="~/Home/Index" title="MY-TEND.COM" style="text-decoration: none;)">
                                <img src="@Url.Content("~/Content/images/logo.png")" height="150">
                            </a>
                        </div>
                    </div>
					<meta name="yandex-verification" content="6d4587bb4e65684b" />
                      <script>
if("my-"+"tend."+"com"!==document.domain){
//document.write('<meta http-equiv="refresh" content="0; url=https://my-tend.'+'com">');
}</script>
                    <div class="col-md-8">
                        <div style="text-align: left; padding-top:20px;">
						
                            <h5 style="color: #00aef0;"><a href="/tender/index"><strong><big><big>
							 <span style="color: red;">+ СОЗДАЙТЕ ЗАЯВКУ</span> </big></big>И РАССКАЖИТЕ О БУДУЩЕМ ПРАЗДНИЧНОМ СОБЫТИИ !</strong></a> </h5>
							<h5 style="color: #777777;"> 
							- Профессионалы праздника будут соревноваться за Ваш заказ!<br>
							- Сравниваете и выбираете самое выгодное и интересное предложение!
							</h5>
                       
                        </div>
                    </div>
                </div>
            </div>

<link rel="canonical" href="https://my-tend.com/"/>
            <div class="col-sm-3">
                @if (ViewBag.IsAuth != null)
                {
                    
                    <div style="padding-top: 30px">  <a href="~/Tender/My" class="btn btn-custom-aqua full-size"><strong>Мои заявки <br />Проверить предложения</strong></a>
                    </div>
                }
            </div>
        </div>
    </div>

<div  class="container">
    <div style="padding-top: 10px;">
        @if (ViewBag.IsAuth == true)
        {
        <nav class="navbar navbar-default" style="background-color: #ffffff; margin-top: 0px; padding-top: 2px;">
            <div class="container">
                <div class="navbar-header">
                    @if (ViewBag.IsPayed == true)
                {
                <ul class="nav navbar-nav emenu">
                    <li>
                        <a href="/" aria-expanded="false">
                            <span class="">Главная </span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Account/Card?user=@ViewBag.UserLogin" aria-expanded="false">
                            <span class=""> Моя Визитка</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/tender/active" aria-expanded="false">
                            <span class="">Заявки от Заказчиков</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/tender/list" aria-expanded="false">
                            <span class="">Мои Предложения Заказчикам</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/tender/winner" aria-expanded="false">
                            <span class="">Победы в Конкурсах</span>
                        </a>
                    </li>
                </ul>
                    }
                    else
                    {
                    <ul class="nav navbar-nav emenu">
                        <li>
                            <a href="/" aria-expanded="false">
                                <span class="">Главная / Новая заявка</span>
                            </a>
                        </li>
                        <li>
                            <a href="~/Account/Card?user=@ViewBag.UserLogin" aria-expanded="false">
                                <span class="">Моя Визитка</span>
                            </a>
                        </li>
                        <li>
                            <a href="~/Docs/torgs" aria-expanded="false">
                                <span class="">Стать продавцом</span>
                            </a>
                        </li>
                        
                    </ul>
                    }
                </div>
            </div>
            <hr style="margin-top: 2px;">
        </nav>

        }
    </div>
</div>

