<header>
    <div style="border-bottom: 4px solid #f47402;">
        <div class="container-fluid">
            <div class="row head-backgound">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-6">
                            <div style="text-align: center;">
                                <a href="~/Home/Index" title="MY-TEND.COM" style="text-decoration: none;">
                                    <img src="@Url.Content("~/Content/images/logo.svg")" height="130">
                                </a>
                                <br />
                                <div style="text-align: center;">
                                    <h6 style="color: #02a6c9;"><strong>Сайт, где Исполнитель Event услуг соревнуется за праздник Заказчика</strong></h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            @RenderPage("_LoginForm.cshtml")
                        </div>
                    </div>

                </div>
                <div class="col-md-2">
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-8" style="text-align: center;">
                            <a href="~/Tender/Index" class="btn btn-custom-red header-btn" style="width: 200px;"><strong>Оставьте заявку </strong></a>
                            @if (ViewBag.IsAuth == true)
                            {
                                <br />
                                <br />
                                <a href="~/Tender/My" class="btn btn-custom-aqua header-btn" style="width: 200px;"><strong>Проверить предложения</strong></a>
                            }
                        </div>
                        <div class="col-lg-1"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>
