   <div class="container ">
        <div class="row">
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-md-4">
                        <div style="text-align: center; padding-top: 0px;" class="">
                            <a href="~/Home/Index" title="MY-TEND.COM" style="text-decoration: none;)">
                                <img src="@Url.Content("~/Content/images/logo.png")" height="140">
                            </a>
                        </div>
                    </div>
					
                    <div class="col-md-8">
                        <div style="text-align: left; padding-top:20px;">
						
                            <h5 style="color: #800080;"> <strong>Проведите конкурс на право исполнения услуги для Вашего праздника!</strong> </h5>
							<h5 style="color: #222222;"> 
							- Исполнители будут соревноваться за Ваш заказ!<br>
							- Сравниваете и выбираете самое выгодное и интересное предложение!
							</h5>
                       
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-3">
                @if (ViewBag.IsAuth != null)
                {
                    <div style="padding-top: 30px">
                        <a href="~/Tender/Index" class="btn-class-winer" style="width: 200px"><span class=" glyphicon glyphicon-plus"></span>
<strong>Создать заявку</strong></a>
                    </div>
                    <div style="padding-top: 30px">
                        <a href="~/Tender/My" class="btn-custom-aqua" style="width: 240px">
Проверить предложения <br>от исполнителей</a>
                    </div>
                }
            </div>
        </div>
    </div>

<div  class="container">
    <div style="padding-top: 10px;">
        @if (ViewBag.IsAuth == true)
        {
        <nav class="navbar navbar-default" style="background-color: #ffffff; margin-top: 0px; padding-top: 2px;">
            <div class="container">
                <div class="navbar-header">
                    @if (ViewBag.IsPayed == true)
                {
                <ul class="nav navbar-nav emenu">
                    <li>
                        <a href="/" aria-expanded="false">
                            <span class="">Главная </span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Account/Card?user=@ViewBag.UserLogin" aria-expanded="false">
                            <span class=""><img src="~/Content/images/orangestar.svg"width="13" height="13" /> Моя Визитка</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/tender/active" aria-expanded="false">
                            <span class="">Заявки от Заказчиков</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/tender/list" aria-expanded="false">
                            <span class="">Мои Предложения Заказчикам</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/tender/winner" aria-expanded="false">
                            <span class="">Победы в Конкурсах</span>
                        </a>
                    </li>
                </ul>
                    }
                    else
                    {
                    <ul class="nav navbar-nav emenu">
                        <li>
                            <a href="/" aria-expanded="false">
                                <span class="">Главная / Новая заявка</span>
                            </a>
                        </li>
                        <li>
                            <a href="~/Account/Card?user=@ViewBag.UserLogin" aria-expanded="false">
                                <span class="">Моя Визитка</span>
                            </a>
                        </li>
                        <li>
                            <a href="~/Docs/torgs" aria-expanded="false">
                                <span class="">Стать продавцом</span>
                            </a>
                        </li>
                        <li>
                            <a href="~/Tender/My" aria-expanded="false">
                                <span class="">Проверить предложения от исполнителей</span>
                            </a>
                        </li>
                    </ul>
                    }
                </div>
            </div>
            <hr style="margin-top: 2px;">
        </nav>

        }
    </div>
</div>

