
<style>
    div .menu-space {
        padding-bottom: 10px;
    }

    .pad5 {
        padding-right: 5px;
    }
</style>
<aside class="sidebar">
    <nav class="sidebar-nav">
        <ul class="metismenu" id="menu">
            @if (ViewBag.IsAuth == true)
            {
                <li class="active">
                    <a href="~/account/card?user=@ViewBag.UserLogin" aria-expanded="false">
                        <span class="sidebar-nav-item">Моя Визитка</span>
						@Html.ActionLink(" Rедактировать визитку / подписку на заявки", "Profile", "Account", null, new { @style = "color: gray; font-size: 10px;" })
                    </a>
                </li>
                <li>
                    <a href="~/tender/active" aria-expanded="false">
                        <span class="sidebar-nav-item">Заявки от Заказчиков</span>
                        @if (this.ViewBag.ActiveCount > 0)
                        {
                            <span class="label label-warning">+ @this.ViewBag.ActiveCount</span>
                        }
                    </a>
                </li>
                <li>
                    <a href="~/tender/list" aria-expanded="false">
                        <span class="sidebar-nav-item">Мои Предложения Заказчикам</span>
                    </a>
                </li>
                <li>
                    <a href="~/tender/winner" aria-expanded="false">
                        <span class="sidebar-nav-item">Победы в Аукционных-Торгах</span>
                        @if (this.ViewBag.WinnerCount > 0)
                        {
                            <span class="label label-warning">+ @this.ViewBag.WinnerCount</span>
                        }
                    </a>
                </li>
                <li>
                    <a href="~/pay/index" aria-expanded="false">
                        <span class="sidebar-nav-item">Оплата Доступа к Заявкам и Участию в Аукционах</span>
                    </a>
                </li>
            }
            else
            {
                <li class="active">
                    <a href="~/docs/AboutWork" aria-expanded="false">
                        <span class="sidebar-nav-item">Как Найти Исполнителя / Заказать Услугу?</span>
                    </a>
                </li>
				<li class="active">
                    <a href="~/docs/AboutWork2" aria-expanded="false">
                        <span class="sidebar-nav-item">Как Продать Услугу / Найти Заказчика?</span>
                    </a>
                </li>
            }

        </ul>
    </nav>
</aside>
<script>
    $(function () {
        $('#menu').metisMenu();
    });
</script>

<div class="form-group" style="text-align: center">
    <div style="font-style: italic; text-align: center;">Реклама</div>
    <a href="https://my-tend.com/account/card?user=ilonasharnir@yandex.ru" target="_blank">
        <img src="~/Content/images/avtograph.gif" style="width: 70%" />
    </a>
</div>
<div class="form-group" style="text-align: center">
    <div style="font-style: italic; text-align: center;">Реклама</div>
    <a href="https://vk.com/alexdjguitar" target="_blank">
        <img src="~/Content/images/kuzmin.png" style="width: 70%" />
    </a>
</div>
<div class="form-group" style="text-align: center">
    <div style="font-style: italic; text-align: center;">Реклама</div>
    <a href="http://vk.com/club31784007" target="_blank">
        <img src="~/Content/images/kuranov.png" style="width: 70%" />
    </a>
</div>