
<style>
    div .menu-space {
        padding-bottom: 10px;
    }
    .pad5 {
        padding-right: 5px;
    }
</style>
<aside class="sidebar">
    <nav class="sidebar-nav">
        <ul class="metismenu" id="menu">
            @if (ViewBag.IsAuth == true)
            {
                <li class="active">
                    <a href="~/account/card?user=@ViewBag.UserLogin" aria-expanded="false">
                        <span class="sidebar-nav-item-icon fa fa-newspaper-o fa-lg"></span>
                        <span class="sidebar-nav-item">Моя Визитка</span>
                    </a>
                </li>
                <li>
                    <a href="~/tender/active" aria-expanded="false">
                        <span class="sidebar-nav-item-icon fa fa-user-plus fa-lg"></span>
                        <span class="sidebar-nav-item">Заявки от заказчиков</span>
                    </a>
                </li>
                <li>
                    <a href="~/tender/my" aria-expanded="false">
                        <span class="sidebar-nav-item-icon fa fa-user-plus fa-lg"></span>
                        <span class="sidebar-nav-item">Мои предложения заказчикам</span>
                    </a>
                </li>
                <li>
                    <a href="~/tender/winner" aria-expanded="false">
                        <span class="sidebar-nav-item-icon fa fa-cart-arrow-down fa-lg"></span>
                        <span class="sidebar-nav-item">Победы в аукционных-торгах</span>
                    </a>
                </li>
                <li>
                    <a href="~/pay/index" aria-expanded="false">
                        <span class="sidebar-nav-item-icon fa fa-money fa-lg"></span>
                        <span class="sidebar-nav-item">Доступ к заявкам от заказчиков</span>
                    </a>
                </li>
            }
            else
            {
                <li class="active">
                    <a href="~/docs/AboutWork" aria-expanded="false">
                        <span class="sidebar-nav-item-icon fa fa-money fa-lg"></span>
                        <span class="sidebar-nav-item">Как это работает</span>
                    </a>
                </li>
            }
            
        </ul>
    </nav>
</aside>
<script>
    $(function () {
        $('#menu').metisMenu();
    });
</script>

<div class="form-group" style="text-align: center">
    <div style="font-style: italic; text-align: center;">Реклама</div>
    <a href="#" target="_blank">
        <img src="~/Content/images/avtograph.gif" style="width: 70%" />
    </a>
</div>
<div class="form-group" style="text-align: center">
    <div style="font-style: italic; text-align: center;">Реклама</div>
    <a href="https://vk.com/miamidanceband" target="_blank">
        <img src="~/Content/images/aneks_dlya_sajta.jpg" style="width: 100%" />
    </a>
</div>