
<style>
    div .menu-space {
        padding-bottom: 10px;
    }

    .pad5 {
        padding-right: 5px;
    }
</style><body bgcolor= #c26a6a">
<aside class="sidebar">
    <nav class="sidebar-nav">
        <ul class="metismenu" id="menu">
            @if (ViewBag.IsAuth == true)
            {
                <li class="active">
                    <a href="~/Account/Card?user=@ViewBag.UserLogin" aria-expanded="false">
                        <span class="sidebar-nav-item"> <strong>Моя Визитка</strong></span>
						@Html.ActionLink(" Rед.", "Profile", "Account", null, new { @style = "color: gray; font-size: 10px;" })
                    </a>
                </li>
                <li>
                    <a href="~/tender/active" aria-expanded="false">
                        <span class="sidebar-nav-item"><strong>Заявки от Заказчиков</strong></span>
                        @if (this.ViewBag.ActiveCount > 0)
                        {
                            <span class="label label-warning">+ @this.ViewBag.ActiveCount</span>
                        }
                    </a>
                </li>
                <li>
                    <a href="~/tender/list" aria-expanded="false">
                        <span class="sidebar-nav-item"><strong>Мои Предложения</strong></span>
                    </a>
                </li>
                <li>
                    <a href="~/tender/winner" aria-expanded="false">
                        <span class="sidebar-nav-item"><strong>Победы </strong></span>
                        @if (this.ViewBag.WinnerCount > 0)
                        {
                            <span class="label label-warning">+ @this.ViewBag.WinnerCount</span>
                        }
                    </a>
                </li>
                <li>
                    <a href="~/pay/index" aria-expanded="false">
                        <span class="sidebar-nav-item"><strong>Оплата Доступа </strong></span>
                    </a>
                </li>
            }
            else
            {
                <li class="active">
                    <a href="~/docs/AboutWork" aria-expanded="false">
                        <span class="sidebar-nav-item">Как Найти Исполнителя / Заказать Услугу?</span>
                    </a>
                </li>
				<li class="active">
                    <a href="~/docs/AboutWork2" aria-expanded="false">
                        <span class="sidebar-nav-item">Как Продать Услугу / Найти Заказчика?</span>
                    </a>
                </li>
            }

        </ul>
    </nav>
</aside>
<script>
    $(function () {
        $('#menu').metisMenu();
    });
</script>

