
<div class="form-group" style="text-align: center">
    <div style="font-style: italic; text-align: center;">Реклама</div>
    <a href="http://vk.com/rk_project116" target="_blank">
        <img src="~/Content/images/kirkina.png" style="width: 80%" />
    </a>

<div class="form-group" style="text-align: center">
    <div style="font-style: italic; text-align: center;">Реклама</div>
    <a href="https://vk.com/kazan_event_obed" target="_blank">
        <img src="~/Content/images/eventobed.png" style="width: 80%" />
    </a>

<div class="form-group" style="text-align: center">
    <div style="font-style: italic; text-align: center;">Реклама</div>
    <a href="https://vk.com/vipshowmen" target="_blank">
        <img src="~/Content/images/shekotov.png" style="width: 80%" />
    </a>
</div>
<div style="font-style: italic; text-align: center;">Реклама</div>
<a href="https://vk.com/kznbw" target="_blank">
    <img src="~/Content/images/bw.png" style="width: 80%" />
</a>
<span>
    @Html.ActionLink("Рекламодателям", "support", "Home", null, new { @class = "f_m_a" })
</span>
