
<div style="padding-top: 10px;"></div>
<div style="font-style: italic; text-align: center;">Реклама</div>
<a href="http://vk.com/rk_project116" target="_blank">
    <img src="~/Content/images/kirkina.png" style="width: 100%" />
</a><div style="padding-top: 10px;"></div>
<div style="font-style: italic; text-align: center;">Реклама</div>
<a href="http://www.zagriev.com/" target="_blank">
    <img src="~/Content/images/zagriev.png" style="width: 100%" />
</a>
<div style="padding-top: 10px;"></div>
<div style="font-style: italic; text-align: center;">Реклама</div>
<a href="https://vk.com/miamidanceband" target="_blank">
    <img src="~/Content/images/miamidance.png" style="width: 100%" />
</a>
<div style="padding-top: 10px;"></div>
<div style="font-style: italic; text-align: center;">Реклама</div>
<a href="https://vk.com/vipshowmen" target="_blank">
    <img src="~/Content/images/shekotov.png" style="width: 100%" />
</a>
<span>
    @Html.ActionLink("Рекламодателям", "support", "Home", null, new { @class = "f_m_a" })
</span>
