<div>
    <div style="border: #f0f2f7 1px solid; text-align: center">
        <div style="background-color: #f0f2f7; color: #000000;">
            <strong>доска обьявлений</strong>
        </div>
        <a href="http://www.google.com" target="_blank">
            <img src="~/Content/images/reklama.gif" style="width: 100%" />
        </a>
    </div>
    
    <div style="padding-top: 20px;"></div>

    <div id="vk_groups"></div>
</div>