
<div style="padding-top: 10px;"></div>
<a href="http://www.zagriev.com/" target="_blank">
    <img src="~/Content/images/zagriev.png" style="width: 100%" />
</a>
<div style="padding-top: 10px;"></div>
<a href="https://www.google.ru/" target="_blank">
    <img src="~/Content/images/avtograph.gif" style="width: 100%" />
</a>
<div style="padding-top: 10px;"></div>
<a href="https://vk.com/vipshowmen" target="_blank">
    <img src="~/Content/images/shekotov.png" style="width: 100%" />
</a>
<span>
    @Html.ActionLink("Рекламодателям", "support", "Home", null, new { @class = "f_m_a" })
</span>
