<div class="form-group" style="text-align: center">
    <div style="font-style: italic; text-align: center;">Реклама</div>
    <a href="https://vk.com/club89102573" target="_blank">
        <img src="~/Content/images/allegro&actionman.png" style="width: 80%" />
		<h5>"Неклассический 
		симбиоз ставший классикой! 
		<strong>Балет vs. Брейк"</strong></h5>
    </a></div>


<div class="form-group" style="text-align: center">
    <div style="font-style: italic; text-align: center;">Реклама</div>
    <a href="https://vk.com/superoleg2" target="_blank">
        <img src="~/Content/images/dj_kazan.png" style="width: 80%" />
	 <h5><strong>DJ в Казани! </strong>Свежие хиты, отбивки, музыка для конкурсов. Озвучим свадьбы, юбилеи, корпоративы, промо-акции! </h5>
    </a>  </div>


<div class="form-group" style="text-align: center">
    <div style="font-style: italic; text-align: center;">Реклама</div>
    <a href="https://vk.com/vipshowmen" target="_blank">
        <img src="~/Content/images/shekotov.png" style="width: 80%" />
    </a>
</div>
<div class="form-group" style="text-align: center">
    <div style="font-style: italic; text-align: center;">Реклама</div>
    <a href="https://vk.com/id229575319" target="_blank">
        <img src="~/Content/images/avtobus.gif" style="width: 80%" />
		<h5><strong>Автобусы и автомобили</strong> на Ваши мероприятия</h5>
	   
    </a></div>
<script type="text/javascript" src="//vk.com/js/api/openapi.js?152"></script>

<!-- VK Widget -->
<div id="vk_community_messages"></div>
<script type="text/javascript">
    VK.Widgets.CommunityMessages("vk_community_messages", 105422648, {tooltipButtonText: "Есть вопросы?  Я с удовольствием отвечу!"});
</script>
<div class="form-group" style="text-align: center">


<script type="text/javascript" src="//vk.com/js/api/openapi.js?152"></script>

    <div class="c_vk">
        <!-- VK Widget -->
        <div id="vk_groups"></div>
        <script type="text/javascript">
            VK.Widgets.Group("vk_groups", { mode: 1 }, 105422648);
        </script>
    </div>
</div>
