<nav class="navbar navbar-default" style="background-color: #3b3d3d">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/"style="color: #07a7fa;">Главная / Новая заявка<span class="sr-only"></span></a></li>
            </ul>
		
		
           
            <ul class="nav navbar-nav navbar-right">
			 <li><a name="LogoutButton" style="color: #90d228;"><strong>Стать исполнителем услуг</strong></a></li>
			
                @if (ViewBag.IsAuth == true)
                {
                    string loginName = ViewBag.UserLogin.ToString();
                    <li>@Html.ActionLink(loginName, "Card", "Account", new { user = ViewBag.UserLogin }, new { @style = "color: #07a7fa;" })</li>
                    <li><a name="LogoutButton" style="color: #07a7fa;">Выход</a></li>
                }
                else
                {
                    <li><a href="#" id="login" class="btn" style="text-decoration: underline; color: #07a7fa;">Войти</a></li>
                    <li><a href="~/Account/Registration" id="login" class="btn" style="text-decoration: underline; color: #07a7fa;">Зарегистрируйтесь</a></li>
                }
            </ul>
        
   
</nav>
<div id="loginForm" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div name="LoginForm">
                    <div class="form-group" style="text-align: center">
                        <img src="@Url.Content("~/Content/images/logobanner.svg")" height="120">

                        <h5><div style="color: #fa6567;"><strong>Сайт, где исполнители Event-услуг соревнуются за праздник заказчика!</strong></h5>

                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="Login" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="Password" placeholder="Пароль">
                    </div>
                    <div class="LoginError" style="padding-bottom: 10px; color: red;"></div>
                    <div style="padding-bottom: 10px; text-align: center;">
                        Нажатие кнопки "Войти" означает согласие с <a href="~/Docs/Rules">Условиями использования сайта</a>.
                    </div>
                    <div style="text-align: center">
                        <button type="button" class="btn btn-custom-orange" name="LoginButton">Войти</span></button>
                    </div>
                </div>
<div class="row" style="text-align: center; padding-top: 20px;">Еще не зарегистрировались?
                                        <a href="#" class="btn" id="login3">Зарегистрироваться</a>
                                    </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/app/login.js"></script>
