
<nav class="navbar navbar-default" style="background-color: #444444; border-radius: 0px;">
    <div class="container">
        <div class="navbar-header">
            
		 
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		
            <ul class="nav navbar-nav navbar-right">
			
                @if (ViewBag.IsAuth == true)
                {
                    <li>
                        <a href="~/Account/Card?user=@ViewBag.UserLogin"><img src="/Image/Get?id=@ViewBag.UserAvatarId" width="25" height="25" class="img-circle"></a>
                        
                    </li>
                    string loginName = ViewBag.UserName.ToString();
                    <li> @Html.ActionLink(loginName, "Card", "Account", new { user = ViewBag.UserLogin }, new { @style = "color: #07a7fa;" })</li>
                    <li><a name="LogoutButton" style="color: #07a7fa;">Выход</a></li>
                }
                else
                {
                    <li><a href="#" id="login" class="btn" style="text-decoration: underline; color: #07a7fa;">Войти</a></li>
                    <li><a href="~/Account/Registration" id="login" class="btn" style="text-decoration: underline; color: #07a7fa;">Зарегистрируйтесь</a></li>
                }
            </ul>
        </div>
   </div>
</nav>

<div id="loginForm" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div name="LoginForm">
                    <div class="form-group" style="text-align: center">
                        <img src="@Url.Content("~/Content/images/logo.svg")" height="130">
						
						<br />
                        <h5><div style="color: #111111;"><strong>Сайт, где исполнители Event-услуг соревнуются за праздник заказчика!</strong></div></h5>

                    </div>

                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="email" class="form-control" name="Login" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="Password" placeholder="Пароль">
                            </div>
                        </div>
                        <div class="col-lg-3"></div>
                    </div>
                    
                    <div class="LoginError" style="padding-bottom: 10px; color: red;"></div>
                    <div style="padding-bottom: 10px; text-align: center;">
                        Нажатие кнопки "Войти" означает согласие с <a href="~/Docs/Rules">Условиями использования сайта</a>.
                    </div>
                    <div style="text-align: center">
                        <button type="button" class="btn btn-custom-orange" name="LoginButton">Войти на сайт</button>
                    </div>
                </div>
                <div class="row" style="text-align: center; padding-top: 20px;">Еще не зарегистрировались?
                    <a href="~/Account/Registration" class="btn" id="login3">Зарегистрироваться</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/app/login.js"></script>
