@{
    ViewBag.Title = "Новости сайта";
}
<div style="text-align: left">
    <h2>
        <img src="~/Content/images/gazeta.png" width="140" height="120" /> Новости сайта
    </h2>
</div>
<div class="row">
    <div class="col-lg-12">
        <div>
            <h3>
                Для чего и кого мы создали сайт «Я предлагаю»?
            </h3>

        </div>
        <div>
            <div style="color: #cc0001; font-weight: bold;">
                <h4>
                    Не хватает азарта во время покупки/продажи услуги? - Торгуйтесь! Как на базаре. Наш сайт именно для вас!
                </h4>
            </div>
            <p></p>


            <p>
                <strong>Сайт, где выбирают не по известности, а по предложениям</strong>
            </p>

            <p>
                Неравная конкуренция? Сильные игроки рынка не дают развиваться бизнесу благодаря огромным финансовым вложениям в рекламу повсеместно? А у вас нет возможностей для «раскрутки» на телевидении и других ресурсах? Все, чем вы обладаете - хорошее качество, низкие цены. отличный сервис, но об этом знаете только вы. Потому что в море рекламы известных брендов, фирм и знаменитых конкурентов вы незаметны...  Мы против монополизма, который заставляет малый и средний бизнес быть в тени и «держать голову  в песке».
            </p>
            <p>
                Теперь у любого обычного человека есть возможность бороться за лучшие заказы наравне с более сильными конкурентами!
            </p>
            <strong>Сайт, где исполнители соревнуются за клиента</strong></p>
            <p>
                Долго обзваниваете потенциальных исполнителей, по несколько раз объясняя, что вам нужно? Не знаете, чье предложение будет лучшим? Исполнители «задирают» цены и не идут на уступки?
            </p>
            <p>

                На нашем сайте за тех, кто не борется за клиента, это делают их конкуренты. у вас есть возможность получать предложения от исполнителей по адекватным ценам и сразу по нужным критериям, потому что в стоимость услуги не включена стоимость рекламы. При этом вы не тратите много времени, денег и энергии, которые вы потратите на себя и свою семью.
            </p>
            <p>
                <strong>Сайт, который стимулирует здоровую конкуренцию</strong>
            </p>
            <p>
                Мы долго думали и работали над нашей идеей, и теперь мы готовы менять  ситуацию вместе с вами. По факту в нашей стране в большинстве случаев сервис не ценит своего клиента и оставляет желать лучшего, хотя есть множество неизвестных, но конкурентоспособных и достойных исполнителей услуг. <strong>Главный стимул для развития качества услуг малого и среднего бизнеса - конкуренция на внутреннем рынке.</strong>
            </p>
            <p>
                Мы приглашаем на наш сайт тех, кто готов соревноваться за своего клиента, бороться с конкуренцией путем улучшения сервиса, качества услуг и ценовой политики.  А так же тех, кто желает получать хороший сервис за вменяемые деньги.
                <strong>Как сказал президент Российской Федерации Владимир Владимирович Путин:</strong>
            <p>
                <strong>
                    <i>«Здоровая конкуренция и свободное предпринимательство - это важнейшие факторы развития страны, обеспечения эффективности и устойчивости всей национальной экономики»</i>.
                </strong>



                (Источник: <a target="_blank" href="http://www.rg.ru/2015/09/23/fas-site.html">www.rg.ru</a>)
            </p>
            И от лица Администрации сайта: чем бы вы не занимались, какие бы услуги не предлагали - <strong>будьте лучшими в своем деле.</strong>

        </div>
    </div>
</div>

<div>
    <h3>
        Что бы Вы сделали, если бы оказались со своими коллегами-конкурентами рядом с потенциальным клиентом?
    </h3>
    <p>
        1. Буду ждать, когда клиент сам проявит интерес ко мне
    </p>
    <p>
        2. Я вижу, что мой конкурент подошел к клиенту, поэтому я не буду ему мешать, пусть он заработает эти деньги
    </p>
    <p>
        3. Я не хочу спорить с предложениями конкурента, у меня не самый выгодный вариант
    </p>
    <p>
        4. Я не буду никого ждать, подойду первым, чтобы сделать предложение, так как у всех должны быть равные права в выборе и возможностях, а я вполне выгодный и достойный вариант. И пусть клиент решает сам.
    </p>
    <p>Если Вы выбрали вариант 4, то добро пожаловать на наш сайт. Мы сделали его для вас!</p>
</div>