@model MyTend.Models.ListThemeTenderModel
@{
    ViewBag.Title = "У Вас скоро событие? Разместите свой заказ на Аукционе событий и выбирайте выгодные предложения!";
    var max = Model.Themes.Count() - 1;
    var i = 0;
    var itemI = 0;
}


<div style="text-align: center;"><br>
    
           <div class="title-line">Выберите услуги</div>
  
</div>

<div class="tenderRow" style="padding-top:10px">
    <div class="form-group" style="text-align: center">
        
    </div>

    @foreach (var item in Model.Themes)
    {
        if (i == 0)
        {
            @:<div class="row">
        }

        <div style="text-align: center">
            <div class="col-md-4">
                <p>
                    <a href="~/Tender/Create?id=@item.Id"><img src="~/Content/images/kats/@item.ImageName" class="tenderImg" width="110" height="80" /></a>
                </p>
                <p>
                    <h5>@Html.ActionLink(item.Theme, "Create", "Tender", new { @id = item.Id }, new { @style = "color: #07a7fa;", @class = "no_line" })</h5>
                </p>
            </div>
        </div>

        if (i == 2 || itemI == max)
        {
            @:</div>
        }

        if (i == 2)
        {
            i = 0;
        }
        else
        {
            i++;
        }

        itemI++;
    }
</div>
<div style="text-align: center;"><br>
    
           <div class="title-line">Как заказать услугу и выбрать подходящего исполнителя?</div>
  
</div>	


<div style="text-align: center;"></br>	
    
        <img src="~/Content/images/info-mini.svg" style="width: 100%" />
    
</div>

<div style="text-align: center;"><br>
    
           <div class="title-line">В чем очевидная выгода поиска исполнителей на нашем My-Tend.Com?</div>
  
</div>	
<h5><div style="color: #222222;">На нашем сайте НЕТ готовых объявлений, списков, рейтингов! Только конкретные предложения  под конкретный заказ!Вы лишь выбираете самое выгодное!</h5>
 <hr>
<h5><div style="color: #222222;">Вы не только  не переплачиваете общаясь напрямую с нужным исполнителем без посредников но и с большей вероятностью получаете скидки или бонусы, так как продажа на виду у коллег конкурентов диктует быть лучше и выгоднее.</h5>
 <hr>
<h5><div style="color: #222222;"> Только реальные и актуальные предложения под условия Вашего заказа! Вы не тратите время на общение с исполнителями которые уже заняты или им "мало денег", не надо обзванивать десятки объявлений объясняя одно и тоже.</h5>
 <hr>
<h5><div style="color: #222222;"> Конкурентная форма выбора исполнителя дает Вам хорошие предложения услуг и сервиса за вменяемые деньги.</h5>
 <hr>


