@model MyTend.Models.ListThemeTenderModel
@{
    ViewBag.Title = "У Вас скоро событие? Разместите свой заказ на Аукционе событий и выбирайте выгодные предложения!";
    var max = Model.Themes.Count() - 1;
    var i = 0;
    var itemI = 0;
}
<h1 style="color: #111111;"><strong>У ВАС СКОРО - ДЕНЬ РОЖДЕНИЯ, СВАДЬБА, КОРПОРАТИВ ИЛИ ВЕЧЕРИНКА?</strong></h1>
<h3 style="color: #555555">Хотите выбрать, сравнить цены, и выбрать наилучшее для Вас предложение и исполнителя услуги?</h3>

<br />

		 <div class="row">
            <div class="col-md-1"><img src="~/Content/images/newzayavka.png" width="60" height="60" /></div>
            <div class="col-md-11" style="line-height:20px">
                <div style="font-weight: bold; font-size: 17px;"><a href="/tender/index">Создайте заявку (тендер)</a></div>
                <div style="font-size: 14px;">
                  Заполните все вкладки заявки, описав  ипсолнителям все детали и бюджет <br />
				  от этого зависит какую цену и бонусы предложат исполнители .
				  
                </div>
 </div> </div>
			<br />		 <div class="row">
            <div class="col-md-1"><img src="~/Content/images/ispolnitely.png" width="60" height="60" /></div>
            <div class="col-md-11" style="line-height:20px">
                <div style="font-weight: bold; font-size: 17px;">Исполнители пишут предложения и соревнуются за Ваш заказ!</div>
                <div style="font-size: 14px;">
                 Учитывая детали Вашей заявки и предложения коллег-конкурентов исполнитеи  <br />
				  будут писать для Вас предложения цены и возможных бонусов!
                </div>
 </div> </div>
			<br />
				 <div class="row">
            <div class="col-md-1"><img src="~/Content/images/icon-win.png" width="60" height="60" /></div>
            <div class="col-md-11" style="line-height:20px"> 
                <div style="font-weight: bold; font-size: 17px;">Выбираете исполнителя предожившего наилучшие условия!</div>
                <div style="font-size: 14px;">
                  В течении нескольких дней вы знакомитесь с поступившими предложениями и<br />
				  выберите победителем исполнителя который предожил наилучшие условия исполнения Вашего заказа!
				  
                </div>
 </div> </div>
			<br />
			<div class="row">
            <div class="col-md-1"><img src="~/Content/images/icon-prazdnik.png" width="60" height="60" /></div>
            <div class="col-md-11" style="line-height:20px">
                <div style="font-weight: bold; font-size: 17px;">Созвонитесь, заключите договор, веселитесь!</div>
                <div style="font-size: 14px;">
                 Объявив победителя конкурса, созвонитесь и встретьтесь с ним, для заключения договора!<br />
				
				 Дождавшись день Вашего события - веселитесь и будьте счастливы!<br />
				
				 
				  
                </div>
 </div> </div>

			<br />
<div style="text-align: center;">
    
           <div class="title-line">Выберите необходимую услугу</div>
  
</div>

<div class="tenderRow" style="padding-top:10px">
    <div class="form-group" style="text-align: center">
        
    </div>

    @foreach (var item in Model.Themes)
    {
        if (i == 0)
        {
            @:<div class="row">
        }

        <div style="text-align: center">
            <div class="col-md-4">
                <p>
                    <a href="~/Tender/Create?id=@item.Id"><img src="~/Content/images/kats/@item.ImageName" class="tenderImg" width="110" height="80" /></a>
                </p>
                <p>
                    <h5>@Html.ActionLink(item.Theme, "Create", "Tender", new { @id = item.Id }, new { @style = "color: #07a7fa;", @class = "no_line" })</h5>
                </p>
            </div>
        </div>

        if (i == 2 || itemI == max)
        {
            @:</div>
        }

        if (i == 2)
        {
            i = 0;
        }
        else
        {
            i++;
        }

        itemI++;
    }
</div>

<br />
    <h3 style="color: #f99313;">	

Пять причин полюбить My-Tend!</h3> 
                            
                           	<br />

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-1"><img src="~/Content/images/icon-1.png" width="50" height="50" /></div>
            <div class="col-md-11" style="line-height:18px">
                <div style="font-weight: bold; font-size: 17px;">Наша идея и философия</div>
                <div style="font-size: 14px;">
                    Конкурентная форма выбора исполнителя дает Вам хорошие предложения услуг и сервиса за вменяемые деньги. Конкурентная форма выбора исполнителя дает Вам хорошие предложения услуг и сервиса за вменяемые деньги.
                </div>
            </div>
        </div><br />
		  <div class="row">
            <div class="col-md-1"><img src="~/Content/images/icon-2.png" width="50" height="50" /></div>
            <div class="col-md-11" style="line-height:18px">
                <div style="font-weight: bold; font-size: 17px;">Побеждает не самое дешевое, а самое выгодное и интересное предложение!</div>
                <div style="font-size: 14px;">
                 У вас не торгуются у кого дешевле, у нас выявляют самое выгодное, интересное и конкурентноспособеное предложение!
				 Победителем конкурсного-торга становитсяя предложивший - лучший сценарий, цену, условия, бонусы и не только. Так же на выбор исполнителя влияет портфолио  и описание услуг в визитке.
                </div>
            </div>
        </div><br />
		  <div class="row">
            <div class="col-md-1"><img src="~/Content/images/icon-3.png" width="50" height="50" /></div>
            <div class="col-md-11" style="line-height:18px">
                <div style="font-weight: bold; font-size: 17px;">Abc</div>
                <div style="font-size: 14px;">
                    Конкурентная форма выбора исполнителя дает Вам хорошие предложения услуг и сервиса за вменяемые деньги. Конкурентная форма выбора исполнителя дает Вам хорошие предложения услуг и сервиса за вменяемые деньги.
                </div>
            </div>
        </div><br />
        <div class="row">
            <div class="col-md-1"><img src="~/Content/images/icon-4.png" width="50" height="50" /></div>
            <div class="col-md-11" style="line-height:18px">
                <div style="font-weight: bold; font-size: 17px;">Abc</div>
                <div style="font-size: 14px;">
                    Конкурентная форма выбора исполнителя дает Вам хорошие предложения услуг и сервиса за вменяемые деньги. Конкурентная форма выбора исполнителя дает Вам хорошие предложения услуг и сервиса за вменяемые деньги.
                </div>
            </div>
        </div><br />
		 <div class="row">
            <div class="col-md-1"><img src="~/Content/images/icon-5.png" width="50" height="50" /></div>
            <div class="col-md-11" style="line-height:18px">
                <div style="font-weight: bold; font-size: 17px;">Abc</div>
                <div style="font-size: 14px;">
                    Конкурентная форма выбора исполнителя дает Вам хорошие предложения услуг и сервиса за вменяемые деньги. Конкурентная форма выбора исполнителя дает Вам хорошие предложения услуг и сервиса за вменяемые деньги.
                </div>
            </div>
        </div><br />
    </div>
	
    <div class="col-md-1"></div>
</div>
<div style="text-align: center;"><br>
    
           <div class="title-line">В чем очевидная выгода поиска исполнителей на нашем My-Tend.Com?</div>
  
</div>	
<h5><div style="color: #222222;">На нашем сайте НЕТ готовых объявлений, списков, рейтингов! Только конкретные предложения  под конкретный заказ!Вы лишь выбираете самое выгодное!</h5>
 <hr>
<h5><div style="color: #222222;">Вы не только  не переплачиваете общаясь напрямую с нужным исполнителем без посредников но и с большей вероятностью получаете скидки или бонусы, так как продажа на виду у коллег конкурентов диктует быть лучше и выгоднее.</h5>
 <hr>
<h5><div style="color: #222222;"> Только реальные и актуальные предложения под условия Вашего заказа! Вы не тратите время на общение с исполнителями которые уже заняты или им "мало денег", не надо обзванивать десятки объявлений объясняя одно и тоже.</h5>
 <hr>
<h5><div style="color: #222222;"> Конкурентная форма выбора исполнителя дает Вам хорошие предложения услуг и сервиса за вменяемые деньги.</h5>
 <hr>