@model MyTend.Models.ListThemeTenderModel
@{
    ViewBag.Title = "У Вас скоро праздничное событие? Разместите свой заказ на Аукционе событий и выбирайте выгодные предложения от профессионалов Event-индустрии!";
    var max = Model.Themes.Count() - 1;
    var i = 0;
    var itemI = 0;
}
<meta name="yandex-verification" content="38cfbdd6deec697c" />

<h1 style="color: #000000;"><strong>У Вас скоро праздничное событие?</strong></h1>
<h5 style="color: #777777;">Проведите конкурс на право исполнения услуги для Вашего праздника!</h5>
<div class="form-group" style="text-align: left">

       <a href="~/tender/map" target="_blank"><img src="@Url.Content("~/Content/images/ispolnitelirussia2.svg")" height="300">
       
		    </a></div> 
		  
			
<div class="row">
            <div class="col-md-2"><img src="~/Content/images/info1.svg" width="100" height="100" /></div>
            <div class="col-md-8" style="line-height:20px">
                <div style="font-weight: bold; font-size: 17px;"><a href="/tender/index">Создайте заявку</a></div>
				<br />
                <div style="font-size: 15px;">
                  Заполните заявку, расскажите о будущем событии, опишите детали, дату, бюджет и нажмите - отправить!
				  <br />
				  Сайт пригласит к участию в конкурсе по вашей заявке исполнителей нужной услуги в нужном Вам городе.
		
				  	  
                </div>
 </div> </div>
			<br />		 <div class="row">
            <div class="col-md-2"><img src="~/Content/images/info2.svg" width="100" height="100" /></div>
            <div class="col-md-8" style="line-height:20px">
                <div style="font-weight: bold; font-size: 17px;">Исполнители пишут предложения и соревнуются за Ваш заказ.</div>
				<br />
                <div style="font-size: 15px;">
                   
                       
                           Учитывая детали Вашей заявки и предложения коллег-конкурентов, исполнители 
                            в течении нескольких дней  пишут для Вас предложения и соревнуются между собой не только в цене, но и в том, как интересно
							и необычно они готовы предоставить нужную вам услугу.
						
                     
                        
                  
                 
                </div>
 </div> </div>
			<br />
				 <div class="row">
            <div class="col-md-2"><img src="~/Content/images/info3.svg" width="100" height="100" /></div>
            <div class="col-md-8" style="line-height:20px"> 
                <div style="font-weight: bold; font-size: 17px;">Сравниваете предложения и выбираете победителя конкурса!</div>
				<br />
                <div style="font-size: 15px;">
					
							Вы знакомитесь с поступившими предложениями, сравниваете их и решаете, кто же сделал самое выгодное и интересное предложение!
							<br />	
                            Выбрав победителя конкурса, нажмите кнопку "выбрать победителем" и созвонитесь для обсуждения заключения сделки и оплаты.
                       
                      
                  
				  
				
                </div>
 </div> </div>
			<br />
			<div class="row">
            <div class="col-md-2"><img src="~/Content/images/tort3.svg" width="100" height="100" /></div>
            <div class="col-md-8" style="line-height:20px"> 
                <div style="font-weight: bold; font-size: 17px;">Заключаете договор и ждете день праздничного события!</div>
				<br />
                <div style="font-size: 15px;">
					
                           Связавшись с выбранным исполнителем, обсуждаете все детали будущего праздника.
							<br />	
                           После этого остается самое  сложное - с нетерпением  ожидать  день праздничного события.
                       
                      
                  
				  
				
                </div>
 </div> </div>
                            
	<br />
	
<div style="text-align: center;">
    
           <div class="title-line"> Выберите необходимую услугу</div>
  
</div>

<div class="tenderRow" style="padding-top:10px">
    <div class="form-group" style="text-align: center">
        
    </div>

    @foreach (var item in Model.Themes)
    {
        if (i == 0)
        {
            @:<div class="row">
        }

        <div class="text-center">
            <div class="col-md-4">
                    <div style="margin: auto;background-size: cover; width: 180px; height: 180px; background-image:url(../Content/images/kats2/@item.ImageName);">
                        <a href="~/Tender/Create?id=@item.Id"><img src="~/Content/images/kats2/@item.ImageName2" class="tenderImg" width="180" height="180" /></a>
                    </div>
                <p>
                   <h5 style="color: #000000;">@Html.ActionLink(item.Theme, "Create", "Tender", new { @id = item.Id }, new { @style = "", @class = "no_line" })</h5>
                </p>
            </div>
        </div>

        if (i == 2 || itemI == max)
        {
            @:</div>
        }

        if (i == 2)
        {
            i = 0;
        }
        else
        {
            i++;
        }

        itemI++;
    }
</div>

<br />

 <h3 style="color: #2792e4;"><strong> Сайт, где исполнители соревнуются за праздник заказчика!</strong></h3>
<h5 style="color: #777777;">Собственно, в чём идея и суть  сайта?</h5>
  <div class="row">
            <div class="col-md-2"><img src="~/Content/images/logo.svg" width="120" height="120" /></div>
            <div class="col-md-8" style="line-height:18px">
                
		
                <div style="font-size: 14px;">
				<br />
				<li ><strong>Аукцион событий My-Tend.Com</strong> - сайт для заказа, сравнения и выбора праздничных услуг ,
				в основе которого конкурсная форма отбора предложений заказчиком. </li >
				<br />
				
                 <li>
                 На нашем сайте Вы увидите наилучшие на Ваш взгляд предложения, адресованные Вашей заявке на необходимую услугу / событию! </li>
				 <br />
				<li>Вам не придется тратить свое время обзванивая десятки менеджеров или отдельных исполнителей услуг, 
                 пытаясь сравнить кто выгоднее, интереснее, или выбивать скидки - они сами напишут и будут "соревноваться" 
                 за Ваш  заказ, делая интересные предложения.</li>
                 <br />
				<li >Конкурс на правоисполнение услуги - это не погоня за "самым дешёвым предложением", - это возможность определить самое выгодное и интересное предложение для заказчика.
                </li >
			
				<br />
				
				<li >
                 Вы можете заказать как проведение торжества в целом ( выбрав агенство) так и выбрать отдельные виды услуг и их исполнителей. </li >
				<br />
				<li >Желание исполнителей показать себя и свои услуги с более выгодной стороны по отношению к коллегам-конкурентам, 
				а так же желание победить в конкурсе за Ваш заказ, предоставляет Вам массу выгодных предложений по нужной Вам услуге! </li >
				<br />
				
				<li >
                 Мы не будем никого рекомендовать, не будем показывать готовые обобщенные объявления. 
				 Вам не придется искать и выискивать необходимое, исполнители сами напишут вам предложения, написанные специально для Вас. 
				 Вам остается лишь рассказать им о Вашем событии! </li >
				<br />
				<li >Идея и философия сайта состоит в том, что бы предложения исполнителей писались индивидуально 
				под конкретное торжество каждого заказчика, поэтому мы принципиально не создаем готовых списков объявлений, сценариев и т.д.</li >
				<br />
			    <li >За Ваш заказ / праздник будут соревноваться предложениями:<br />
				-цены <br />
				-дополнительных услуг<br />
				-креативными подходами<br />
				-отзывами о проведенных заказах <br />
				-и не только. </li >
				<br />
				
				
	
			 <div style="font-weight: bold; font-size: 17px;"><a href="/tender/index">Закажите праздник для себя и своих близких!</a></div>
				
			
                   
					
					
				 </div>
            </div>
        </div>	

		
		<br />
		<br />
        
	
   