@model MyTend.Models.ListThemeTenderModel
@{
    ViewBag.Title = "У вас скоро праздничное событие? Не знаете к кому обратиться и где выгодно?Разместите свой заказ на Аукционе событий и выбирайте выгодные предложения!";
    var max = Model.Themes.Count() - 1;
    var i = 0;
    var itemI = 0;
}


<div style="text-align: center;"><br>
    
           <div class="title-line">Выберите услуги</div>
  
</div>

<div class="tenderRow" style="padding-top:10px">
    <div class="form-group" style="text-align: center">
        
    </div>

    @foreach (var item in Model.Themes)
    {
        if (i == 0)
        {
            @:<div class="row">
        }

        <div style="text-align: center">
            <div class="col-md-4">
                <p>
                    <a href="~/Tender/Create?id=@item.Id"><img src="~/Content/images/kats/@item.ImageName" class="tenderImg" width="110" height="80" /></a>
                </p>
                <p>
                    <h5>@Html.ActionLink(item.Theme, "Create", "Tender", new { @id = item.Id }, new { @style = "color: #07a7fa;", @class = "no_line" })</h5>
                </p>
            </div>
        </div>

        if (i == 2 || itemI == max)
        {
            @:</div>
        }

        if (i == 2)
        {
            i = 0;
        }
        else
        {
            i++;
        }

        itemI++;
    }
</div>

