@model MyTend.Models.ListThemeTenderModel
<meta property="og:image" content="http://my-tend.com/Content/images/OGndex.png" />
<meta name="Description" content="MY-TEND.COM Заказ банкетного зала, ведущего, dj, декоратора, артистов на праздник">
<meta name="Keywords" content=" май тенд, my-tend,  татарстан, ведущий, ведущий на свадьбу, ведущий казань, диджей казань, свадьба, Russia, Россия, Коттедж посуточно, Коттедж казань, Банкетный зал, Тамада, Тамада Казань, Банкетный зал, Банетный зал Казань, фотограф, фотограф на свадьбу, фотограф казань, оформление зала, организатор свадьбы, event казань, агенство казань "> 
@{
    ViewBag.Title = "Сайт, где исполнитель Event услуг, соревнуется за праздник заказчика ";
    var max = Model.Themes.Count() - 1;
    var i = 0;
    var itemI = 0;
}
<div>
    <div class="row">
        <div class="col-lg-12 text-center">
            @Html.ActionLink("Инструкция заполнения заявок", "Instruction", "Docs")
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-12" style="text-align: center;">
        <img src="~/Content/images/info-mini.svg" height="35" />
    </div>
</div>

<div class="tenderRow" style="padding-top:40px">

    @foreach (var item in Model.Themes)
    {
        if (i == 0)
        {
            @:<div class="row">
        }

        <div style="text-align: center">
            <div class="col-md-4">
                <p>
                    <a href="~/Tender/Create?id=@item.Id"><img src="~/Content/images/kats/@item.ImageName" class="tenderImg" width="150" height="120" /></a>
                </p>
                <p>
                    <strong>@Html.ActionLink(item.Theme, "Create", "Tender", new { @id = item.Id }, new { @style = "color: #245071;" })</strong>
                </p>
            </div>
        </div>

        if (i == 2 || itemI == max)
        {
            @:</div>
        }

        if (i == 2)
        {
            i = 0;
        }
        else
        {
            i++;
        }

        itemI++;
    }
</div>