@model MyTend.Models.ListThemeTenderModel
@{
    ViewBag.Title = "У Вас скоро праздничное событие? Разместите свой заказ на Аукционе событий и выбирайте выгодные предложения от профессионалов Event-индустрии!";
    var max = Model.Themes.Count() - 1;
    var i = 0;
    var itemI = 0;
}
<meta name="yandex-verification" content="38cfbdd6deec697c" />
<br />
<div class="form-group" style="text-align: left">
       <a href="~/tender/map" target="_blank">
        <img src="~/Content/images/ispolnitelirussia2.svg" style="width: 80%" />
		    </a></div>
 <h3 style="color: #000000;"><strong>Сайт, где исполнители, соревнуются за праздник заказчика!</strong></h3>
<h5 style="color: #000000;">Всегда найдется исполнитель нужной услуги, который готов  предложить для Вас наилучшие  условия, цены и выбор!</h5>

<br />
<div class="row">
            <div class="col-md-1"><img src="~/Content/images/newtender.svg" width="70" height="70" /></div>
            <div class="col-md-8" style="line-height:20px">
                <div style="font-weight: bold; font-size: 17px;"><a href="/tender/index">Создайте заявку (тендер)</a></div>
				<br />
                <div style="font-size: 15px;">
                  Заполните заявку, расскажите о будущем событии, опишите детали, дату, бюджет и нажмите - отправить!
				  <br />
				  Сайт пригласит к участию в конкурсе по вашей заявке исполнителей нужной услуги в нужном Вам городе.
		
				  	  
                </div>
 </div> </div>
			<br />		 <div class="row">
            <div class="col-md-1"><img src="~/Content/images/ispolnitely.svg" width="70" height="70" /></div>
            <div class="col-md-8" style="line-height:20px">
                <div style="font-weight: bold; font-size: 17px;">Исполнители пишут предложения и соревнуются за Ваш заказ.</div>
				<br />
                <div style="font-size: 15px;">
                   
                       
                           Учитывая детали Вашей заявки и предложения коллег-конкурентов, исполнитеи 
                            в течении нескольких дней  пишут для Вас предложения и соревнуются между собой не только в цене, но и в том, как интересно
							и необычно они готовы предоставить нужную вам услугу.
						
                     
                        
                  
                 
                </div>
 </div> </div>
			<br />
				 <div class="row">
            <div class="col-md-1"><img src="~/Content/images/winer.svg" width="70" height="70" /></div>
            <div class="col-md-8" style="line-height:20px"> 
                <div style="font-weight: bold; font-size: 17px;">Сравниваете предложения и выбираете победителя конкурса!</div>
				<br />
                <div style="font-size: 15px;">
					
							Вы знакомитесь с поступившими предложениями, сравниваете их, и решаете, кто же сделал самое выгодное и интересное предложение!
							<br />	
                            Выбрав победителя конкурса, нажмите кнопку " выбрать победителем" и созвонитесь для обсуждения заключения сделки и оплаты.<br />
                       
                      
                  
				  
				
                </div>
 </div> </div>
			<br />
			<div class="row">
            <div class="col-md-1"><img src="~/Content/images/prazdnik.svg" width="70" height="70" /></div>
            <div class="col-md-8" style="line-height:20px"> 
                <div style="font-weight: bold; font-size: 17px;">Заключаете договор и ждете день праздничного события!</div>
				<br />
                <div style="font-size: 15px;">
					
                           Связавшись с выбранным исполнителем, обсуждаете все детали будущего праздника.
							<br />	
                           После этого, остается самое  сложное - с нетерпением  ожидать  день праздничного события.
                       
                      
                  
				  
				
                </div>
 </div> </div>
			<br />
			
			
		
<div style="text-align: center;">
    
           <div class="title-line"> Выберите необходимую услугу и проведите конкурсный-торг на право исполнения заказа</div>
  
</div>

<div class="tenderRow" style="padding-top:10px">
    <div class="form-group" style="text-align: center">
        
    </div>

    @foreach (var item in Model.Themes)
    {
        if (i == 0)
        {
            @:<div class="row">
        }

        <div class="text-center">
            <div class="col-md-4">
                    <div style="margin: auto;background-size: cover; width: 180px; height: 180px; background-image:url(../Content/images/kats2/@item.ImageName);">
                        <a href="~/Tender/Create?id=@item.Id"><img src="~/Content/images/kats2/@item.ImageName2" class="tenderImg" width="180" height="180" /></a>
                    </div>
                <p>
                   <h5 style="color: #000000;">@Html.ActionLink(item.Theme, "Create", "Tender", new { @id = item.Id }, new { @style = "", @class = "no_line" })</h5>
                </p>
            </div>
        </div>

        if (i == 2 || itemI == max)
        {
            @:</div>
        }

        if (i == 2)
        {
            i = 0;
        }
        else
        {
            i++;
        }

        itemI++;
    }
</div>

<br />
                            
                           	<br />
							<h3><strong>Причиты полюбить MY-TEND.COM </strong><h3 />

  <div class="row">
            <div class="col-md-1"><img src="~/Content/images/vedushiy.svg" width="60"" height="60"" /></div>
            <div class="col-md-9" style="line-height:18px">
                
				<br />
                <div style="font-size: 14px;">
				<br />
				<li >Желание исполнителей показать себя и свои услуги с более выгодной стороны по отношению к колегам конкурентам а так же желание победить
				в конкурсе за Ваш заказ, предоставляет Вам массу выгодных предложений по нужной Вам услуге!</li >
				<br />
				<li >Мы не будем никого рекомендовать, не будем показывать готовые, обобщенные объявления.
				ам не придется искать, исполнители сами напишут вам предложение.
				Только рассскажите им о Вашем  будущем событиии!</li >
				<br />
				<li >  Идея и философия сайта расчитана на то, что  бы предложения исполнителей писались только по мере надобности на услуги заказчика,
					поэтому мы принципиально не делаем готовые списки объявлений.</li >
				<br />
				<li >Конкурс на право исполнения услуги, это не погоня за "дешевой" услугой. Это желание определить самое
				выгодное и иинтересное предложение для заказчика.</li >
				<br />
				<li >Победу одержат - лучшие условия, цена, сценарий, креативный подход к клиенту,бонусы и не только!</li >
				<br />
				<li >	Перед Вами  окажется масса предложений по нужной услуге, созданные именно для Вас - Выбирайте лучшее для себя!</li >
				<br />
	
			
				
			
                   
					
					
				 </div>
            </div>
        </div>	<br />
		
		<br />
		<br />
        
	
   