@model MyTend.Models.SupportMessageModel

@{
    ViewBag.Title = "Связь с Администрацией My-Tend.Com";
}
<h1>Связь с Администрацией сайта My-Tend.Com</h1>

<h2>По нижеприведенным поводам просим Вас писать нам на электронный  адрес:</h2>

<div class="form-group" style="text-align: center">
    <h2><div style="color: #02a6c9;">Support@my-tend.com</h2>
</div>
<li>Предложения по улучшению работы сайта My-Tend.Com.</li>
<li>Желание сотрудничества и размещения рекламы на сайте.</li>
<li>Добавить населенный пункт или тему/категорию торгов (если с этим согласится Администрация сайта) </li>
<li>Проблемы связанные с оплатой или платным меню.</li>
<li>Системные  ошибки в работе сайта.</li>
<li>Жалобы на поведение пользователей (рассматриваются исключительно с изображением нарушения)</li>
<div style="color: #d91818; font-weight: bold;">Внимание! </div>
    Все письма по теме жалоб, ошибок или проблем оплаты должны сопровождаться изображениями Print Screen (или фото экрана). Жалобы без подтверждения изображением не рассматриваются,хоть и учитываются.
</p>
<div style="color: #000000; font-weight: bold;">О сроках рассмотрения сообщений</div>


Мы ответим на Ваше сообщение в сроки, необходимые для подготовки ответа или проведения разбирательства.
</p>

<div style="color: #d91818; font-weight: bold;">Администрация сайта вправе не отвечать, если:</div>

<li>
    содержание обращения нарушает законодательство РФ;
</li>
<li>
    содержание обращения противоречит основам морали и нравственности, несет оскорбительный характер;
</li>
<li>
    содержание обращения не относится к деятельности сайта My-Tend.Com.
</li><p>
