@model MyTend.Models.SupportMessageModel

@{
    ViewBag.Title = "Связь с Администрацией My-Tend.Com";
}


<h1 style="color: #000000;"><STRONG>Обратная связь</STRONG></h1>
<br />

		 <div class="row">
            <div class="col-md-2"><img src="~/Content/images/vedushiy.svg" width="100" height="100" /></div>
            <div class="col-md-8" style="line-height:20px">
                <div style="font-weight: bold; font-size: 17px;">Пишите нам на адрес :</div>
                <div style="font-size: 14px;">
                 <div class="form-group" style="text-align: left">
    <h4><div style="color: #0babfb;">Support@my-tend.com</h4>
</div>
<li>Предложения по улучшению работы сайта My-Tend.Com.</li>
<li>Желание сотрудничества и размещения рекламы на сайте.</li>
<li>Проблемы, связанные с оплатой или платным меню.</li>
<li>Системные  ошибки в работе сайта.</li>
<li>Жалобы на поведение пользователей (рассматриваются исключительно с изображением нарушения)</li>
   <br />
<p>
   <img src="~/Content/images/lamp.svg"width="16" height="20" />  Все письма по теме жалоб, ошибок или проблем оплаты должны сопровождаться изображениями Print Screen (или фото экрана). Жалобы без подтверждения изображением не рассматриваются,хоть и учитываются.
</p>

   <br />
<p>
Мы ответим на Ваше сообщение в сроки, необходимые для подготовки ответа или проведения разбирательства.
</p>

<div style="color: #f61f33; font-weight: bold;">Администрация сайта вправе не отвечать, если:</div>

<li>
    содержание обращения нарушает законодательство РФ;
</li>
<li>
    содержание обращения противоречит основам морали и нравственности, несет оскорбительный характер;
</li>
<li>
    содержание обращения не относится к деятельности сайта My-Tend.Com.
</li><p>
				  
                </div>
 </div> </div>

