@model MyTend.Models.SupportMessageModel

@{
    ViewBag.Title = "Поддержка";
}

<h2>Поддержка, обратная связь</h2>

<div style="color: #65267a; font-weight: bold;">Уважаемые пользователи!</div>
<p>Данная страница для обратной связи с администрацией сайта «Я предлагаю». Воспользуйтесь ей, чтобы задать интересующий Вас вопрос, предложение или жалобу.</p>


<div style="color: #65267a; font-weight: bold;">По нижеприведенным поводам просим Вас писать нам на электронные  адреса: </div>
<p>

    <div style="color: #245071; font-weight: bold;">Support@my-tend.com</div>
    <li>Предложения по улучшению работы сайта «Я предлагаю».</li>
    <li>Добавить услугу в список.</li>
    <li>Предложения сотрудничества и рекламы.</li>
    <li>Добавить населенный пункт или тему/категорию торгов (если с этим согласится Администрация сайта) </li>
</p>

<div style="color: #245071; font-weight: bold;">Help@my-tend.com</div>
<li>Проблемы связанные с оплатой или платным меню.</li>
<li>Системные  ошибки в работе сайта.</li>
<li>Жалобы на поведение пользователей (рассматриваются исключительно с изображением нарушения)</li>
<div style="color: #65267a; font-weight: bold;">Внимание! </div>
Все письма по теме жалоб, ошибок или проблем оплаты должны сопровождаться изображаниями Print Screen (или фото экрана). Жалобы без подтверждения изображением не рассматриваются,хоть и учитываются.
</p>
<div style="color: #65267a; font-weight: bold;">О сроках рассмотрения сообщений</div>


Мы ответим на Ваше сообщение в сроки, необходимые для подготовки ответа или проведения разбирательства.
</p>

<div style="color: #65267a; font-weight: bold;">Администрация сайта вправе не отвечать, если:</div>

<li>
    содержание обращения нарушает законодательство РФ;
</li>
<li>
    содержание обращения противоречит основам морали и нравственности, несет оскорбительный характер;
</li>
<li>
    содержание обращения не относится к деятельности сайта «Я предлагаю».
</li><p>
