@{
    ViewBag.Title = "	Заказать ведущего, тамаду. банкетный зал, фотографа на конкурсной основе";
}
<div class="form-group" style="text-align: center">
    <img src="~/Content/images/aboutWork.svg" style="width: 60%" />
    <h1><div style="color: #1db7de;"> Вы ведущий, DJ, менеджер банкетного зала, артист, декоратор и.т.д?</h1>
    <h3>Принимайте активное участие в конкурсах (аукционных-торгах) на право оказания Event-услуг для заказчика!</h3>
		</div>
<div class="row aw-block">
    <div class="col-md-3">
        <div class="aw-cont">
            <img src="~/Content/images/inf-2-1.svg" />
        </div>
        <div class="aw-text">
            <div class="abw-head">
                <strong>Регистрируетесь на сайте </strong>
            </div>
            <div class="abw-text">
                Подробно заполняете все пункты визитки: портфолио, об услуге, контактные данные. Ваша визитка - Ваше лицо во время проведения конкурса (торга) и выбирать исполнителя могут исходя из данных в визитке!               <br />
                </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="aw-cont">
            <img src="~/Content/images/inf-2-2.svg" />
        </div>
        <div class="aw-text">
            <div class="abw-head">
                <strong>Оформляете подписку и оплачиваете доступ к участию в конкурсных торгах.</strong>
            </div>
            <div class="abw-text">
                Что бы система присылала приглашения на участие в конкурсных-торгах только по сфере Вашей деятельности, Вам необходимо "рассказать" ей какие именно услуги Вы оказываете и в каких регионах/городах. Далее, оплачиваете "торговый взнос" 1000 рублей  за 2 календарных месяца. После этого в меню откроются списки заявок от заказчиков а так же система  даст право принимать участие в конкурсных-торгах в роли "продавца услуг" (меню "Редактировать визитку".
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="aw-cont">
            <img src="~/Content/images/inf-2-3.svg" />
        </div>
        <div class="aw-text">
            <div class="abw-head">
                <strong> Участие в конкурсных-торгах"</strong>
            </div>
            <div class="abw-text">
              Получив приглашение ( по e-mail) на участие в конкурсных-торгах, Вы решаете, желаете ли вы "соревноваться за этот заказ". Исходя из условий в  заявке и предложений от конкурентов, делаете заказчику свое предложение с указанием всех ваших преимуществ! При необходимости, ознакомившись с  предложениями коллег-конкурентов, Вы можете сделать ещё одно предложение.</div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="aw-cont">
            <img src="~/Content/images/inf-2-4.svg" />
        </div>
        <div class="aw-text">
            <div class="abw-head">
                <strong>У всех равные шансы на победу в торгах!</strong>
            </div>
            <div class="abw-text">
               У всех исполнителей услуг одинаковые шансы и возможности. Ваш успех зависит от того, как быстро вы ответили, насколько интересно предлагаете, как выгодно отличаетесь от коллег-конкурентов. Если ваше предложение оказывается самым выгодным, заказчик объявляет вас победителем и связывается с вами для обсуждения/совершения возможной сделки.
            </div>
        </div>
    </div>
</div>
<hr>
<h3><div style="color: #873d83;"><div class="form-group" style="text-align: center">В ЧЕМ ОЧЕВИДНАЯ ВЫГОДА ИСПОЛЬЗОВАНИЯ САЙТА MY-TEND.COM?</h3>
<hr>
 <h5>У нас нет готовых списков объявлений,  которые ждут пока их заметит потенциальный заказчик среди одинаково похожих! </h5>
<h5>И поэтому  ТОЛЬКО предложения под конкретный заказ!
Наш сайт дает вам возможность не потеряться среди миллионов одинаковых объявлений а показать самые лучшие стороны Вас и вашей услуги во время тендеров  от юбиляров, молодожен, сотрудников компаний.</h5>
<hr> 
<h5>Зная условия заявки от заказчиков и прочитав предложения от коллег-конкурентов на этот заказ, Вы решаете нужен Вам этот заказ или нет. </h5>
<hr>
<h5>Это может помочь Вам более эффективно вести переговоры с потенциальным заказчиком и сделать для него предложение, от которого он не сможет отказаться!</h5>
<hr>
<h5>Вы оплачиваете 1000 рублей за 2 месяца доступа к заявкам и ни копейки больше!   </h5>

<hr>
<div class="form-group" style="text-align: center">
<a href="http://my-tend.com/Docs/AboutWork" target="_blank"><strong>Если у Вас скоро праздник и Вы желаете заказать услугу выбрав исполнителя усллуги</strong></a></div>
<div class="row">
    <div class="col-md-12">
        <div style="text-align: center;">
            @Html.ActionLink("Перейдите к регистрации", "Registration", "Account", null, new { @class = "btn btn-custom-red", @style = "  margin-top: 10px;" })
        </div>
    </div>
</div>

