@{
    ViewBag.Title = "Как работает система торгов  «Я ПРЕДЛАГАЮ»";
}
<div class="form-group" style="text-align: center">
    <h1><div style="color: #02a6c9;">MY-TEND -АУКЦИОН СОБЫТИЙ ДЛЯ ВЫБОРА И ЗАКАЗА АРТИСТОВ, БАНКЕТНОГО ЗАЛА, ИТД</h1>
</div>
<div class="form-group" style="text-align: center">
    <h2><div style="color: #000000;">Если у Вас намечается свадьба, день рождение, корпоратив и Вам нужно его организовать:</h2>
</div>
<div class="row aw-block">
    <div class="col-md-3">
        <div class="aw-cont">
            <img src="~/Content/images/inf1.svg" />
        </div>
        <div class="aw-text">
            <div class="abw-head">
                <strong>Заполняете  заявку </strong>
            </div>
            <div class="abw-text">
                Заполняете заявку через сайт или мобильный телефон — подробно описываете Ваше событие, указываете местоположение, время, количество гостей  и примерный бюджет который вы планируете потратить.
                <br />
                <a class="btn btn-custom-red header-btn" href="~/Tender/Index">Оставьте заявку <br>испонителям</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="aw-cont">
            <img src="~/Content/images/inf2.svg" />
        </div>
        <div class="aw-text">
            <div class="abw-head">
                <strong>Исполнители предлагают условия исполнения Вашего заказа </strong>
            </div>
            <div class="abw-text">
                После того как вы отправили заявку, система приглашает Исполнителей принять участие в торге по Вашей  заявке. Исполнители  которые подписаны на услугу и город которые вы указали - делают Вам предложения.
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="aw-cont">
            <img src="~/Content/images/inf3.svg" />
        </div>
        <div class="aw-text">
            <div class="abw-head">
                <strong>    Выбираете самое выгодное </strong>
            </div>
            <div class="abw-text">
                В течении нескольких дней следите за тем как поступают предложения  от продавцов. При необходимости задаете им вопросы.
                Дождавшись максимальное количество предложений, Вы - выбираете самое выгодное и нажимаете кнопку "ВЫБРАТЬ ПОБЕДИТЕЛЕМ".
                <br />
                <a class="btn btn-custom-aqua header-btn" href="~/Tender/Index">Проверить предложения <br>от исполнителей</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="aw-cont">
            <img src="~/Content/images/inf4.svg" />
        </div>
        <div class="aw-text">
            <div class="abw-head">
                <strong>Созваниваетесь, встречаетесь, заключаете сделку </strong>
            </div>
            <div class="abw-text">
                Договариваетесь о сделке по телефону, указанному в визитке победителя вашей заявки. Совершаете сделку при личной встрече, на условиях которые нужный исполнитель предложил Вам на нашем сайте.
            </div>
        </div>
    </div>
</div>
<h4>Выбор победителя заявки/аукцион  может зависеть не только от предложенно цены, но и  от дополн</h4>
<div class="form-group" style="text-align: center">
    <img src="~/Content/images/aboutWork.svg" style="width: 60%" />
    <h2 style="color: #000000;">Если Вы ведущий, DJ, менеджер банкетного зала, артист итд:</h2>
</div>
<p>1. <strong>Регистрируетесь на сайте</strong>.</p>

<p> Чтобы стать исполнителем услуг и <strong>получить доступ к заявкам от заказчиков</strong>, вам необходимо:</p>

<ul>
    <li>пройти регистрацию, полностью заполнить все вкладки контактной информации.</li>
    <li>загрузить фотографии в портфолио.</li>
    <li>заполнить рассказ о себе или своей услуге в вкладке «Об услуге».</li>
</ul>
<p> 2. Далее <strong>что бы получить доступ к заявкам от заказчиков</strong>, Вам необходимо:</p>

<ul>
    <li>подписаться на заявки от заказчиков , выбрав в списке услуг те, которые Вы оказываете  (меню-Редактирование визитки).</li>
    <li>Подпишитесь на города, в которых вы готовы оказывать/продавать свои услуги (меню-Редактирование визитки)..</li>
    <li>Оплачиваете торговый взнос 1000 рублей (за 2 месяца доступа к заявкам и участии в аукционных-торгах), удобным для вас способом, в меню «Доступ К Заявкам от Заказчиков»</li>
</ul>
<p>
    2. <strong>После этого Вам откроется меню, где формируется список заявок от заказчиков</strong> по выбранным в подписке критериям.
    (Наполнение списка зависит от спроса заказчиков а не от работы сайта)
</p>
<p>3. На основании условий покупателя и ваших конкурентов <strong>делаете покупателю свое предложение</strong> с указанием всех ваших преимуществ.</p>
<p>4. Если ваше предложение оказывается самым выгодным, <strong>заказчик объявляет вас победителем</strong> и связывается с вами для обсуждения/совершения возможной сделки.</p>
<div style="color: #cc0001; font-weight: bold;">Во время торгов у исполнителей услуг нет дополнительных платных привелегий.</div>
<p>
    У всех исполнителей услуг одинаковые шансы и возможности.
    Ваш успех зависит от того, как быстро вы ответили, насколько интересно предлагаете, как выгодно отличаетесь от конкурентов.
    <div style="color: #01bdd9; font-weight: bold;">Что в итоге получаете Вы:</div>
<p>Наш сайт дает вам возможность не потеряться среди миллионов одинаковых объявлений и показать самые лучшие стороны вашей услуги. Зная потребности и возможности клиента, вы сразу определяете, нужен вам этот заказ или нет. На нашем сайте у вас будет возможность увидеть, как <strong>предлагают свои услуги ваши конкуренты</strong>. это может помочь Вам более эффективно вести переговоры с потенциальным заказчиком.</p>
<div class="row">
    <div class="col-md-12">
        <div style="text-align: center;">
            @Html.ActionLink("Перейдите к регистрации", "Registration", "Account", null, new { @class = "btn btn-custom-red", @style = "  margin-top: 10px;" })
        </div>
    </div>
</div>

