@{
    ViewBag.Title = "Как это работает";
}

<div style="padding-bottom: 20px; text-align: center;">
    <h1>КОНКУРЕНЦИЯ НАПОЛНЕННАЯ ДУХОМ АЗАРТА</h1>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div style="text-align: center; padding-bottom: 36px;">
            <h2>как это работает:</h2>
        </div>
    </div>
</div>

<div class="row aw-block">
    <div class="col-md-3">
        <div class="aw-title">
            шаг 1

        </div>
        <div class="aw-cont">
            <img src="~/Content/images/inf1.png" />
        </div>
        <div class="aw-text">
            Заполните заявку
        </div>
    </div>

    <div class="col-md-3">
        <div class="aw-title">
            шаг 2
        </div>
        <div class="aw-cont">
            <img src="~/Content/images/inf2.png" />
        </div>
        <div class="aw-text">
            Продавцы предлагают вам свои условия.
        </div>
    </div>

    <div class="col-md-3">
        <div class="aw-title">
            шаг 3
        </div>
        <div class="aw-cont">
            <img src="~/Content/images/inf3.png" />
        </div>
        <div class="aw-text">
            Выбираете самое выгодное предложение.
        </div>
    </div>

    <div class="col-md-3">
        <div class="aw-title">
            шаг 4
        </div>
        <div class="aw-cont">
            <img src="~/Content/images/inf4.png" />
        </div>
        <div class="aw-text">
            Договариваетесь о сделке по телефону указанному в визитке.
        </div>
    </div>
</div>
<div style="text-align: center; padding-bottom: 36px;">
    <h2>ЧТО МЫ ВАМ МОЖЕМ ПРЕДЛОЖИТЬ:</h2>
</div>
</div>


<div class="row">
    <div class="col-md-6">
        <h3>Для покупки услуг:</h3>
        <p>1. <strong>Регистрируетесь на сайте</strong>.</p>
        <p>
            Что бы быть покупателем достаточно заполнить вкладку "визитка" .
            Остальные вкладки нужно заполнять только продавцам.
        </p>
        <p>2.<strong> Оформляете заявку</strong> на сайте с указанием потребностей и возможностей, а так же указываете город и срок в течении какого времени вы готовы рассматривать предложения.</p>
        <p>3. <strong>Получаете предложения от продавцов</strong> услуг (товаров) по выбранным вами критериям.Продавцы соревнуются за право получить ваш заказ.</p>
        <p>4.Ознакомившись с всеми предложениями - <strong>выбираете выгодное и интересное предложение</strong>.</p>
        <p>5.Созваниваетесь с продавцом-победителем и<strong>  покупаете услугу (товар) </strong>по условиям которые он вам предложил на нашем сайте.</p>
        <p>6. Радуемся выгодной сделке, рассказываем всем знакомым, рекомендуем нас.</p>
        <div style="color: #f61010; font-weight: bold;">ЧТО В ИТОГЕ ПОЛУЧАЕТЕ ВЫ:</div>
        <p>Не нужно обзванивать каждого продавца и долго  обьснять что  треуется. </p>
    </div>
    <div class="col-md-6">
        <h3>Для продажи/покупки услуг:</h3>

        <p>1.<strong>Регистрируетесь на сайте</strong>.</p>
        <p>
            Необходимо полностью заполнить все кладки с необходимой для покупателей информацией.
            Подписываетесь на заявки от покупателей, выбрав в списке услуг те который вы оказываете.
            Подписываетесь на города, в которых вы готовы оказывать продавать свои услуги.
            Оплачиваете ежемесячный торговый взнос 1000 рублей, удобным  для вас способом.
        </p>
        <p>2. <strong>Получаете  заявки отпокупателей </strong>по выбранным в подписке критериям.</p>
        <p>3.На основании условий покупателя и ваших конкурентов<strong> делаете покупателю свое предложение</strong>  с указанием  всех приемуществ.</p>
        <p>4.Если ваше предложение оказывается самым выгодным, <strong>покупатель обьяляет вас победителем</strong> и связывается с вами для обсуждения/совершения возможной сделки.</p>
        <div style="color: #f61010; font-weight: bold;">Сайт работает без дополнительных платных привелегий.</div>
        <p>
            У всех продавцов одинаковые шансы и возможности.
            Ваш успех зависит от того, как быстро вы ответили, насколько интересно предлагаете, как выгодно отличаетесь от конкурентов.
            <div style="color: #f61010; font-weight: bold;">ЧТО В ИТОГЕ ПОЛУЧАЕТЕ ВЫ:</div>
        <p>Вы увидите и научитесь как<strong> продают и предлагаю свои услуги конкуренты</strong> это может помочь Вам более эфективно вести переговоры с потенциальным заказчиком.</p>
        <p>Не ждать днями неделями, долгожданный звонок от клиента который возможно не нашел еще ваше обьявление среди десятка похожих.</p>

        </p>

        <p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div style="text-align: center;">
            @Html.ActionLink("Перейдите к регистрации", "Registration", "Account", null, new { @class = "btn btn-two", @style = "  margin-top: 10px;" })
        </div>
    </div>
</div>