@{
    ViewBag.Title = "	Заказать ведущего, тамаду. банкетный зал, фотографа на конкурсной основе";
}
<div class="form-group" style="text-align: center">
    <h2><div style="color: #1db7de;">У Вас намечается праздничное событие и Вы задумались как и где его организовать, чем угощать и развлекать гостей?</h2>
	<h3><div style="color: #222222;">Устройте конкурс на право исполнения у	Event-услуг на Вашем празднике!</h3>
	</div>
<div class="row aw-block">
    <div class="col-md-3">
        <div class="aw-cont">
            <img src="~/Content/images/inf1.svg" />
        </div>
        <div class="aw-text">
            <div class="abw-head">
                <strong>Заполняете  заявку </strong>
            </div>
            <div class="abw-text">
                Регистрируетесь на сайте.Это займет меньше минуты. Подробно описываете Ваше событие, указываете местоположение, время, количество гостей  и примерный бюджет который вы планируете потратить.
                <br />
                <a class="btn btn-custom-red header-btn" href="~/Tender/Index"><strong>Оставьте заявку <br>исполнителям</strong></a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="aw-cont">
            <img src="~/Content/images/inf2.svg" />
        </div>
        <div class="aw-text">
            <div class="abw-head">
                <strong>Исполнители предлагают выгодные условия для исполнения Вашего заказа </strong>
            </div>
            <div class="abw-text">
                После того как вы отправили заявку, система приглашает Исполнителей принять участие в конкурсе/торге по Вашей  заявке. Исполнители  которые подписаны на услугу и город которые вы указали - делают Вам предложения на конкурсной основе, соревнуясь между собой, тем что  предлагают для Вас выгодные условия и возможно бонусы.
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="aw-cont">
            <img src="~/Content/images/inf3.svg" />
        </div>
        <div class="aw-text">
            <div class="abw-head">
                <strong>    Сравниваете все предложения и выбираете самое выгодное</strong>
            </div>
            <div class="abw-text">
                В течении нескольких дней следите за тем как поступают предложения  от продавцов. При необходимости задаете им вопросы.
                Дождавшись максимальное количество предложений, Вы - выбираете самое выгодное и нажимаете кнопку "ВЫБРАТЬ ПОБЕДИТЕЛЕМ".
                <br />
                <a class="btn btn-custom-aqua header-btn" href="~/Tender/Index"><strong>Проверить <br>предложения <br>от исполнителей</strong></a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="aw-cont">
            <img src="~/Content/images/inf4.svg" />
        </div>
        <div class="aw-text">
            <div class="abw-head">
                <strong>Созваниваетесь, встречаетесь, заключаете договор, ждете праздник!</strong>
            </div>
            <div class="abw-text">
                Договариваетесь о сделке по телефону, указанному в визитке победителя Вашей заявки. Совершаете сделку при личной встрече, на условиях которые нужный исполнитель предложил Вам на нашем сайте, ждете праздника, веселитесь на нем!
            </div>
        </div>
    </div>
</div>
<hr>
<h3><div style="color: #873d83;"><div class="form-group" style="text-align: center">В ЧЕМ ОЧЕВИДНАЯ ВЫГОДА ИСПОЛЬЗОВАНИЯ САЙТА MY-TEND.COM</h3>
<h5><div style="color: #222222;">На нашем сайте НЕТ готовых объявлений, списков, рейтингов! Только конкретные предложения  под конкретный заказ!Вы лишь выбираете самое выгодное!</h5>
 <hr>
<h5><div style="color: #222222;">Вы не только  не переплачиваете общаясь напрямую с нужным исполнителем без посредников но и с большей вероятностью получаете скидки или бонусы, так как продажа на виду у коллег конкурентов диктует быть лучше и выгоднее.</h5>
 <hr>
<h5><div style="color: #222222;"> Только реальные и актуальные предложения под условия Вашего заказа! Вы не тратите время на общение с исполнителями которые уже заняты или им "мало денег", не надо обзванивать десятки объявлений объясняя одно и тоже.</h5>
 <hr>
<h5><div style="color: #222222;"> Конкурентная форма выбора исполнителя дает Вам хорошие предложения услуг и сервиса за вменяемые деньги.</h5>
 <hr>
<div class="form-group" style="text-align: center">
<a href="https://my-tend.com/Docs/AboutWork2" target="_blank"><strong>Если Вы исполнитель услуг или как выйграть заказ</strong></a></div>
<div class="row">
    <div class="col-md-12">
        <div style="text-align: center;">
            @Html.ActionLink("Перейдите к регистрации", "Registration", "Account", null, new { @class = "btn btn-custom-red", @style = "  margin-top: 10px;" })
        </div>
    </div>
</div>

