@{
    ViewBag.Title = "Как это работает";
}

<div style="padding-bottom: 20px; text-align: center;">
    <h1>MY-TEND.COM</h1>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div style="padding-top: 10px;"></div>
        <a href="http://my-tend.com/Home/Index" target="_blank">
            <img src="~/Content/images/aboutWork.svg" style="width: 100%" />
        </a>
    </div>
</div>

<div class="row aw-block">
    <div class="col-md-3">
        <div class="aw-cont">
            <img src="~/Content/images/inf1.svg" />
        </div>
        <div class="aw-text">
            Заполняете заявку
        </div>
    </div>

    <div class="col-md-3">
        <div class="aw-cont">
            <img src="~/Content/images/inf2.svg" />
        </div>
        <div class="aw-text">
            Исполнители предлагают вам свои условия
        </div>
    </div>

    <div class="col-md-3">
        <div class="aw-cont">
            <img src="~/Content/images/inf3.svg" />
        </div>
        <div class="aw-text">
            Выбираете самое выгодное предложение
        </div>
    </div>

    <div class="col-md-3">
        <div class="aw-cont">
            <img src="~/Content/images/inf4.svg" />
        </div>
        <div class="aw-text">
            Договариваетесь о сделке по телефону, указанному в визитке
        </div>
    </div>
</div>
<div style="text-align: LEFT; padding-bottom: 36px;">

</div>



<div class="row">
    <div class="col-md-6">
        <h3>У Вас свадьба, день рождение, корпоратив?</h3>
        <p>1. <strong>Регистрируетесь на сайте</strong>.</p>
        <p>Чтобы заявку и найти исполнителя услуги, вам достаточно заполнить вкладку «Визитка». Остальные вкладки нужно заполнять только исполнителям/продавцам услуг.</p>
        <p>2. <strong>Оформляете заявку</strong> на сайте, указав свою потребность в том или ином исполнителе или услуге банкетного зала, указав число, количество гостей и остальные подробности.</p>
        <p>3. <strong>Получаете предложения от продавцов</strong> услуг (товаров) по выбранным вами критериям. Продавцы соревнуются за право получить ваш заказ.</p>
        <p>4. Ознакомившись со всеми предложениями, <strong>выбираете выгодное и интересное предложение</strong>.</p>
        <p>5. Созваниваетесь с продавцом-победителем и <strong>покупаете услугу (товар)</strong> по условиям, которые он вам предложил на нашем сайте.</p>
        <p>6. Радуетесь выгодной сделке, рассказываете всем знакомым, рекомендуете нас.</p>
        <div style="color: #cc0001; font-weight: bold;">ЧТО В ИТОГЕ ПОЛУЧАЕТЕ ВЫ:</div>
        <p>
            Наш сайт избавит вас от необходимости искать то, что нужно именно вам, в миллионах одинаковых предложений. Лучшее предложение найдет вас само! И все это без особых затрат времени и денег.
        </p>
    </div>
    <div class="col-md-6">
        <h3>Вы ведущий, DJ, агенство, банкетный зал, итд?</h3>

        <p>1. <strong>Регистрируетесь на сайте</strong>.</p>

        <p> Чтобы стать исполнителем услуг и <strong>получить доступ к заявкам от заказчиков</strong>, вам необходимо:</p>

        <ul>
            <li>пройти регистрацию, полностью заполнить все вкладки контактной информации.</li>
            <li>загрузить фотографии в портфолио.</li>
            <li>заполнить рассказ о себе или своей услуге в вкладке «Об услуге».</li>
        </ul>
        <p> 2. Далее <strong>что бы получить доступ к заявкам от заказчиков</strong>, Вам необходимо:</p>

        <ul>
            <li>подписаться на заявки от заказчиков , выбрав в списке услуг те, которые Вы оказываете.</li>
            <li>Подпишитесь на города, в которых вы готовы оказывать/продавать свои услуги.</li>
            <li>Оплачиваете ежемесячный торговый взнос 1000 рублей (сумма и период, могут изменяться во время акций и скидок), удобным для вас способом, в меню «Стать продавцом»</li>
        </ul>
        Инструкцию по заполнению профиля вы можете посмотреть по этой <a href="http://my-tend.com/Docs/AboutProfile">ссылке</a>

        <p>
            2. <strong>После этого Вам откроется меню, где формируется список заявок от заказчиков</strong> по выбранным в подписке критериям.
            (Наполнение списка зависит от спроса покупателя а не от работы сайта)
        </p>
        <p>3. На основании условий покупателя и ваших конкурентов <strong>делаете покупателю свое предложение</strong> с указанием всех преимуществ.</p>
        <p>4. Если ваше предложение оказывается самым выгодным, <strong>покупатель объяляет вас победителем</strong> и связывается с вами для обсуждения/совершения возможной сделки.</p>
        <div style="color: #cc0001; font-weight: bold;">Сайт работает без дополнительных платных привилегий.</div>
        <p>
            У всех продавцов одинаковые шансы и возможности.
            Ваш успех зависит от того, как быстро вы ответили, насколько интересно предлагаете, как выгодно отличаетесь от конкурентов.
            <div style="color: #cc0001; font-weight: bold;">ЧТО В ИТОГЕ ПОЛУЧАЕТЕ ВЫ:</div>
        <p>Наш сайт дает вам возможность не потеряться среди миллионов одинаковых обьявлений и показать самые лучшие стороны вашей услуги. Зная потребности и возможности клиента, вы сразу определяете, нужен вам этот заказ или нет. На нашем сайте у вас будет возможность увидеть, как <strong>предлагают свои услуги ваши конкуренты</strong>. это может помочь Вам более эффективно вести переговоры с потенциальным заказчиком.</p>

        </p>

        <p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div style="text-align: center;">
            @Html.ActionLink("Перейдите к регистрации", "Registration", "Account", null, new { @class = "btn btn-custom-red", @style = "  margin-top: 10px;" })
        </div>
    </div>
</div>