@{
    ViewBag.Title = "Как работает система торгов  Май Тенд";
}
<div class="form-group" style="text-align: center">
    <h1><div style="color: #000000;">АУКЦИОН СОБЫТИЙ MY-TEND</h1>
</div>
<div class="form-group" style="text-align: center">
    <h2><div style="color: #000000;">Если у Вас намечаетя свадьба, день рождение, корпоратив и Вам нужно его организовать:</h2>
</div>
<div class="row aw-block">
    <div class="col-md-3">
        <div class="aw-cont">
            <img src="~/Content/images/inf1.svg" />
        </div>
        <div class="aw-text">
            Заполняете заявку указав всю необходимую информацию о своем заказе для потенциальных исполнителей.
        </div>
    </div>

    <div class="col-md-3">
        <div class="aw-cont">
            <img src="~/Content/images/inf2.svg" />
        </div>
        <div class="aw-text">
            Исполнители получают заявку. Основываясь на вашей заявке и том, что уже написали Вам их конкуренты, предлагают для Вас свои условия.
        </div>
    </div>

    <div class="col-md-3">
        <div class="aw-cont">
            <img src="~/Content/images/inf3.svg" />
        </div>
        <div class="aw-text">
            В течении нескольких дней следите за тем как поступают предложения  от продавцов. При необходимости задаете им вопросы.
            Дождавшись максимальное количество предложений, Вы - выбираете самое выгодное и нажимаете кнопку "ВЫБРАТЬ ПОБЕДИТЕЛЕМ".
        </div>
    </div>

    <div class="col-md-3">
        <div class="aw-cont">
            <img src="~/Content/images/inf4.svg" />
        </div>
        <div class="aw-text">
            Договариваетесь о сделке по телефону, указанному в визитке победителя вашей заявки. Совершаете сделку при личной встрече, на условиях которые нужный исполнитель предложил Вам на нашем сайте.
        </div>
    </div>
</div>
<div class="form-group" style="text-align: center">
    <img src="~/Content/images/aboutWork.svg" style="width: 60%" />
    <h2><div style="color: #000000;">Если Вы ведущий, DJ, менеджер банкетного зала, артист итд:</h2>
</div>
<p>1. <strong>Регистрируетесь на сайте</strong>.</p>

<p> Чтобы стать исполнителем услуг и <strong>получить доступ к заявкам от заказчиков</strong>, вам необходимо:</p>

<ul>
    <li>пройти регистрацию, полностью заполнить все вкладки контактной информации.</li>
    <li>загрузить фотографии в портфолио.</li>
    <li>заполнить рассказ о себе или своей услуге в вкладке «Об услуге».</li>
</ul>
<p> 2. Далее <strong>что бы получить доступ к заявкам от заказчиков</strong>, Вам необходимо:</p>

<ul>
    <li>подписаться на заявки от заказчиков , выбрав в списке услуг те, которые Вы оказываете.</li>
    <li>Подпишитесь на города, в которых вы готовы оказывать/продавать свои услуги.</li>
    <li>Оплачиваете ежемесячный торговый взнос 1000 рублей (сумма и период, могут изменяться во время акций и скидок), удобным для вас способом, в меню «Стать продавцом»</li>
</ul>
<p>
    2. <strong>После этого Вам откроется меню, где формируется список заявок от заказчиков</strong> по выбранным в подписке критериям.
    (Наполнение списка зависит от спроса покупателя а не от работы сайта)
</p>
<p>3. На основании условий покупателя и ваших конкурентов <strong>делаете покупателю свое предложение</strong> с указанием всех ваших преимуществ.</p>
<p>4. Если ваше предложение оказывается самым выгодным, <strong>покупатель объявляет вас победителем</strong> и связывается с вами для обсуждения/совершения возможной сделки.</p>
<div style="color: #cc0001; font-weight: bold;">Во время торгов у исполнителей услуг нет дополнительных платных привелегий.</div>
<p>
    У всех исполнителей услуг одинаковые шансы и возможности.
    Ваш успех зависит от того, как быстро вы ответили, насколько интересно предлагаете, как выгодно отличаетесь от конкурентов.
    <div style="color: #cc0001; font-weight: bold;">ЧТО В ИТОГЕ ПОЛУЧАЕТЕ ВЫ:</div>
<p>Наш сайт дает вам возможность не потеряться среди миллионов одинаковых объявлений и показать самые лучшие стороны вашей услуги. Зная потребности и возможности клиента, вы сразу определяете, нужен вам этот заказ или нет. На нашем сайте у вас будет возможность увидеть, как <strong>предлагают свои услуги ваши конкуренты</strong>. это может помочь Вам более эффективно вести переговоры с потенциальным заказчиком.</p>
<div class="row">
    <div class="col-md-12">
        <div style="text-align: center;">
            @Html.ActionLink("Перейдите к регистрации", "Registration", "Account", null, new { @class = "btn btn-custom-red", @style = "  margin-top: 10px;" })
        </div>
    </div>
</div>