@{
    ViewBag.Title = "	Заказать ведущего, тамаду. банкетный зал, фотографа на конкурсной основе";
}
<div class="form-group" style="text-align: center">
    <h2>У Вас намечается праздничное событие и Вы задумались как и где его организовать, чем угощать и развлекать гостей?</h2>
    <h3>Устройте конкурс на право исполнения у	Event-услуг на Вашем празднике!</h3>
</div>
<div class="row aw-block">
    <div class="col-md-3">
        <div class="aw-cont">
            <img src="~/Content/images/inf1.svg" />
        </div>
        <div class="aw-text">
            <div class="abw-head">
                <strong>Заполняете  заявку </strong>
            </div>
            <div class="abw-text">
                Регистрируетесь на сайте.Это займет меньше минуты. Подробно описываете Ваше событие, указываете местоположение, время, количество гостей  и примерный бюджет который вы планируете потратить.
                <br />
                <a class="btn btn-custom-red header-btn" href="~/Tender/Index">Оставьте заявку <br>испонителям</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="aw-cont">
            <img src="~/Content/images/inf2.svg" />
        </div>
        <div class="aw-text">
            <div class="abw-head">
                <strong>Исполнители предлагают условия исполнения Вашего заказа </strong>
            </div>
            <div class="abw-text">
                После того как вы отправили заявку, система приглашает Исполнителей принять участие в конкурсе/торге по Вашей  заявке. Исполнители  которые подписаны на услугу и город которые вы указали - делают Вам предложения на конкурсной основе, соревнуясь между собой, тем что  предлагают для Вас выгодные условия и возможно бонусы.
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="aw-cont">
            <img src="~/Content/images/inf3.svg" />
        </div>
        <div class="aw-text">
            <div class="abw-head">
                <strong>    Выбираете самое выгодное предложение </strong>
            </div>
            <div class="abw-text">
                В течении нескольких дней следите за тем как поступают предложения  от продавцов. При необходимости задаете им вопросы.
                Дождавшись максимальное количество предложений, Вы - выбираете самое выгодное и нажимаете кнопку "ВЫБРАТЬ ПОБЕДИТЕЛЕМ".
                <br />
                <a class="btn btn-custom-aqua header-btn" href="~/Tender/Index">Проверить предложения <br>от исполнителей</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="aw-cont">
            <img src="~/Content/images/inf4.svg" />
        </div>
        <div class="aw-text">
            <div class="abw-head">
                <strong>Созваниваетесь, встречаетесь, заключаете сделку </strong>
            </div>
            <div class="abw-text">
                Договариваетесь о сделке по телефону, указанному в визитке победителя Вашей заявки. Совершаете сделку при личной встрече, на условиях которые нужный исполнитель предложил Вам на нашем сайте.
            </div>
        </div>
    </div>
</div>
<hr>
<h3> Только реальные и актуальные предложения под условия Вашего заказа! Вы не тратите время на общение с исполнителями которые уже заняты или им "мало денег"</h3>
<h3><div style="color: #222222;"> Конкурентная форма выбора исполнителя дает Вам хорошие предложения услуг и сервиса за вменяемые деньги.</h3>
<hr>
<div class="form-group" style="text-align: center">
    <img src="~/Content/images/aboutWork.svg" style="width: 60%" />
    <h2 style="color: #222222;">Если Вы ведущий, DJ, менеджер банкетного зала, артист итд:</h2>
</div>
<p><strong>Регистрируетесь на сайте</strong>.</p>

<p> Чтобы стать исполнителем услуг и <strong>получить доступ к заявкам от заказчиков</strong>, вам необходимо:</p>

<ul>
    <li>пройти регистрацию, полностью заполнить все вкладки контактной информации.</li>
    <li>загрузить фотографии в портфолио.</li>
    <li>заполнить рассказ о себе или своей услуге в вкладке «Об услуге».</li>
</ul>
<p>Далее <strong>что бы получить доступ к заявкам от заказчиков и учавствовать в аукционных-торгах</strong>, Вам необходимо:</p>

<ul>
    <li>подписаться на заявки от заказчиков , выбрав в списке услуг те, которые Вы оказываете  (меню-Редактирование визитки).</li>
    <li>Подпишитесь на города, в которых вы готовы оказывать/продавать свои услуги (меню-Редактирование визитки)..</li>
    <li>Оплачиваете торговый взнос 1000 рублей (за 2 месяца доступа к заявкам и участии в аукционных-торгах), удобным для вас способом, в меню «Доступ К Заявкам от Заказчиков»</li>
</ul>
<p>
    <strong>После этого Вам откроется меню, где формируется список заявок от заказчиков</strong> по выбранным в подписке критериям.
    (Наполнение списка зависит от спроса заказчиков а не от работы сайта)
</p>
<p> На основании условий конкурса заказчика и уже сделанных предложений от ваших конкурентов <strong>делаете заказчику свое предложение</strong> с указанием всех ваших преимуществ.</p>
<p> Если ваше предложение оказывается самым выгодным, <strong>заказчик объявляет вас победителем</strong> и связывается с вами для обсуждения/совершения возможной сделки.</p>
<div style="color: #cc0001; font-weight: bold;">Во время торгов у исполнителей услуг нет дополнительных платных привелегий.</div>
<p>
    У всех исполнителей услуг одинаковые шансы и возможности.
    Ваш успех зависит от того, как быстро вы ответили, насколько интересно предлагаете, как выгодно отличаетесь от коллег-конкурентов.
    <div style="color: #01bdd9; font-weight: bold;">Что в итоге получаете Вы:</div>
<p>Наш сайт дает вам возможность не потеряться среди миллионов одинаковых объявлений и показать самые лучшие стороны вашей услуги. Зная потребности и возможности клиента, Вы сразу определяете, нужен вам этот заказ или нет. На нашем сайте у вас будет возможность увидеть,<strong> как предлагают свои услуги ваши коллеги-конкуренты</strong>. это может помочь Вам более эффективно вести переговоры с потенциальным заказчиком.</p>
<div class="row">
    <div class="col-md-12">
        <div style="text-align: center;">
            @Html.ActionLink("Перейдите к регистрации", "Registration", "Account", null, new { @class = "btn btn-custom-red", @style = "  margin-top: 10px;" })
        </div>
    </div>
</div>

