@{
    ViewBag.Title = "Правила заполнения профиля";
}

<h2>Правила заполнения профиля</h2>

<div style="color: #cc0001  ; font-weight: bold;">Уважаемый пользователь!</div>
<p><strong>Что бы стать заказчиком услуг, достаточно заполнить только начальную форму регистрации, загрузить фото на аватар, указать примерный род занятий  и 1 номер телефона</strong>. </p>
<p>Если же вы собираетесь учавствовать в торгах как исполнитель услуг, вам необходимо максимально полно заполнить весь профиль. От того, насколько качественно и полноценно заполнен ваш профиль, зависит решение покупателя о выборе вас, как исполнителя.</p>
<h3>Визитка</h3>
<p>Во вкладке <strong>«Визитка»</strong> введите ваши данные: фамилию, имя, отчество, загрузите аватар, введите информацию о том, чем вы занимаетесь/должность на работе. Напишите, где проживаете (Страна, регион, город). Укажите обязательно контактный телефон и e-mail. Если есть необходимость, напишите ваш сайт, skype и другую личную информацию. И нажмите кнопку «Сохранить».</p>
<h3>Портфолио</h3>
<p>Добавьте изображения во вкладку <strong>«Портфолио»</strong> при помощи кнопки «Загрузить». Фотографии, картинки и работы по своему содержанию должны соотвествовать представленной в описании деятельности продавца/исполнителя. Также запрещено публиковать фотографии, картинки и работы, противоречащие законам РФ, здравому смыслу, моральным и этическим нормам. Также запрещено использование чужих работ. Пользователь лично несет ответственность за использованные данные.</p>
<h3>Об услуге</h3>
<p>В данном поле опишите как можно подробнее о себе, о своей компании, об услуге/товаре, которую вы оказываете. Напишите сюда ту информацию, которая бы привлекла внимание вашего потенциального клиента, обязательно укажите ваши преимущества перед конкурентами, напишите ваши уникальные предложения, также можете написать тех клиентов, которые у вас уже что-то приобрели/заказали, их отзывы. Информация в данном разделе не должна нарушать законы РФ, должна быть правдивой и соответствовать правилам добросовестной конкуренции. После нажмите кнопку «Сохранить»</p>
<div style="color: #cc0001  ; font-weight: bold;">Утверждения рекламного характера, а также прилагательных в превосходной степени «самый», «полный», «дешевый», «лучший», «единственный» и им подобных, не допускается.</div>

<h3>Категории торгов</h3>
<p> При выборе категорий торгов обязательно проверьте все темы, близкие вашему профилю услуг, так как многие позиции повторяются в разных темах (например: дизайнер-флорист есть в категории «Услуги дизайнеров» и в категории «Все для праздника»). Если вы подпишитесь на определенную позицию только в определенной теме, вы будете получать заявки только от тех клиентов, которые тоже выберут данную позицию, а те, которые выберут похожую категорию в другой теме, пройдут мимо вашего внимания.</p>

<p> Темы показаны, по примеру запроса от лица покупателя.  Вы можете подписаться на 10 тем.</p>
<p>После внесенных изменений, перед тем как покинуть вкладку нажмите кнопку<strong> «Подписаться»</strong>. </p>
<h3>Регионы и города</h3>
<p>А в блоке <strong>«Регионы и города»</strong> выберите те, в которых вы готовы оказывать/продавать свои услуги.</p>

<h3>Ответственность Администрации и пользователя</h3>
<div style="color: #cc0001  ; font-weight: bold;">Обязательно к прочтению:</div>
<p>Сайт «My-Tend.Com» не несет ответственность за указанную пользователем информацию в профиле. Если вы считаете, что какая-либо информация нарушает чьи-либо права, свяжитесь с нами. При поступлении жалобы со стороны других пользователей Администрация сайта имеет право проверить информацию о пользователе всеми доступными способами и при выявлении нарушей заблокировать, либо закрыть доступ для пользования сайтом.</p>

<p>Администрация сайта «My-Tend.Com» не проверяет личности пользователей, а также информацию на ее правдоподобность и соотвествие истине. Поэтому каждый пользователь несет личную ответственность за доверие к той или иной информации, предоставленной другими пользователями сайта.</p>

<p>Все пользователи сайта «My-Tend.Com» регистрируются на данном ресурсе исключительно как физические лица и несут личную ответственность за публикуемую информацию во всех разделах сайта.</p>

<p>Все поля регистрационной формы и вкладки профиля/визитки могут быть изменены пользователем в любое время, кроме города проживания пользователя, указанного при регистрации. Эти данные могут быть изменены только по письменному заявлению пользователя в адрес Администрации сайта с предоставлением паспортных данных.</p>
<p>Заполнение профиля/визитки+нажатие кнопки<strong>«Сохранить»</strong>, означает что:</p>
<p>-пользователь  ознакомился и соглашается со всеми правилами сайта без исключения</p>
<p>-пользователь  согласен с тем что, информация, персональные данные которые он заполняет о себе, будут видны и доступны другим пользователям сети интернет.</p>
<p>-пользователь  обязуется давать реальную информацию о себе, не нарушая права третьих лиц и интеллектуальной собственности.</p>
<p>-пользователь  обязуется и гарантирует что использует сервисы сайта будучи ознакомленым с актуальными статьями законов РФ, в том числе "О рекламе", конкурентного права (антимонопольное право), право интеллектуальной собственности. Пользователи обязуются сообщать Администрации сайта о нарушениях других  пользователей. Выявленное нарушение  может являться поводом для удаления с сайта.</p>
<p>Инструкция и требования могут быть изменены без уведомления пользователя, ознакомление с актуальными версиями пользователь обязуется делать самостоятельно.</p>
Данная инструкция относится к документу <a href="http://my-tend.com/Docs/Rules">«Условия использования сайта»</a> и должна учитываться пользователями сайта в полном объёме.
<div style="color: #cc0001  ; font-weight: bold;">За нарушение пунктов может последовать блокировка и удаление с сайта. </div>