@{
    ViewBag.Title = "Часто задаваемые вопросы";
}

<h2>Часто задаваемые вопросы</h2>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading1">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                    Как я могу стать продавцом на вашем сайте и получить доступ к заявкам?
                </a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
            <div class="panel-body">
                <p>1. <strong>Регистрируетесь на сайте</strong>.</p>

                <p> Чтобы стать продавцом и <strong>получить доступ к заявкам</strong>, вам необходимо:</p>

                <ul>
                    <li>пройти регистрацию, полностью заполнить все вкладки контактной информации.</li>
                    <li>загрузить фотографии в портфолио.</li>
                    <li>заполнить рассказ о себе или своей услуге в вкладке «Об услуге».</li>
                </ul>
                <p> 2. Далее <strong>что бы получить доступ к заявкам от покупателей</strong>, Вам необходимо:</p>

                <ul>
                    <li>подписаться на заявки от покупателей , выбрав в списке услуг те, которые Вы оказываете.</li>
                    <li>Подпишитесь на города, в которых вы готовы оказывать/продавать свои услуги.</li>
                    <li>Оплачиваете ежемесячный торговый взнос 1000 рублей (сумма и период, могут изменяться во время акций и скидок), удобным для вас способом, в меню «Стать продавцом»</li>
                </ul>
                Инструкцию по заполнению профиля вы можете посмотреть по этой <a href="http://my-tend.com/Docs/AboutProfile">ссылке</a>

                <p>
                    2. <strong>После этого Вам откроется меню, где формируется список заявок от покупателей</strong> по выбранным в подписке критериям.
                    (Наполнение списка зависит от спроса покупателя а не от работы сайта)
                </p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading2">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                    Я зарегистрировался на сайте в качестве продавца, но не могу просмотреть заявки от клиентов по выбранным мною категориям, Почему?
                </a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
            <div class="panel-body">
                Просматривать заявки от покупателей могут только те продавцы, которые оплатили ежемесячный торговый взнос. Таким образом вы подтверждаете то, что, действительно, собираетесь продавать/оказывать услуги и гарантируете качество покупателю в рамках своих возможностей.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading3">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                    Примеры заполнения визиток.
                </a>
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
            <div class="panel-body">
                <strong>  Пример заполнения визитки продавца </strong>
                <p></p>
                <h4><a href="https://my-tend.com/Account/Card?user=samitovadinara@gmail.com">АРТ БЮРО "АВТОГРАФ" агентство авторских программ!</a></h4>
                <p></p>
                <h4><a href="https://my-tend.com/Account/Card?user=nesmelov63%40bk.ru">АНТОН НЕСМЕЛОВ, Профессиональный ведущий праздничных мероприятий</a></h4>
                <p></p>
                <h4><a href="https://my-tend.com/Account/Card?user=kg89234063003%40me.com">"ВалевскиСПОРТ"   Производство спортивной одежды</a></h4>
                <p></p>
                <h4><a href="https://my-tend.com/Account/Card?user=stalmakova@mail.ru">"ГОСТЕВОЙ ДОМ "МЭРИ" г. АНАПА "   комфортабельные комнаты в гостевом доме в городе Анапа. </a></h4>
                <p></p>

                <strong>Что бы стать покупателем, достаточно заполнить только начальную форму регистрации, загрузить фото на аватар, указать примерный род занятий  и 1 номер телефона</strong>.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading4">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
                    У меня не загружается портфолио!
                </a>
            </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
            <div class="panel-body">
                При  загрузке стоит ограничение на размер и количество фотографий.
                Напоминаем что,  <strong>размер одной фотографии не должен превышать 4 мегабайта а общее количество 20 штук</strong>.
            </div>
        </div>
    </div>
</div>