@{
    ViewBag.Title = "Добро пожаловать на MY-TEND.COM";
}
<h4 style="color: #222222;"><strong>Правила для продавцов / исполнителей сайта MY-TEND.COM</strong></h4>	
<h5 style="color: #dd0b29;">За нарушение правил сайта - блокировка до выяснения причин со стороны пользователя.</h5>
<hr>
<div class="col-md-8" style="line-height:30px">
<h5 style="color: #777777;">
<ol>
<li>Свод данных правил принимается пользователем без исключения и является дополнением к <a href="~/Docs/Rules">Условиям использования сайта</a> </li><br />
<li>Участие в конкурсных-торгах без заполненного профиля визитки, номера телефона, фото-аватара запрещена.</li><br />
<li>Фото-аватар визитки, допускается только с личным изображением, не допустимо использовать чужие фото, логотипы,
 фото животных и прочих героев интернета.</li><br />
<li>Номер телефона должен быть актуальным, на момент участия в конкурсах+1 месяц с крайнего участия.</li><br />
<li>Исполнитель должен предоставить услугу заказчику, в случае его победы, на условиях которые он написал во время конкурса.</li><br />
<li>Сайт не является организатором сделки, покупателем, продавцом, посредником, агентом или представителем какого-либо
 Пользователя и/или иным заинтересованным лицом в отношении предлагаемой/заключаемой между Пользователями сделки. Все совершаемые 
благодаря размещению информации на Сайте сделки между Пользователями заключаются и исполняются без прямого или косвенного участия Сайта.</li><br />
<li>Во время конкурса допускаются сообщения / предложения, исключительно по теме заказа. Флуд, личные мнения, выяс</li><br />
<li></li><br />
<li></li><br />


</ol>
</h5>
 </div>

 
 <h5>Сайт не является  гарантом сделок</h5>