@{
    ViewBag.Title = "Часто задаваемые вопросы";
}

<h2>Часто задаваемые вопросы</h2>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading1">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                    Как я могу стать продавцом на вашем сайте?
                </a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
            <div class="panel-body">
                Чтобы стать продавцом, вам необходимо зарегистрироваться на нашем сайте, полностью заполнить все вкладки «Визитки». Инструкцию по заполнению профиля вы можете посмотреть по этой <a href="http://я-предлагаю.рф/Docs/AboutProfile">ссылке</a>. Обязательно подпишитесь на категории торгов, выбрав в списке услуг те, который вы оказываете. Подпишитесь на города, в которых вы готовы оказывать/продавать свои услуги. Также вам необходимо оплатить ежемесячный торговый взнос 1000 рублей, удобным для вас способом. Более подробно об этом вы найдёте после регистрации на странице «Cтать продавцом».
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading2">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                    Я зарегистрировался на сайте в качестве продавца, но не могу просмотреть заявки от клиентов по выбранным мною категориям, Почему?
                </a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
            <div class="panel-body">
                Просматривать заявки от покупателей могут только те продавцы, которые оплатили ежемесячный торговый взнос. Таким образом вы подтверждаете то, что, действительно, собираетесь продавать/оказывать услуги и гарантируете качество покупателю в рамках своих возможностей.
            </div>
        </div>
    </div>

</div>