@{
    ViewBag.Title = "Документы";
}

<h2>Документы</h2>

<p>
    @Html.ActionLink("Договор оферты", "Oferta", "Docs")
</p>
<p>
    @Html.ActionLink("Правила пользования сайтом", "Rules", "Docs")
</p>
<p>
    @Html.ActionLink("Правила заполнения профиля", "AboutProfile", "Docs")
</p>
<p>
    @Html.ActionLink("Инструкция заполнеиния заявок", "Instruction", "Docs")
</p>