@{
    ViewBag.Title = "Инструкция заполнения заявок";
}

<h2>Инструкция заполнения заявок:</h2>

<h3>Выберите категорию заявки</h3>
<p>Внимательно ознакомившись с представленными темами, выберите подходящую категорию по вашему запросу.</p>

<h3>Страна исполнения заявки</h3>
<p>Вы можете найти исполнителя заявки не только в своей стране, но также обратиться за помощью на оказание услуги к жителям соседних государств.</p>

<h3>Регион исполнения заявки</h3>
<p>Выберите регион (область, республика, АО, край) исполнения заказа, учитывая страну.</p>

<h3>Город исполнения заявки</h3>
<p>Выберите город исполнения заказа, учитывая страну и регион.</p>

<h3>Название торгов</h3>
<p>Дайте краткое название Вашей заявки - заголовок.</p>

<h3>Текст заявки</h3>
<p>Это главный элемент заявки. Тут нужно указать все пожелания и детали вашего заказа: суть, время, место, прочие детали, которые должен учесть продавец услуги. От этого будет зависеть, каким будет сделано для Вас предложение.</p>
<strong>Пример 1 :</strong> </p>
<i>
    Компания из 8 человек хочет поехать на автомобилях в город Анапа. Нам требуется найти комнаты для проживания. Дальность от моря не более 10 минут. С телевизором, кондиционером, WI-FI, стоянкой на 3 автомобиля. Примерно в первой половине августа на 2 недели. Не дороже 1000 рублей в сутки с человека.
</i>
</p>

<strong>Пример 2:</strong> </p>
<i>
    Хотел бы отметить свой юбилей 50-летия (2 сентября), и для этого мне требуется банкетный зал на 40 человек. Ориентируюсь на сумму в меню 1500-2000 р. на человека. Хотелось бы, чтобы спиртное и фрукты были с нашей стороны. Желательно, чтобы ресторан находился в районе центра города, с живой музыкой и дискотекой (стиль 80-90 годы). Буду благодарен в поиске ведущего вечера, а также фотографа.
</i>
</p>
<strong>Пример 3:</strong> </p>
<i>
    Хотели бы сделать ремонт в новой квартире под "ключ", общей площадью 90кв метров. Отделка черновая. Примеры ремонта прилагаю в фотографиях. Примерный бюджет 800 тысяч. Выбираю исполнитея исходя из  цены и сроков окончания ремонта. Хотелось бы успеть к ....!
</i>
</p>

<div style="color: #cc0001 ; font-weight: bold;">Внимание:</div>
<p> Заполнять заявку можно исключительно на русском языке или языке страны, которую Вы выбрали в меню во время заполнения заявки в контейнере «страна». </p>

<h3> Предполагаемый бюджет</h3>
<p>Укажите, какая сумма вас устроит за услугу (товар), которую Вы хотите заказать (носит примерный характер).</p>

<h3>Фото</h3>
<p>Вы можете прикрепить несколько фотографий для визуального уточнения деталей вашей заявки.</p>
<div style="color: #cc0001 ; font-weight: bold;">Внимание:</div>
<p>
    Изображение на фото должно по смыслу относиться к описанной заявке и не должно противоречить законам Российской Федерации на момент даты размещения фото, а также не противоречить нормам здравого смысла и морали. За размещение недопустимых изображений пользователем сайта Администрация вправе заблокировать учетную запись/визитку пользователя.
</p>
<h3>Время активности</h3>
<p>
    Этот параметр настраивает время проведения торгов. По истечению времени торга, если не был выбран победитель, торг закрывается и перемещается в архивное меню «Закрытые торги». Участие в нем уже невозможно.
</p>
<h3>Ответственность Администрации и пользователя</h3>
<div style="color: #cc0001 ; font-weight: bold;">Обязательно к прочтению:</div>
<p>Заполнение заявки на услугу+нажатие кнопки<strong>«Отправить заявку»</strong>, означает что:</p>
<p>-пользователь  ознакомился и соглашается со всеми правилами сайта без исключения</p>
<p>-пользователь  согласен с тем что, информация, персональные данные, детали заявки, будут видны и доступны другим пользователям сети интернет.</p>
<p>-пользователь  обязуется давать реальную информацию о себе, не нарушая права третьих лиц и интеллектуальной собственности.</p>
<p>-пользователь  обязуется связаться с победителем торга по телефону для  возможного приобретения услуги.</p>
<p>-пользователь  обязуется и гарантирует что использует сервисы сайта будучи ознакомленым с актуальными статьями законов РФ, в том числе "О рекламе", конкурентного права (антимонопольное право), право интеллектуальной собственности. Пользователи обязуются сообщать Администрации сайта о нарушениях других  пользователей. Выявленное нарушение  может являться поводом для удаления с сайта.</p>
<p>
    -пользователь  обязуется не иметь претензий и гарантирует понимание того, что действует на свое усмотрение и риск используя сервисы сайта «Я предлагаю». Исходя из этого
    Администрация сайта не несет любой ответственности за качество оказания услуг после торгов  а так же прочих негативных ситуаций.
</p>
<p>Инструкция и требования могут быть изменены без уведомления пользователя, ознакомление с актуальными версиями пользователь обязуется делать самостоятельно.</p>
Данная инструкция относится к документу <a href="http://my-tend.com/Docs/Rules">«Условия использования сайта»</a> и должна учитываться пользователями сайта в полном объёме.
<div style="color: #cc0001 ; font-weight: bold;">За нарушение пунктов может последовать блокировка и удаление с сайта. </div>
