@{
    ViewBag.Title = "Договор оказания платных услуг";
}

<h2>Договор оказания платных услуг</h2>

<div style="color: #65267a; font-weight: bold;">ДОГОВОР-ОФЕРТА</div>
<p>Договор о предоставлении платных услуг по размещению информации заключается путем оферты, т.е. публичного предложения, содержащего условия договора. Согласно Гражданскому кодексу РФ, оплаченный договор-оферта является юридически заключенным договором и означает согласие Заказчика с условиями предоставления ему информационных услуг. В соответствии с п. 2 ст. 437 Гражданского Кодекса РФ в случае принятия изложенных ниже условий и оплаты услуг, юридическое или физическое лицо, производящее акцепт этой оферты становится Заказчиком (в соответствии с п. 3 ст. 438 ГК РФ акцепт оферты равносилен заключению договора на условиях, изложенных в оферте), а Исполнитель и Заказчик совместно — Сторонами договора публичной оферты. Таким образом, данное предложение («Договор-Оферта») является офертой, а его оплата – акцептом. </p>
<div style="color: #65267a; font-weight: bold;">ОБЩИЕ ПОЛОЖЕНИЯ </div>
</p>1.1. Настоящая публичная оферта (далее - Договор) представляет собой официальное предложение ИП Романов Олег Евгеньевич ОГРН 315169000014539 далее именуемого «Исполнитель», по оказанию возмездных услуг по размещению информации (далее – Услуги) с помощью программного обеспечения сайта «Я предлагаю» с (далее – Сайт «Я предлагаю») юридическим и/или дееспособным физическим лицам (далее - Заказчики) на перечисленных ниже условиях. </p>
<p>1.2. Заказчик соглашается с условиями настоящего Договора путем осуществления действий по предоплате Услуг в порядке, определяемом настоящим Договором (акцепт оферты). Акцептирование Заказчиком настоящего Договора означает, что он полностью и безоговорочно согласен со всеми положениями настоящего Договора и принимает на себя ответственность за их соблюдение. </p>
<p>1.3. Исполнитель оставляет за собой право вносить изменения в настоящий Договор, в связи с чем, Заказчик обязуется регулярно самостоятельно отслеживать изменения в Договоре, размещенном на Сайте. </p>
<div style="color: #65267a; font-weight: bold;">Термины и определения.</div>
<div style="color: #65267a; font-weight: bold;">Исполнитель</div> – ИП Романов Олег Евгеньевич ОГРН 315169000014539</p>
<div style="color: #65267a; font-weight: bold;">Заказчик</div> – пользователь, физическое лицо, осуществившее Акцепт Оферты на изложенных в ней условиях Услуги – услуги Исполнителя по возмездному размещению информации Заказчика на Сайте принадлежащему исполнителю под торговой маркой «Я предлагаю», Размещенного по интернет адресам www.my-tend.com или www.я-предлагаю.рф .
<div style="color: #65267a; font-weight: bold;">Сайт</div> - «Я предлагаю» – сайт в сети Интернет, доступ к которому осуществляется по адресу: www.my-tend.com или www.я-предлагаю.рф используемый для предоставления Услуг Исполнителя Заказчикам. Включая все страницы данного сайта, содержащие в своем доменном имени обозначения - я-предлагаю.рф  ,my-tend.com</p>
<div style="color: #65267a; font-weight: bold;">Договор Оферты</div> – договор между Исполнителем и Заказчиком на предоставление Услуг, который заключается посредством Акцепта Оферты. </p>
<div style="color: #65267a; font-weight: bold;">Платные услуги</div> – услуги, оказываемые Исполнителем перед Заказчиком по предоставлению доступа к заявкам на услуги Заказчика другими пользователями сайта «Я предлагаю. Оплата Заказчиком денежных средств за услуги Исполнителя на сайте может именоваться термином Торговый взнос</p>
<div style="color: #65267a; font-weight: bold;">Пользователи</div> – физические лица, прошедшие регистрацию и получившие учетную запись (логин и пароль) для доступа к сайту «Я предлагаю».</p>
<div style="color: #65267a; font-weight: bold;">Продавец </div>— Пользователь,  на сайте  «Я предлагаю» используя Платные услуги, учувствует в торгах, предлагая  свои услуги для возможного заключения сделки.</p>
<div style="color: #65267a; font-weight: bold;">Торг</div> — конкурентная форма отбора предложений на поставку  услуг , по заранее объявленным в заявке  условиям  на основе сервиса сайта    «Я предлагаю»
<div style="color: #65267a; font-weight: bold;">Сервисы </div>— функциональные возможности,  доступные  для Пользователей  сайта « Я предлагаю»</p>
<div style="color: #65267a; font-weight: bold;">3. ПРЕДМЕТ</div>
</p>3.1. Предметом настоящего Договора является возмездное оказание Заказчику Услуг оказываемых Исполнителем путем размещения информации Заказчика на сайте Исполнителя - Сайт «Я предлагаю» за вознаграждение выплачиваемое Заказчиком Исполнителю. </p>
</p>3.2. Стоимость Услуг устанавливается Исполнителем на Сайте «Я предлагаю». Договор на оказание Услуг считается заключенным с момента поступления денежных средств на расчетный счет Исполнителя.</p>
</p>3.3. Исполнитель вправе изменять в одностороннем порядке цены на предоставляемые им Услуги, путем установления новых цен на Услуги, без предварительного уведомления об этом Заказчика, при этом продолжение использования ранее предоставляемых Услуг по новым ценам означает согласие Заказчика с такими изменениями.</p>
<div style="color: #65267a; font-weight: bold;">4. ПРАВА И ОБЯЗАННОСТИ СТОРОН.</div>
4.1.Обязанности Исполнителя:
<p>4.1.1. Оказать Заказчику возмездные Услуги в соответствии с условиями данного Договора, при наличии технической возможности предоставления Услуг. </p>
<p>4.1.2. Исполнитель не несет ответственности за нарушение условий договора оферты, если такое нарушение вызвано действием обстоятельств непреодолимой силы (форс-мажор), включая, но не ограничиваясь: действия органов государственной власти, пожар, наводнение, землетрясение, другие стихийные действия, отсутствие электроэнергии и/или сбои работы компьютерной сети, забастовки, гражданские волнения, беспорядки, любые иные обстоятельства, которые могут повлиять на выполнение Исполнителем условий настоящего Договора и неподконтрольные Исполнителю. </p>
4.2. Права Исполнителя:
<p>4.2.1. Отказать Заказчику в предоставлении Услуги в случае неоплаты (или же неполной оплаты) Услуги. </p>
<p>4.2.2. Изменять условия данного Договора в одностороннем порядке, без предварительного уведомления об этом Заказчика.</p>
4.3. Обязанности Заказчика:
<p>4.3.1. Своевременно и полностью оплачивать Исполнителю стоимость Услуг в соответствии с установленными на момент оплаты ценами.</p>
<p>4.3.2. Безоговорочно соблюдать требования законодательства Российской Федерации, условий данного Договора, пользовательского соглашения Сайта «Я предлагаю», правил и иных документов, регулирующих деятельность Исполнителя по оказанию им Услуг.</p>
<p>4.3.3. Самостоятельно и своевременно знакомиться на сайте www.my-tend.com или www.я-предлагаю.рф с установленными ценами, видами Услуг, условиями их предоставления. </p>
4.4. Права Заказчика:
<p>4.4.1. Получать от Исполнителя оплаченные Услуги в соответствии с условиями настоящего Договора. </p>
<div style="color: #65267a; font-weight: bold;">5. ПОРЯДОК ОСУЩЕСТВЛЕНИЯ РАСЧЕТОВ. </div>
<p>5.1. Оплата Услуг Исполнителя Заказчиком производится денежными средствами по безналичному расчету на территории РФ и странах ближнего зарубежья, любым удобным доступным Заказчику способом который предлагает интернет сервис «РОБОКАССА» в меню сайта.</p>
<p>5.2 Услуги предоставляются Заказчику на условиях полной предоплаты стоимости выбранной услуги. </p>
<p>5.3. Способы оплаты услуг размещены на сайте www.my-tend.com или www.я-предлагаю.рф в личном кабинете в вкладке оплата. </p>
<p>5.4. Оплата Услуг считается осуществленной в момент зачисления денежных средств на расчетный счет Исполнителя. </p>
<p>
    5.5. Заказчик проинформирован и соглашается с тем, что операции по приему оплаты за предоставляемые Исполнителем Услуги не контролируется и не отслеживается Исполнителем лично или через третьих лиц, Исполнитель не несет ответственности за перевод и/или поступление денежных средств Заказчика в оплату Услуг.
    5.6 Администрация сайта не выдает документы, подтверждающие оплату на сайте (оплата подписки на получение заявок) Рекомендуем сохранять платежные документы от операторов оплаты.
</p>

<p>5.7. Услуга предоставляется с момента зачисления оплаты и действует до конца платежного периода – 1 календарный месяц. Далее для дальнейшего предоставления услуг договор заключается заново после оплаты за следующий период.</p>

<p>5.8 Сроки зачисления оплаты зависят от оператора оплаты. Инфраструктура сайта включает платные услуги в автоматическом режиме после зачисления оплаты через оператора связи.   После факта оплаты Заказчиком и включения услуги Исполнителем может пройти время, зависит от особенностей проведения платежей операторами оплаты. </p>
<p>5.9 Исполнитель не несет ответственности за заинтересованность пользователей сайта «Я предлагаю» в услугах, которые Заказчик будет пытаться реализовать с помощью программного обеспечения сайта . Заказчик обязуется не иметь претензий к Исполнителю (Администрации сайта) в случае отсутствии заявок, интереса на услуги, предложений Заказчика, внутри инфраструктуры сайта «Я предлагаю».</p> </p>
<div style="color: #65267a; font-weight: bold;">6. ПОРЯДОК ПРЕДОСТАВЛЕНИЯ УСЛУГИ </div>
<p>6.1. Исполнитель освобождается от ответственности за нарушение условий Договора, если такое нарушение вызвано действием обстоятельств непреодолимой силы (форс-мажор), включая действия органов государственной власти, стихийные бедствия, отключение электроэнергии, технологических неисправностей каналов связи общего пользования, посредством которых Заказчик осуществляет доступ к Услугам, или утраты доступа в сети Интернет, забастовки, гражданские волнения и иные обстоятельства, которые могут повлиять на выполнение Исполнителем Договора.</p>
<p>6.1.1 Исполнитель имеет право расторгнуть договор, а так-же удалить профиль/визитку пользователя который уже совершил оплату услуг Исполнителя по причине нарушения пунктов документа «Правила пользования сайтом». Заказчик обязуется не иметь претензий к Исполнителю.</p>
<p>6.2. Заказчик несет полную ответственность за правильность и своевременность производимой им оплаты за Услуги, достоверность регистрационных данных, вводимых Заказчиком при регистрации на Сайте «Я предлагаю».</p>
<p>6.3. Исполнитель не несет ответственности за убытки, расходы причиненные Заказчику Услуг возникшие у Заказчика в следствие нарушения им условий данного Договора, Пользовательского соглашения Сайта «Я предлагаю» и иных документов и правил регулирующих деятельность Исполнителя по оказанию им Услуг. </p>
<p>6.4. Исполнитель не несет ответственности за качество каналов связи общего пользования или служб, предоставляющих доступ Заказчика к его Услугам.</p>
<p>6.5. Исполнитель не имеет обязательств по извещению третьих лиц о потере Заказчиком доступа к Личному кабинету и за возможные последствия, возникшие в результате отсутствия такого извещения. </p>
<p>6.6. Исполнитель ведет деловую переписку с Заказчиком, только по контактному адресу электронной почты, указанной Заказчиком при регистрации на Сайте «Я предлагаю» или указанной Заказчиком впоследствии через Личный кабинет. Заказчик может редактировать контактные данные, в том числе редактировать контактный адрес электронной почты в Личном кабинете.</p>
<p>6.6.1 Ведение деловой и личной переписки по любым вопросам осуществляется лишь с желания/усмотрения Исполнителя. Заказчик обязуется не иметь претензий в случае если Исполнитель не смог или не пожелал вести переписку и прочие переговоры с Заказчиком и третьими лицами.</p>
<div style="color: #65267a; font-weight: bold;"> Исполнитель ведет деловую переписку на темы:</div>
</li>Предложения по улучшению работы сайта «Я предлагаю»</li>
</li>Замечания по системным ошибкам в работе сайта (в сфере ЭВМ)</li>
</li>Замечания опечаток словах и предложениях итд.</li>
</li>Добавить населенный пункт или тему/категорию торгов (если с этим согласится Администрация сайта) </li>
</li>Вопросы и предложения, связанные с рекламой.</li>
Список тем может дополняться и изменяться Исполнителем.
</p>6.7. Действия, совершенные с использованием логина и пароля Заказчика, признаются Сторонами, совершенными Заказчиком и имеющими силу простой электронной подписи
Заказчик отвечает за любые действия, совершенные с использованием логина/пароля Заказчика на Сайте «Я предлагаю», адреса электронной почты, номера, а также сохранность своего логина/пароля и за убытки, которые могут возникнуть по причине несанкционированного использования Личного кабинета Заказчика и простой электронной подписи. В случае кражи/утери логина или пароля Заказчик самостоятельно предпринимает необходимые меры для смены пароля для доступа к Личному кабинету и/или Услугам. Исполнитель не несет ответственность за действия третьих лиц, повлекшие кражу/утерю логина или пароля Заказчика, а также любые расходы, ущерб и/или упущенную выгоду, возникшие у Заказчика в связи с несанкционированным доступом третьих лиц к Личному кабинету Заказчика.</p>
<div style="color: #65267a; font-weight: bold;">7. ОБРАБОТКА ПЕРСОНАЛНЫХ ДАННЫХ. </div>
<p>7.1. Заключая Договор и внося персональные данные при регистрации на Сайте «Я предлагаю», Заказчик выражает согласие на предоставление своих персональных данных их обработку и их опубликование на страницах сайта Исполнителем.</p>
<div style="color: #65267a; font-weight: bold;">8. УРЕГУЛИРОВАНИЕ СПОРОВ.</div>
<p>
    8.1. Для разрешения споров и разногласий, которые могут возникать при исполнении настоящего Договора, должен быть соблюден досудебный претензионный порядок разрешения споров. Который осуществляется путем направления в адрес Исполнителя письменной претензии с приложением всех необходимых документов, подтверждающих суть предъявленной претензии. Ответ на претензию Заказчика осуществляется в порядке и сроках установленных законодательством Российской Федерации.</li>
    <li>8.2. В случае если споры и разногласия не могут быть решены указанным способом, они подлежат урегулированию в судебном порядке по месту нахождения Исполнителя в соответствии с действующим законодательством Российской Федерации.
</p>
<div style="color: #65267a; font-weight: bold;">9. ЗАКЛЮЧЕНИЕ, ИЗМЕНЕНИЕ И РАСТОРЖЕНИЕ ДОГОВОРА.</div>
<p>9.1. Моментом заключения данного Договора считается момент зачисления оплаты Услуг на расчетный счет Исполнителя.</p>
<p>9.2. Заказчик вправе в любое время в одностороннем порядке отказаться от Услуг Исполнителя. В случае одностороннего отказа Заказчика от Услуг Исполнителя произведенная оплата не возвращается и не переносится на другую Услугу.</p>
<p>9.3. Исполнитель оставляет за собой право в одностороннем порядке, без предварительного уведомления об этом Заказчика, изменять или дополнять любые из условий настоящего Договора в любое время, опубликовывая все изменения на Сайте «Я предлагаю». При этом продолжение пользования Услугами Исполнителя после внесения изменений и дополнений в условия настоящего Договора, означает согласие Заказчика с такими изменениями и дополнениями.</p>
<p>9.4. Исполнитель вправе в любое время в одностороннем порядке отказаться от исполнения настоящего Договора как полностью, так и в части, с уведомлением об этом Заказчика посредством Сайта «Я предлагаю», по адресу электронной почты или иным способом.</p>
<p>9.5. При нарушении Заказчиком условий данного Договора, Пользовательского соглашения сайта «Я предлагаю» или любых иных документов, регулирующих деятельность Исполнителя по оказанию им Услуг, размещенная на Сайте «Я предлагаю» информация Заказчика может быть отклонена и/или заблокирована, а доступ к Личному кабинету прекращен (заблокирован), без специального уведомления об этом Заказчика, с взысканием в качестве санкции за нарушение обязательств Заказчика суммы равной сумме неиспользованного остатка денежных средств оплаченных за Услугу.</p>
<p>9.6. Договор прекращается досрочно в случае прекращения (блокировки) доступа Заказчика к Личному кабинету в связи с нарушением Заказчиком Пользовательского соглашения сайта «Я предлагаю» или любых иных документов, регулирующих деятельность Исполнителя по оказанию им Услуг, или прекращения такого доступа по инициативе Заказчика.</p>





