@{
    ViewBag.Title = "Договор-оферта";
}

<h2>Договор-оферта</h2>

<h3>1.Общие положения.</h3>

<p>
    Договор о предоставлении платных услуг по размещению информации заключается путем оферты, т.е. публичного предложения, содержащего условия договора. Согласно Гражданскому кодексу РФ оплаченный договор-оферта является юридически заключенным договором и означает согласие Заказчика с условиями предоставления ему информационных услуг.
</p>
<p>
    В соответствии с п. 2 ст. 437 Гражданского Кодекса РФ в случае принятия изложенных ниже условий и оплаты услуг юридическое или физическое лицо, производящее акцепт этой оферты, становится Заказчиком (в соответствии с п. 3 ст. 438 ГК РФ акцепт оферты равносилен заключению договора на условиях, изложенных в оферте), а Исполнитель и Заказчик совместно — Сторонами договора публичной оферты.
</p>
<p>
    Таким образом, данное предложение («Договор-Оферта») является офертой, а его оплата – акцептом.
</p>
<p>
    <h3>1.Общие положения.</h3>
</p>
<p>
    1.1. Настоящая публичная оферта (далее - Договор) представляет собой официальное предложение ИП Романов Олег Евгеньевич, ОГРНИП 315169000014539, (далее - «Исполнитель»), по оказанию возмездных услуг по размещению информации (далее – «Услуги») с помощью программного обеспечения сайта «Я предлагаю»  (далее – Сайт) с дееспособными физическими лицами (далее – «Пользователь»), на перечисленных в данном Договоре условиях.
</p>
<p>
    1.2 Все зарегистрированные пользователи Сайта, являются физическими лицами, с правом представлять от своего имени интересы юридических лиц и частных компаний.
    1.2.2 Физические лица пройдя регистрацию на сайте, при использовании сервисов Сайта гарантируют, что своими действиями не подвергают нарушению интересы третьих лиц, используя: названия частных компаний, логотипов и прочих сведений, во время привлечения внимания Пользователя и последующего спроса на предложенную Услугу.
</p>
<p>
    1.3 Заказчик соглашается с условиями настоящего Договора путем осуществления действий по оплате Услуг в установленном настоящим Договором порядке (акцепт оферты).
    Акцептирование Заказчиком настоящего Договора означает, что он полностью и безоговорочно согласен со всеми пунктами настоящего Договора и принимает на себя ответственность за их соблюдение в полном объеме.
</p>
1.4. Исполнитель оставляет за собой право вносить изменения в настоящий Договор, в связи с чем, Заказчик обязуется регулярно самостоятельно отслеживать изменения в Договоре, размещенном на Сайте.
</p>
<p>

    <h3>2.Термины и определения</h3>
    <ul>
        <li>
            «Заказчик» - пользователь, физическое лицо, осуществившее акцепт оферты на изложенных в ней условиях;
        </li>
        <li>«Услуги» - услуги Исполнителя по возмездному размещению информации Заказчика на Сайте принадлежащему Исполнителю под торговой маркой «Я предлагаю», Размещенного по интернет адресам www.my-tend.com или www.я-предлагаю.рф;</li>
        <li>«Сайт» - «Я предлагаю», сайт в сети Интернет, доступ к которому осуществляется по адресу: www.my-tend.com или www.я-предлагаю.рф используемый для предоставления Услуг Исполнителя Заказчикам, включая все страницы данного сайта, содержащие в своем доменном имени обозначения: я-предлагаю.рф ,my-tend.com; </li>

        <li>«Договор Оферта» - договор между Исполнителем и Заказчиком на предоставление Услуг, заключенный посредством Акцепта Оферты (см. пункт 1.3);</li>
        <li>
            «Платные услуги» - услуги, оказываемые Исполнителем Заказчику по предоставлению доступа к заявкам на услуги Заказчика другими, незарегистрированными, пользователями Сайта.
            Оплата Заказчиком денежных средств за услуги Исполнителя на сайте может именоваться как «Торговый взнос»;
        <li>«Пользователи» - физические лица, прошедшие регистрацию и получившие учетную запись (логин и пароль) для доступа к закрытым от незарегистрированных пользователей сервисам и контенту Сайта;</li>
        <li>«Продавец» - пользователь, использующий на Сайте платные услуги, участвует в торгах, предлагая свои услуги для возможного, последующего заключения сделки;</li>
        <li>«Покупатель» – пользователь на Сайте, который использует сервис бесплатной рассылки заявок на оказание услуг, адресованных Продавцам;</li>
        <li>Торг - конкурс конкурентной формы отбора предложений на поставку услуг, по заранее объявленным в заявке условиям, на основе сервиса Сайта;</li>
        <li>Сервисы - функциональные возможности, доступные для Пользователей Сайта;</li>
    </ul>
    <h3>3. Предмет договора</h3>

<p>3.1. Предметом настоящего Договора является возмездное оказание Заказчику Услуг, предоставляемых Исполнителем в виде доступа Заказчика к меню Сайта «Заявки на мои услуги», в котором Заказчик по мере спроса от Покупателей может получать заявки(спрос) на свои услуги, с возможностью отвечать на них предложениями, за вознаграждение, выплачиваемое Заказчиком Исполнителю.</p>

<p>3.2. Стоимость Услуг устанавливается Исполнителем на Сайте. Договор на оказание Услуг считается заключенным с момента поступления денежных средств на расчетный счет Исполнителя.</p>

</p>3.3. Исполнитель вправе изменять в одностороннем порядке цены на предоставляемые им Услуги, путем установления новых цен на Услуги, без предварительного уведомления об этом Заказчика, при этом последующее использование ранее предоставляемых Услуг по новым ценам, означает согласие Заказчика с такими изменениями.</p>

<h3>4.Права и обязанности сторон</h3>

<p>4.1.Обязанности Исполнителя:</p>
<p>
    4.1.1. Оказать Заказчику возмездные Услуги в соответствии с условиями данного Договора, при наличии технической возможности предоставления Услуг.
    4.1.2. Исполнитель не несет ответственности за нарушение условий договора оферты, если такое нарушение вызвано действием обстоятельств непреодолимой силы (форс-мажор), а именно, но не ограничиваясь перечисленным:
</p>
<p>-действия органов государственной власти; </p>
<p>-пожар, наводнение, землетрясение и иные стихийные действия; </p>
<p>отсутствие электроэнергии и/или сбои работы компьютерной сети; </p>
<p>-забастовки, гражданские волнения, беспорядки; </p>
<p>-технологических неисправностей каналов связи общего пользования, посредством которых Заказчик осуществляет доступ к Услугам;</p>
<p>-утраты доступа в сети Интернет;</p>
<p>-любые иные обстоятельства, которые могут повлиять на выполнение Исполнителем условий настоящего Договора и неподконтрольные Исполнителю.</p>

4.2. Права Исполнителя:

<p>4.2.1. Отказать Заказчику в предоставлении Услуги в случае неоплаты (или же неполной оплаты) Услуги.</p>
<p>4.2.2. Изменять условия данного Договора в одностороннем порядке, без предварительного уведомления об этом Заказчика.</p>

<p>4.3. Обязанности Заказчика:</p>
<p>4.3.1. Своевременно и полностью оплачивать Исполнителю стоимость Услуг в соответствии с установленными на момент оплаты ценами.</p>
<p>4.3.2. Безоговорочно соблюдать требования законодательства Российской Федерации, условий данного Договора, пользовательского соглашения Сайта «Я предлагаю», правил и иных документов, регулирующих деятельность Исполнителя по оказанию им Услуг.</p>
<p>4.3.3. Самостоятельно и своевременно знакомиться на сайте www.my-tend.com или www.я-предлагаю.рф с установленными ценами, видами Услуг, условиями их предоставления.</p>

<p>4.4. Права Заказчика:</p>

<p>4.4.1. Получать от Исполнителя оплаченные Услуги в соответствии с условиями настоящего Договора.</p>

<h3>5. Порядок осуществления расчетов</h3>

<p>5.1. Оплата Услуг Исполнителя Заказчиком производится денежными средствами по безналичному расчету на территории РФ и странах ближнего зарубежья, любым удобным доступным Заказчику способом, который предлагает интернет сервис «РОБОКАССА» в меню сайта.</p>

<p>5.2 Услуги предоставляются Заказчику на условиях полной оплаты стоимости выбранной услуги.</p>

<p>5.3. Способы оплаты услуг размещены на сайте www.my-tend.com в меню «стать продавцом»-далее-кнопка-«оплатить».</p>

<p>5.4. Оплата Услуг считается осуществленной в момент зачисления денежных средств на расчетный счет Исполнителя.</p>

<p>
    5.5. Заказчик проинформирован и соглашается с тем, что операции по приему оплаты за предоставляемые Исполнителем Услуги не контролируется и не отслеживается Исполнителем лично или через третьих лиц.
    Исполнитель не несет ответственности за перевод и/или поступление денежных средств Заказчика в оплату Услуг.
</p>

<p>5.6 Администрация сайта не выдает документы, подтверждающие оплату на сайте. Рекомендуем сохранять платежные документы от операторов оплаты. Администрация Сайта, вправе запросить у Заказчика сканированную копию документа об оплате, в случае возникновения претензий.</p>

<p>5.7. Услуга предоставляется с момента зачисления оплаты и действует до конца платежного периода – 1 календарный месяц. Далее для дальнейшего предоставления услуг договор заключается заново путем оплаты за следующий период.</p>

<p>5.8 Сроки зачисления оплаты зависят от оператора оплаты. Инфраструктура сайта включает платные услуги в автоматическом режиме после зачисления оплаты через оператора связи. После факта оплаты Заказчиком и включения услуги Исполнителем может пройти время, зависит от особенностей проведения платежей операторами оплаты.</p>

<p>5.9 Исполнитель не несет ответственности за заинтересованность пользователей сайта «Я предлагаю» в услугах, которые Заказчик будет пытаться реализовать с помощью программного обеспечения сайта. Заказчик обязуется не иметь претензий к Исполнителю (Администрации сайта) в случае отсутствии заявок, интереса на услуги/предложения Заказчика, внутри инфраструктуры сайта «Я предлагаю».</p>


<h3>6. Порядок предоставления услуги</h3>
<p>
    6.1. Исполнитель освобождается от ответственности за нарушение условий Договора, если такое нарушение вызвано действием обстоятельств непреодолимой силы (форс-мажор), подробный перечень которых, указан в пункте 4.1.2. настоящего Договора.
</p>

<p>
    6.1.1 Исполнитель имеет право расторгнуть договор, а также удалить профиль/визитку пользователя который уже совершил оплату услуг Исполнителя по причине нарушения пунктов документа «Правила пользования сайтом» и прочих представленных документов и инструкций.
    Заказчик обязуется не иметь претензий к Исполнителю.
    Заказчик обязуется не иметь претензии по возврату денежных средств.
</p>

<p>6.2. Заказчик несет полную ответственность за корректный ввод реквизитов для оплаты и своевременную оплату за Услуги, а также за достоверность регистрационных данных, вводимых Заказчиком при регистрации на Сайте.</p>

<p>6.3. Исполнитель не несет ответственности за убытки, расходы, причиненные Заказчику Услуг, возникшие у Заказчика вследствие нарушения им условий данного Договора, Пользовательского соглашения Сайта, и иных документов, а также правил, регулирующих деятельность Исполнителя по оказанию Услуг.</p>

<p>6.4. Исполнитель не несет ответственности за качество каналов связи общего пользования или служб, предоставляющих доступ Заказчика к его Услугам.</p>

<p>6.5. Исполнитель не имеет обязательств по извещению третьих лиц о потере Заказчиком доступа к Личному кабинету и за возможные последствия, возникшие в результате отсутствия такого извещения.</p>

<p>
    6.6. Исполнитель ведет деловую переписку с Заказчиком, только по контактному адресу электронной почты, указанной Заказчиком при регистрации на Сайте или указанной Заказчиком впоследствии через Личный кабинет.
    Заказчик может редактировать контактные данные, в том числе редактировать контактный (актуальный) адрес электронной почты в Личном кабинете.
</p>
<p>6.6.1 Ведение деловой и личной переписки по любым вопросам осуществляется на усмотрение Исполнителя.</p>
<p>Заказчик обязуется не иметь претензий, в случае если Исполнитель не смог или не пожелал вести переписку и прочие переговоры с Заказчиком и третьими лицами. </p>
<p>Список тем, которые являются поводом для переписки Исполнителя/Заказчика:</p>
<p>обнаружение Заказчиком технических проблем или предложения развития инфраструктуры сайта;</p>
<p>проблемы с оплатой;</p>
<p>предложения бартера и прочего сотрудничества;</p>
желание или предложение разместить рекламу;
<p>Остальные темы переписки будут без ответа, но будут приняты к сведению.</p>

<p>
    6.7. Действия, совершенные с использованием логина и пароля Заказчика, признаются Сторонами, совершенными Заказчиком и имеющими силу простой электронной подписи. Заказчик отвечает за любые действия, совершенные с использованием логина/пароля Заказчика на Сайте, адреса электронной почты, номера, а также сохранность своего логина/пароля и за убытки, которые могут возникнуть по причине несанкционированного использования Личного кабинета Заказчика и простой электронной подписи.
    В случае кражи/утери логина и/или пароля Заказчик самостоятельно предпринимает необходимые меры для смены пароля для доступа к Личному кабинету и/или Услугам. Исполнитель не несет ответственность за действия третьих лиц, повлекшие кражу/утерю логина или пароля Заказчика, а также любые расходы, ущерб и/или упущенную выгоду, возникшие у Заказчика в связи с несанкционированным доступом третьих лиц к Личному кабинету Заказчика.
</p>
<p>
    6.8. Услуга считается оказанной полностью после проведения оплаты и открытия доступа к меню «Заявки от покупателей».
    <h3>7. Урегулирование споров</h3>
<p>7.1. Для разрешения споров и разногласий, которые могут возникать при исполнении настоящего Договора, должен быть соблюден досудебный претензионный порядок разрешения споров, который осуществляется путем направления на электронный адрес Исполнителя письменной претензии с приложением всех необходимых документов, подтверждающих суть предъявленной претензии. Ответ на претензию Заказчика осуществляется в порядке и сроках, установленных законодательством Российской Федерации.</p>

<p>7.2. В случае если споры и разногласия не могут быть решены указанным способом, они подлежат урегулированию в судебном порядке по месту нахождения Исполнителя в соответствии с действующим законодательством Российской Федерации.</p>

<h3>8. Заключение, изменение, расторжение договора.</h3>

<p>8.1. Моментом заключения данного Договора считается момент зачисления оплаты Услуг на расчетный счет Исполнителя.</p>

<p>8.2. Заказчик вправе в любое время в одностороннем порядке отказаться от Услуг Исполнителя. В случае одностороннего отказа Заказчика от Услуг Исполнителя произведенная оплата не возвращается и не переносится на другую Услугу.</p>

<p>8.3. Исполнитель оставляет за собой право в одностороннем порядке, без предварительного уведомления об этом Заказчика, изменять или дополнять любые из условий настоящего Договора в любое время, опубликовывая все изменения на Сайте. При этом продолжение пользования Услугами Исполнителя после внесения изменений и дополнений в условия настоящего Договора, означает согласие Заказчика с такими изменениями и дополнениями.</p>

<p>8.4. Исполнитель вправе в любое время в одностороннем порядке отказаться от исполнения настоящего Договора как полностью, так и в части, с уведомлением об этом Заказчика по адресу электронной почты или иным удобным Исполнителю способом.</p>

<p>8.5. При нарушении Заказчиком условий данного Договора, правил пользования Сайтом и прочих инструкций представленных на сайте, доступ к Сайту, может быть прекращен, удалена визитка/профиль, с взысканием в качестве санкции за нарушение обязательств Заказчика суммы равной сумме неиспользованного остатка денежных средств оплаченных за Услугу.</p>
