@{
    ViewBag.Title = "Персональные данные";
}

<h2>Соглашение на обработку  персональных данных</h2>


<p>Настоящим Соглашением я предоставляю Администрации сайта My-Tend.Com согласие на обработку  моих персональных данных и подтверждаю, что, давая такое согласие, я действую своей волей и в своем интересе. </p>

<p>В соответствии с Федеральным законом Российской Федерации от 27.07.2006 г. № 152-ФЗ «О персональных данных» я согласен при необходимости во время заполнения информации при регистрации на Сайте, входе в Личный кабинет, заполнения вкладок визитки, заполнения заявки, заполнения предложения во время торгов и т.д, предоставить информацию, относящуюся к моей личности.</p>

<strong>Например:</strong>
<li>мои фамилия, имя, отчество;</li>
<li>Вид деятельности, место работы;</li>
<li>контактный телефон;</li>
<li>адрес электронной почты;</li>
<li>город проживания;</li>
<li>профили в социальных сетях;</li>
<li>сайты в интернете;</li>
<li>skype;</li>
<li>фотографии, личные изображения, логотипы и не только;</li>

Вышеперечисленная информация, а также:

<li>информация коммерческого содержания, направленная на привлечение Покупателя, например: фотографии (личные и/или портфолио Услуги);</li>
<li>любая иная информация о Продавце/Покупателе и/или об оказании Услуги с целью продажи/предложения/обмена и поиска на Сайте;</li>
<li>любые другие внесенные персональные данные;</li>
<p>будут автоматически считаться, как необходимые для использования сервисов сайта и исполнения Договора между Администрацией и пользователем сайта, а также<strong> переходят в общедоступный вид</strong>.</p>
<p>Согласие на обработку персональных данных дается мною в целях исполнения предусмотренных законодательством РФ обязательств по оказанию услуг по договору и в целях получения услуг, оказываемых сервисом Сайта.</p>

<p>
    Я выражаю свое согласие на осуществление со всеми указанными персональными данными следующих действий: сбор, систематизация, накопление, хранение, уточнение (обновление или изменение), использование, распространение (в том числе, передача), обезличивание, блокирование, уничтожение, передача, в том числе трансграничная передача, а также осуществление любых иных действий с персональными данными в соответствии с действующим законодательством. Обработка данных может осуществляться с использованием средств автоматизации, так и без их использования (при неавтоматической обработке).
    При обработке персональных данных Администрация Сайта не ограничена в применении способов их обработки.
</p>

<p>Настоящим я признаю и подтверждаю, что Администрация Сайта «My-Tend.Com»  вправе предоставлять мои персональные данные третьим лицам для любых целей, а также (в обезличенном виде) в статистических, маркетинговых и иных научных целях. Такие третьи лица имеют право на обработку персональных данных на основании настоящего согласия.</p>

<p>Я даю согласие на обработку моих персональных данных в течение срока действия, заключенного между мною и Администрацией Сайта Договора и в течение 5 (пяти) лет после расторжения Договора как в связи с окончанием срока его действия, так и досрочно, но могу отозвать его посредством письменного уведомления Администрации Сайта не менее чем  за 1 (один) месяц до момента отзыва согласия, при этом я осознаю, что, отзывая свое согласие, я обязан инициировать процедуру досрочного расторжения Договора с Администрацией Сайта.</p>

<strong>Я осознаю, что проставлением отметки «V» или «X» возле предложения "Я прочитал и принял Соглашение на обработку персональных данных", я подтверждаю что:</strong>
<li>
    Я прочитал полностью этот документ и принял его полностью и без исключения;
</li>
<li>
    Я делаю это для того, чтобы использовать в своих личных целях сервис сайта «My-Tend.Com», и не буду иметь претензий к Владельцу данного сайта из области ФЗ «О персональных данных».
</li>
<li>
   Я не буду вносить виды, классы, персональных данных, которые считаю или буду считать в будущем недопустимыми к опубликованию /обнародоваию / обработке / хранению в сети интернет.
</li>

