@{
    ViewBag.Title = "Соглашение с условиями пользования сайтом";
}

<h2>Соглашение с условиями пользования сайтом</h2>

<div style="color: #000000; font-weight: bold;">1.Введение</div>
<li>.Данный сервис (далее сайт или сайт "Я предлагаю") покупки и продажи услуг по принципу конкурных торгов находится под управленинием ИП Романова Олега Евгеньевича.
<li> Данное Соглашение с уловиями пользования (далее – «Правила» или «Соглашение») применяются к абсолютно к любому использованию, применению или упоминанию Сайта.
<li> Используя Сайт, Вы подтверждаете, что Вам больше 18 лет и что Вы имеете право принять настоящие Правила.
<li> Используя Сайт, Вы соглашаетесь с настоящими Правилами и принимаете их условия.
<li> Если Вы не принимаете настоящие Правила, или считаете идею, принцип действия, алгоритм, финансовую политику и прочие основы на которых основан сайт не подходящими для Вас - Вы не можете пользоваться Сайтом и не должны регистрироваться или находиться на нем.
<li>
    Используя Сайт, или находясь на нем, Вы подтверждаете, что вас все устраивает в его дизайне, алгоритмах, действия, наполняемом контенте и не станете иметь претензии исходя из увиденного на сайте лино или через третьих лиц. Так же не передавать претензии третьим лицам.
    <div style="color: #000000; font-weight: bold;">2.Права на интеректуальную собственность</div>
    <div style="color: #000000; font-weight: bold;">3.Пользователь имеет право:</div>
    <div style="color: #000000; font-weight: bold;">4.Пользователь не имеет право:</div>
    <div style="color: #e90303; font-weight;">Продолжая использовать сайт "Я предлагаю", Вы подтверждаете что, самостоятельно ознакомились с законами РФ и будете использовать сайт строго в соответствии с их требованиями.</div><p>
        4.1.На сайте  запрещены  действия которые:
<li>
    являются незаконными и могут повлечь гражданскую, уголовную или административную ответственность;
<li>
    нарушает права третьих лиц на объекты интеллектуальной собственности;
<li>
    содержат вредоносные объекты, такие как компьютерные вирусы, трояны, черви, логические бомбы или другие вредоносные программы или данные;
<li>
    являются или могут быть истолкованы как оскорбительные, порнографические, агрессивные, клеветническими, дискриминационными, призывающими к насилию, непристойными, возбуждающими ненависть или расистскими;
<li>
    поддерживают любые противоправные действия, в том числе, но не исключительно, терроризм, азартные игры или продажу рецептурных медицинских препаратов, оружия или наркотиков;
<li>
    содержат любые запрещенные материалы, в том числе, но не исключительно, пароли, медицинскую информацию, засекреченную государственную или военную информацию или конфиденциальную информацию о любых лицах;
<li>
    причиняют ущерб репутации Сайта "Я предлагаю" либо его владельцу или оправдывает, поощряет, поддерживает или провоцирует вышеперечисленное.
    </p>
    4.2. Использовать сервисы Сайта любым способом, который может помешать их нормальному функционированию инфраструктуры сайта.<p>
        4.3. Вводить Администрацию Сайта, пользователей, гостей сайта в заблуждение относительно своей личности, умышленно искажать представление о самом себе, своем роде деятельности.
    <p>
        4.4. Размещать на Сайте, доводить до всеобщего обозрения информацию о других пользователей или любых третьих лиц без их личного письменного согласия на такие действия. Получать и вымогать конфиденциальную информацию иных пользователях и (или) третьих лиц.
    <p>
        4.5. Размещать на Сайте любые файлы, которые содержат или могут содержать вредоносные программы и ссылки на них.
    <p>
        4.6. Осуществлять действия, являющиеся недобросовестной рекламой, антирекламой Сайта.
        4.6. Совершать иные противоправные действия в отношении администрации сайта, других пользователей сайта и третьих лиц.
    <p>

        <div style="color: #000000; font-weight: bold;">5.Перональные данные</div>
        Предоставляя любую информацию сайту "Я предлагаю", Вы выражаете свое согласие на ее использование в целях которые направлены на работу сайта . Вы осознано заполняете данные о себе для доведения сведений другим пользователям сайта и третьим лицам.
        <div style="color: #000000; font-weight: bold;">6.Внимание важно</div>
        Риск использования Интернета состоит в том, что люди могут быть не теми, за кого себя выдают. Администрация  сайта не имеет возможности проверять страницы других пользователей а так же их род занятий и то что они пишут друг другу. В вопросах общения только Вы можете принимать решения по своему усмотрению, и Администрация рекомендует проявлять некоторую осторожность. Используя Сайт и его услуги, Вы соглашаетесь с этим и принимаете описанные выше риски.
        <div style="color: #000000; font-weight: bold;">7.Ответственность пользовател, гостя</div>
        7.1. Используя, находясь либо регистрируясь на сайте - Вы соглашаетесь со всеми пунктами  предложеных к ознакомлению правил, соглашений и инструкций.
        7.2. Вы обязуетесь защищать сайт и его владельца от претензий которые могли бы возникнуть в следствии Вашего использования сайта, взяв на себя всю все финансовые расходы.
    <p>
        7.3. Пользователь обязан самостоятельно знакомиться с возможными изменениями условий настоящего Соглашения. Администраия имеет права не уведомлять пользователя об изменениях условий настоящего Соглашения.
    <p>
        7.4.Любой  гость, пользователь гарантирует что  самостоятельно ознакомлен с законами РФ и будет соблюдать раздел 4."Безопасность"  полностью и без исключений.
    </p>
    <div style="color: #000000; font-weight: bold;">8.Безопасность на сайте</div>

    8.1. Сайты ссылки на которые пользователи (третьи лица) могут предоставить в беседах,торгах или в визитках, не проверялись сайтом "Я предлагаю". Переход по ссылкам на сторонние сайты строго на усмотрение и риск пользователя(лей) .<p>
        8.2. Логин и пароль на Сайт  не должны разглашаться или передаваться третьим лицам в целях безопасности Вашего аккаунта на сайте.
    <p>
        8.3. В случае утери, подозрения на взмлом, взлом третьими лицами - ответственность лежит исключительно на пользователях .
    <p>
        8.4. Сайт я предлагаю может отсылать на указанные пользователями электронные адреса письма. Используя Сайт, Вы соглашаетесь с тем что становитесь абонентом возможной рассылки или писем с срочной информацией о сайте.
    <p>
        8.5. Сайт "Я предлагаю" имеет право уступить права, предоставленные Вами, третьим лицам.
    <p>
        <div style="color: #000000; font-weight: bold;">9.Ответственность администрации и владельца сайта</div>
        Пользователь соглашается и принимает как факт что:
        9.1.Администрация  и владелец сайта не гарантируют, что работа сайта будет безошибочной и неприрывной. Пользователь, гость сайта принимает во внимание, что сайт создавали люди которым свойственно ошибаться и не знать наперед какие либо возможные факты, поэтому пользователь гарантирует лояльность ко всему, что возможно его может огорчить.
    <p>
        9.2.Владелец сайта  предоставляет его для Вашего пользования по принципу "как есть".
        9.3.Администрация сайта или Владелец не несут перональной ответсвтенности за:
<li>
    упущенную выгоду связанную с использованием сайта.
<li>
    моральный, психический, физический, сексуальный вред здоровью пользователя, гостя или третьих лиц либо животных.
<li>
    Любой вред материально технического характера.
<li>
    за сайты, ссылки на которые предоставили пользователи или наши партнеры (по всем вопросам обращаться к администраторам  этих сайтов)
<li>
    за задержку, перерыв в предоставении услуг в том числе платных или неточностью данных.
<li>
    за нарушение любыми лицами любых прав на обьекты интеллектуальной собственности третьих лиц, связанным с использованием Сайта.
