<h2>Условия использования сайта «My-Tend.Com»  Аукцион Событий</h2>
<h4>(далее - Сайт)</h4>

<div style="color: #cc0001  ; font-weight: bold;">За нарушение пунктов правил может последовать блокировка или удаление профиля пользователя с сайта. </div>

<div style="color: #cc0001  ; font-weight: bold;">Сайт работает по принципу саморегуляции, обнаружение и сообщение о нарушении правил использования сайта, находится в в обязанности и поле зрении пользователей. </div>



<h3>Хозяйке на заметку / коротко о главном</h3>

   <p>Этот "рынок/базар/биржа/аукцион/да как угодно называйте" для купли продажи только Event-услуг.</p>
   <p> Регистрироваться  можно только с 18 лет и только от своего лица .</p>
   <p> На MY-TEND.COM нет демократии и свободы слова, тут есть мнение создателя, правила пользования сайтом и чуточка здравого смысла.</p>
   <p>В отношении "звезд, быдла" и прочих личностей портящих "эко систему" внутри сайта, действует политика Нулевой Терпимости — их аккаунты удаляются без предупреждения и просьб к соблюдению правил сайта.</p>



<h3>1. Общие положения</h3>
<p>1.1.Данный Сайт, сервис для покупки и продажи услуг по принципу конкурсных торгов рассматривает, регистрирует пользователей исключительно как физических лиц,  с возможным правом представлять собственные интересы или интересы частных компаний и находится под управлением ИП Романова Олега Евгеньевича (ОГРНИП 315169000014539).</p>
<p>1.2.Данные условия использования сайта (далее – «Условия») применяются абсолютно к любому использованию, применению или упоминанию Сайта.</p>
<p>1.3.Используя Сайт, Вы подтверждаете, что Вам больше 18 лет и что вы имеете право принять настоящие Условия.</p>
<p>1.4.Используя Сайт, Вы соглашаетесь с настоящими Условиями и принимаете их требования.</p>
<p>1.5.Если Вы не принимаете настоящие Условия или считаете, что: </p>
<p>-идея;</p>
<p>-принцип действия;</p>
<p>-алгоритм;</p>
<p>-финансовая политика;</p>
<p>-прочие основы, на которых основана деятельность Сайта;</p>
<p>не подходит для Вас, то рекомендуем не регистрироваться и не пользоваться Сайтом.</p>
<p>1.6.Используя Сайт, или находясь на нем, Вы подтверждаете, что у Вас не возникли претензии по поводу:</p>
<p>-дизайна Сайта,</p>
<p>-алгоритма действия;</p>
<p>-принципа действия;</p>
<p>-финансовой политики;</p>
<p>-наполняемом контенте;</p>

<p>1.7.Ознакомившись с данным пунктом и при непосредственном использованием Сайта, Вы подтверждаете, что не будете иметь претензий исходя из увиденного на сайте лично либо через третьих лиц. Так же, вы подтверждаете, что не будете передавать претензии третьим лицам.</p>

<h3>2. Права на интеллектуальную собственность</h3>

<p>2.1.Обладателем исключительных прав на Сайт, а именно, но не ограничиваясь перечисленным:</p>
<p>доменное имя;</p>
<p>размещенный на Сайте логотип;</p>
<p>базы данных, </p>
<p>все технические разработки, позволяющие осуществлять использование Сайта;</p>
<p>является ИП Романов Олег Евгеньевич.</p>
<p>2.2.Пользователь или иное лицо не вправе использовать Сайт способами, не предусмотренными настоящими Условиями без письменного уведомления о таком намерении и последующем разрешении со стороны администрации Сайта, том числе извлекать сведения в любой форме, не предусмотренной данными Условиями. Исключительные права на результаты интеллектуальной деятельности, включенные в состав сведений, предоставленных пользователями Сайта, принадлежат соответствующим пользователям и правообладателям.</p>

<p>2.3.В целях исполнения настоящих Условий, проведения:
<p>-конкурсов;</p>
<p>-акций;</p>
<p>-анонсирования и информирования пользователей;</p>
<p>-реализация законных прав и интересов, и обеспечения функционирования Сайта;  </p>
<p>пользователь предоставляет ИП Романову Олегу Евгеньевичу, действующее повсеместно, бессрочное право использовать сведения, а именно, но не ограничиваясь перечисленным: фотографии, тексты описания услуги, товарные знаки, логотипы и т.д.) любым способом на всех известных или неизвестных информационных носителях в течение всего срока действия исключительного права, а также передавать такое право третьим лицам. Пользователь разрешает использование материалов в составе сведений без указания имени автора, а также гарантирует, что предоставленные сведения не нарушают любых прав третьих лиц, в том числе и исключительных прав.</p>

<h3>3. Пользователь не имеет право:</h3>
<p>-Искажать, интерпретировать категории и темы торгов на свое усмотрение с целью запроса/продажи отсутствующих в списке услуг/товаров или запрещенных законами РФ.</p>
<p>-Использовать сервисы Сайта любым способом, который может помешать нормальному функционированию инфраструктуры сайта;</p>
<p>-Вводить администрацию Сайта, пользователей, гостей сайта в заблуждение относительно своей личности, умышленно искажая представленные данные о самом себе и/или о своем роде деятельности;</p>
<p>-Размещать на Сайте, доводить до всеобщего обозрения информацию о других пользователях либо о третьих лицах без их личного письменного согласия на такие действия;</p>
<p>-Получать либо вымогать конфиденциальную информацию об иных пользователях и/или третьих лицах.</p>
<p>-Размещать на Сайте любые файлы, заведомо содержащие в себе вредоносные программы и/или ссылки на них;</p>
<p>-Осуществлять действия, являющиеся недобросовестной рекламой/антирекламой Сайта.</p>
<p>-Совершать иные противоправные действия в отношении администрации Сайта, других пользователей Сайта и третьих лиц.</p>
<p>-На сайте запрещены действия, которые:</p>
<p>являются незаконными и могут повлечь гражданскую, уголовную или административную ответственность;</p>
<p>-нарушает права третьих лиц на объекты интеллектуальной собственности;</p>
<p>-содержат вредоносные объекты, такие как, а именно, но не ограничиваясь перечисленным: компьютерные вирусы, трояны, черви, логические бомбы и/или другие вредоносные программы или данные;</p>
<p>-являются или могут быть восприняты как оскорбительные, порнографические, агрессивные, клеветнические, дискриминационные, призывающие к насилию, непристойные, возбуждающие ненависть или расовую неприязнь;</p>
<p>-поддерживают любые противоправные действия, а именно, но не ограничиваясь перечисленным: терроризм, азартные игры или продажу рецептурных медицинских препаратов, оружия или наркотиков;</p>
<p>-содержат любые запрещенные материалы, а именно, но не ограничиваясь перечисленным: пароли, медицинскую информацию, засекреченную государственную, или военную информацию, или конфиденциальную информацию о любых лицах;</p>
<p>-причиняют ущерб репутации Сайта, либо его владельцу и/или оправдывают, поощряют, поддерживают, или провоцируют все вышеперечисленное.</p>
<p>-размещать ссылки на : ресурсы которые препятствует открытию и закрытию окна браузера, содержат вредоносное ПО, сайты-агрегаторы, сайты которые запускают почтовый сервис, контент 18+, сцены и изображения насилия, пропоганду терроризма и прочих подобных материалов, в том числе запрещенных законом РФ.  ;</p>



<h3>4. Ответственность пользователя, гостя</h3>

<p>4.1. Используя, находясь либо регистрируясь на сайте, вы соглашаетесь со всеми пунктами предложенных к ознакомлению правил, соглашений и инструкций.</p>
<p>4.2. Вы обязуетесь защищать:</p>
<p>сайт, то есть, Вы не должны осуществлять действия, целью которых будет являться нанесение вреда работе Сайта;</p>
<p>
    4.3. Пользователь обязан самостоятельно знакомиться с возможными (последующими) изменениями условий настоящего Соглашения.
    Администрация имеет права не уведомлять пользователя об изменениях условий настоящего Соглашения.
</p>
<p>4.4. Любой гость, пользователь гарантирует, что самостоятельно ознакомлен с законами РФ и будет соблюдать раздел «Безопасность» полностью и без исключений.</p>

<h3>5.Ответственность пользователя, во время возможных судебных разбирательств. </h3>

<p>В случае, если действия пользователя сайта «My-Tend.Com» во время пользования сайтом «My-Tend.Com» (независимо от роли - продавец/покупатель) привели к нарушению законодательства Российской Федерации по отношению прав и интересов третьих лиц, из-за чего пользователь сайта «My-Tend.Com» и/или Владелец сайта «My-Tend.Com» был вызваны в суд в качестве ответчика, пользователь обязуется и гарантирует:</p>
<p>1.	Покрыть все судебные издержки, которые мог бы понести Владелец сайта «My-Tend.Com» и/или его представитель, в случае возможного судебного заседания.</p>
<p>2. Возместить моральный ущерб в желаемом для Владельца сайта «My-Tend.Com» размере.</p>
<p>3. В случае если, может быть задета деловая репутация сайта «My-Tend.Com» и его Владельца, обеспечить и принять меры для ее исправления, согласовав эти меры письменно с Владельцем сайта «My-Tend.Com».</p>
<p>4. Оплатить до начала возможного судебного заседания, квалифицированного юриста/адвоката, в помощь стороны защиты интересов Владельца сайта «My-Tend.Com».</p>
<p>5. Взять на себя исполнение оплаты штрафов или иных финансовых издержек, которые возможно могли бы быть вынесены судом по отношению к Владельцу сайта «My-Tend.Com. </p>

<h3>6.Заполнение профиля</h3>

<h3>6.1.Визитка</h3>
<p>Визитки/учетные записи  пользователей без фотографий на аватере будут удаляться и расчитываться как фейковые. Пользователь не имеет права принимать участие в торгах без предоставления остальным участникам торгов, своего фото.</p>
<p>Администрация сайта имеет право  запросить подтверждение личности пользователя, принадлежности пользователя к зарегистрированному товарному знаку. При подозрении  на фейк, Администрация сайта имеет право удалить профиль визитку без объяснения причин до выяснения  обстоятельств со стороны пользователя. При подозрении пользователя в использовании чужих фотографий или  логотипов, пользователь блокируется до выяснения обстоятельств. Не допускается использование изображений: с использованием всего кроме личной фото пользователя или его логотипа ( с подтверждением прав на него если потребуется для Администрации сайта)</p>
<h3>6.3.Портфолио</h3>
<p> Фотографии, и прочие изображения, по своему содержанию должны соответствовать представленной в описании деятельности продавца/исполнителя услуги. Запрещено публиковать фотографии, изображения, противоречащие законам РФ, правам интеллектуальной собственности, здравому смыслу, моральным и этическим нормам.Пользователь несет ответственность за использованные данные.</p>
<h3>6.4.Об услуге</h3>
<p>информация в данном разделе не должна нарушать законы РФ, должна быть правдивой и соответствовать правилам добросовестной конкуренции и антимонопольного права.</p>
<div style="color: #cc0001  ; font-weight: bold;">Утверждения рекламного характера, а также прилагательных в превосходной степени «самый», «полный», «дешевый», «лучший», «единственный» и им подобных, не допускается.</div>


<h3>6.5.Ответственность Администрации и пользователя</h3>
<p>Сайт «My-Tend.Com» не несет ответственность за указанную пользователем информацию в профиле. Если вы считаете, что какая-либо информация нарушает чьи-либо права, свяжитесь с нами. При поступлении жалобы со стороны других пользователей Администрация сайта имеет право проверить информацию о пользователе всеми доступными способами и при выявлении нарушений заблокировать, либо закрыть доступ для пользования сайтом.</p>

<p>Администрация сайта «My-Tend.Com» не проверяет личности пользователей, а также информацию на ее правдоподобность и соответствие истине. Поэтому каждый пользователь несет личную ответственность за доверие к той или иной информации, предоставленной другими пользователями сайта.</p>

<h3>7.Участие в аукционных-торгах (тендер)</h3>
<div style="color: #cc0001 ; font-weight: bold;"> Заявка может быть проверена Администрацией сайта и удалена без объяснения причин в случае нарушений правил сайта! </div>
<p>7.1.Пользователь независимо от роли, продавец/покупатель не имеет права:</p>
<p>Размещать информацию не относящейся к темам и категориям имеющимся на сайте </p>
<p>Размещать спам.</p>
<p>Писать утверждения рекламного характера, а также прилагательных в превосходной степени «самый», «полный», «дешевый», «лучший», «единственный» и им подобных.
<p>информация в данном разделе не должна нарушать законы РФ, должна быть правдивой и соответствовать правилам добросовестной конкуренции и антимонопольного права.</p>
<p>Нарушать пункт 3, данных правил.</p>
<p>7.2.Запрещается создавать несколько торговых-аукционов с одинаковым  текстом заявки, в одном и  том  же регионе/городе.
<p>Администрация сайта имеет право, удалять аукционные торги без обьяснения причин.</p>
<p>7.3.Покупатель обязан:</p>
<p>Объявить победителя торга который он устроил или написать о прекращении торга и спроса на услугу.</p>
<p>Связаться с пользователем сайта, которого объявил победителем во время проведения торгов.</p>
<p>
    Разместить на своей странице/визитке актуальный, доступный номер телефона, по которому продавец-победитель  торга мог бы связаться с ним.
<p> 7.4. Сайт не является организатором сделки, Покупателем, Продавцом, посредником, агентом или представителем какого-либо Пользователя и/или иным заинтересованным лицом в отношении предлагаемой/заключаемой между Пользователями сделки. Все совершаемые благодаря размещению информации на Сайте сделки между Пользователями заключаются и исполняются без прямого или косвенного участия Сайта.</p>
    <h3>8. Безопасность на сайте</h3>

<p>8.1. Сайты, ссылки на которые пользователи (третьи лица) могут предоставить в беседах, торгах или в визитках, не проверяются сайтом «My-Tend.Com». Переход по ссылкам на сторонние сайты строго на усмотрение и риск пользователя(лей).</p>
<p>8.2. Логин и пароль, используемые на Сайте, не должны разглашаться или передаваться третьим лицам в целях безопасности Вашего аккаунта на сайте.</p>
<p>8.3. В случае утери логина или пароля, а также подозрение на взлом вашего аккаунта третьими лицами, вы берете на себя всю ответственность за дальнейшее использование вашего аккаунта.</p>
<p>8.4. Сайт «My-Tend.Com» может отсылать на указанные пользователями электронные адреса письма. Используя Сайт, вы соглашаетесь с тем, что становитесь абонентом возможной рассылки или писем со срочной информацией о сайте.</p>

<h3>9.Внимание, важно</h3>

<p>9.1.Риск использования Интернета состоит в том, что люди могут быть не теми, за кого себя выдают. Администрация сайта не имеет возможности проверять страницы других пользователей, а также их род занятий, и то, что они пишут друг другу. В вопросах общения только вы можете принимать решения по своему усмотрению, и Администрация рекомендует проявлять некоторую осторожность. Используя Сайт и его услуги, вы соглашаетесь с этим и принимаете описанные выше риски.</p>
<p>9.2.Сайт «My-Tend.Com» является площадкой, позволяющей Продавцам самостоятельно на свой страх и риск размещать предложения, адресованные неопределенному кругу лиц на совершение сделки в отношении Услуги, которой Продавец правомочен распоряжаться (делать предложения), а Покупателям принимать на свое усмотрение и под свою ответственность предложения, размещенные на Сайте Продавцами, заключая соответствующую сделку с Продавцом.</p>
<p>9.3.Сайт «My-Tend.Com» не является организатором сделки, Покупателем, Продавцом, посредником, агентом или представителем какого-либо Пользователя и/или иным заинтересованным лицом в отношении предлагаемой/заключаемой между Пользователями сделки. Все совершаемые, благодаря размещению заявок и предложений на Сайте, сделки между Пользователями заключаются и исполняются без прямого или косвенного участия сайта «My-Tend.Com».</p>


<h3> 10.Ответственность администрации и владельца сайта</h3>
<p>10.1 Пользователь соглашается и принимает как факт что:</p>
<p> -Администрация и владелец сайта не гарантируют, что работа сайта будет безошибочной и непрерывной. Пользователь, гость сайта принимает во внимание, что сайт создавали люди, которым свойственно ошибаться и не знать наперед какие-либо возможные факты, поэтому пользователь гарантирует лояльность ко всему, что, возможно, его может огорчить.</p>
<p>-Владелец сайта предоставляет его для Вашего пользования по принципу «как есть».</p>
<p>10.2.Администрация сайта или Владелец не несут персональной ответственности за:</p>
<p>-упущенную выгоду, связанную с использованием сайта;</p>
<p>-моральный, психический, физический, сексуальный вред здоровью пользователя, гостя или третьих лиц, либо животных;</p>
<p>-любой вред материально-технического характера;</p>
<p>-за сайты, ссылки на которые предоставили пользователи или наши партнеры (по всем вопросам обращаться к администраторам этих сайтов);</p>
<p>-за задержку, перерыв в предоставлении услуг, в том числе платных, или неточностью данных;</p>
<p>-за нарушение любыми лицами любых прав на объекты интеллектуальной собственности третьих лиц, связанным с использованием Сайта.
<p>10.3. Сайт «My-Tend.Com» имеет право уступить права, предоставленные вами, третьим лицам.</p>
