@{
    ViewBag.Title = "Исполнителям EVENT-индустрии!";
}
<style>
   p {
    border: 1px solid red;
    padding: 10px;
   }
  </style>

<br />




<h1 style="color: #000000;"><STRONG> Стать продавцом услуг на My-Tend.Com</STRONG></h1>	
<h5 style="color: #777777;">Конкуренция, наполненная духом азарта!</h5> 
   
<link rel="canonical" href="http://my-tend.com/"/>
<br /><br />
		 <div class="row">
            <div class="col-md-2"><img src="~/Content/images/torgash.svg" width="100" height="100" /></div>
            <div class="col-md-8" style="line-height:20px">
               
	            <div style="font-size: 15px;">
		            <i>
			            <STRONG>
				            Вы ведущий / тамада, DJ, фото/видеограф, менеджер банкетного зала / кафе,
				            event-агентво, артист оригинального жанра, оказываете услуги кейтеринга, транспортные услуги и не только...
			            </STRONG>
		            </i>
		            <br/>
		            <br/>
		            Принимайте участие в конкурсных торгах на право оказания услуг в сфере праздничных событий по принципу открытого тендера.<br/>
		            Сайт будет присылать вам заявки от будущих клиентов в сферах деятельности и городах, которые вы укажете в личной подписке.<br/><br/>
		            В заявках будут указаны:
		            <ul>
			            <li >название события и текст заявки</li >
			            <li >дата / время </li >
			            <li >бюджет</li >
			            <li >город</li >
			            <li >колличество гостей</li >
			            <li >фотографии ( по необходимости )</li >
			            <li >дата начала и финала конкурса</li >    
		            </ul>
		            <br/>
		            Ознакомившись с этой информацией, Вы решаете - принимать участие или нет.<br/>
		            Наблюдайте, как предлагают свои услуги Ваши коллеги-конкуренты. Предлагайте более выгодные предложения. Побеждайте!

	            </div>
 </div> </div>
@if (ViewBag.IsAuth == true)
{
	<div class="row" style="padding-top: 20px;">
		<div class="col-lg-12">
		   <br/>   <br/>
			<div class="text-center">
				<input id="isAgree" type="checkbox"/>Я принимаю правила участия в конкурсных торгах и желаю получить статус продавца услуг.
			</div>
		</div>
	</div>
	
	<div class="row" >

		<div class="col-lg-12 text-center">
		
			<div>
				Пока что, бесплатно!	
			</div>
			<div class="btn btn-warning disabled" id="setPayed">
				Стать продавцом услуг
			</div>
			
		</div>
	</div>
	<script>
	    $(document).ready(function() {
		    $("#isAgree").change(function() {
			    if (this.checked) {
				    console.log(1);
				    $('#setPayed').removeClass('disabled');
			    } else {
				    console.log(2);
				    $('#setPayed').addClass('disabled');
			    }
		    });

		    $('#setPayed').on('click',
			    function() {
				    var agree = $("#isAgree").prop('checked');
				    
				    if (agree) {
					    var url = window.location.protocol + '//'+ window.location.host + '/Pay/SetPayed';
					    window.location = url;
				    }
			    });
	    })
	</script>
}

 <br />
