@{
    ViewBag.Title = "Акции и спецпредложения";
}

<div class="row">
    <div>
        <div style="color: #79347f ; font-weight: bold;">    <h3>Внимание Акция!!!</h3></div>
    </div>
    <div>
        <p>
            <div style="color: #79347f ; font-weight: bold;">Объявляем старт акции «2 месяца за 550 рублей» для желающих продавать свои услуги или товары</div>
        <p>
            Если вы уже зарегистрировались на сайте и сейчас пользуетесь им только в качестве покупателя, но <strong>хотите продать свои услуги.</strong>, перейдите в раздел меню «Стать продавцом».
        </p>
        <p><strong>Только до 1 апреля</strong> вы можете стать продавцом на <strong>2 месяца всего за 550 р.</strong> Акция проводится с целью лучше изучить специфику сайта и выработки своей стратегии во время торгов.</p>
        <p>
            По истечению 2 месяцев за право получения статуса продавца и доступ к меню «Заявки от покупателей» будет взыматься 1000 р. за 1 месяц.
        </p>
        <p>
            <div style="text-align: center">
                <a href="~/Pay/Index" class="btn btn-custom-green" style="width: 30%; padding-top: 5px; padding-bottom: 5px; text-decoration: none">Оплатить подписку</a>
            </div>
        </p>
    </div>
</div>