@{
    ViewBag.Title = "Регистрация";
}

<div class="font_black" style="text-align: center;">
    <h1>КОНКУРЕНЦИЯ, НАПОЛНЕННАЯ АЗАРТОМ</h1>
    <br />
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div style="text-align: center; padding-bottom: 36px; ">
                <h2>ВИДЬТЕ В СЕБЕ И СВОЕМ БИЗНЕСЕ ВСЕ САМОЕ ЛУЧШЕЕ, ПРЕДЛАГАЯ ЭТО ВСЕМ</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="desc_block">
                    <div class="desc_text">
                        <div style="color: #e80101; font-weight: bold;"><h4>Что бы покупать услуги:</h4></div>
                        <div style="color: #76327e; font-weight: bold;">1.Регистрируетесь на сайте. </div>
                        <strong>Если Вы желаете только покупать</strong> услуги, Вам необходимо пройти краткую регистрацию заполнив  только ФИО, город, и чем занимаетесь  <i>(например: менеджер компании, Индивидуальный предрениматель или домохозяйка)</i>
                        Заполнять вкладки "Портфолио","О нас" необходимо лишь в случае желания стать продавцом услуг.
                        </p>
                        <i>После регистрации на сайте: </i>
                        <div style="color: #76327e; font-weight: bold;">2. Оформляете заявку на сайте указав в ней:</div>
                        <li>выбранную категорию и тему услуг
                        <li>местонахождение (город)
                        <li>заголовок и описание нужной услуги
                        <li>необходимые нюансы
                        <li>
                            примерный бюджет и время через которое торг закончися.
                            </p>
                            <i>через какое то время... </i>

                            <div style="color: #76327e; font-weight: bold;">3. Получаете предложения от продавцов услуг/товаров по выбранным вами критериям.</div>
                            Продавцы соревнуются за право получить ваш заказ на основе условий которые указали в заявке Вы и предложениям конкурентов которые уже успели откликнуться на него.
                            <div style="color: #76327e; font-weight: bold;">4. Выбираете побелителем того, кто сделал выгодное и интересное предложение на фоне остальных.</div>
                            </p>
                            <i>далее... </i>
                            <div style="color: #76327e; font-weight: bold;">5.Связываетесь с продавцом-победителем и договариваетесь о заключении встречи/сделки.</div>


                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="desc_block">
                    <div class="desc_text">
                        <div style="color: #e80101; font-weight: bold;"><h4>Что бы продавать и покупать услуги:</h4></div></p>
                        <div style="color: #76327e; font-weight: bold;">1.Регистрируетесь на сайте.  </div>
                        <li>заполняете полностью электронную визитку с указанием рода деятельности, контактов, портфолио и описанием компании.<p>
                        <li>подписываетесь на категории и темы торгов, по которым вы хотите получать заявки (заказы).<p>
                        <li>оплачиваете ежемесячный взнос удобным для вас способом <i> ( Для продавцов услуг ежемесячный торговый взнос составляет 1000 рублей\месяц)</i> . <p>
                        <li>
                            получаете заявки от клиентов по выбранным вами критериям.<p>

                                <div style="color: #76327e; font-weight: bold;">2. Пишете клиенту Ваше предложение с указанием всех преимуществ.</div>
                                Показываете товар\услугу «лицом». Сайт работает без платных привелегий и дополнительной рекламмы.
                            <p>
                                У всех продавцов одинаковые возможности. Ваш успех зависит от того, как быстро вы ответили, насколько интересно предлагаете, как выгодно отличаетесь от предложения конкурентов.
                            <p>
                                <div style="color: #76327e; font-weight: bold;">3. Если Ваше предложение оказывается выгодным и интересным среди прочих - Вас выбирают победителем.</div>
                                Вы связываетесь с заказчиком для возможного заключения сделки на условиях которые были обьявлены на сайте.
                            <p>
                        <li>Вы сами пишете клиенту, а не ждете сутками, пока он сам найдет Вас среди конкурентов.

                        <li>Оплата 1 раз в месяц, комиссия за сделки и победу на торгах не взымается.

                        <li>Без списка объявлений и предложений: нет смысла теряться среди одинаково написанных рекламных строк.
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12" style="text-align: center;">
        @Html.ActionLink("Зарегистрироваться", "Registration", "Account", null, new { @class = "btn btn-two", @style = "  margin-top: 10px;" })
    </div>
</div>

