@{
    ViewBag.Title = "Регистрация";
}

<div class="font_black" style="text-align: center;">
    <h2>Регистрация</h2>
</div>
<br />
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div>
            <div style="width: 100%; text-align: center;">
                <img src="@Url.Content("~/Content/images/cart_sell.png")" width="120" height="120" />
            </div>
            <div class="font_black" style="width: 100%; text-transform: none; line-height: 15px; text-align: center; padding: 10px 0px 10px 0px;">
                <strong>Я буду продавать</strong><br />
                (ежемесячный взнос)
            </div>
        </div>
        <div class="desc_block">
            <div class="desc_text">
                <p>

                    <div style="color: #65267a; font-weight: bold;">Вы - продавец:</div>
                <p>
                    <div style="color: #000000;">Продавец услуг (товаров) на конкурсной основе предлагает свои слуги покупателю.
                <p>
                    <i>Принцип простой</i> : покупатель пишет свою заявку, а вы пишете ему свое предложение. Если оно окажется выгодным и интересным - вы совершите сделку и заработаете деньги. Главное отличие от других - вы сами пишете клиенту, а не ждете сутками пока он сам найдет ваше объявление среди сотни похожих.
                    <div style="color: #65267a; font-weight: bold;">Чтобы получать заявки на ваши услуги (товары) и участвовать в торгах необходимо:</div>
                <p>
                    1. Зарегистрироваться на сайте как продавец услуг (товаров).
                <p>
                    2. Заполнить электронную визитку с указанием рода деятельности, контактов, портфолио и описанием компании.
                <p>
                    3. Подписаться на категории и темы торгов по которым вы хотите получать заявки (заказы).
                <p>
                    4. Оплатить ежемесячный взнос удобным для вас способом ( Для продавцов услуг (товаров) ежемесячный взнос составляет 1 000 рублей\месяц).
                    <div style="color: #65267a; font-weight: bold;">Комисия за сделки не взымается.</div>
                <p>

                    <div style="color: #65267a; font-weight: bold;">Без VIP-статусов:</div> У всех продавцов одинаковые возможности. Ваш успех зависит от того как быстро вы ответили, насколько интересно предлагаете, как выгодно отличаетесь от предложения конкурентов.
            </div><p>
                <div style="color: #65267a; font-weight: bold;">Без списка объявлений и предложений: нет смысла теряться среди одинаково написанных рекламных строк.  </div>

            </p>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12" style="text-align: center;">
        @Html.ActionLink("Зарегистрироваться", "Registration", "Account", null, new { @class = "btn btn-two", @style = "  margin-top: 10px;" })
    </div>
</div>

