@model MyTend.Models.ActivationModel

@{
    ViewBag.Title = "Активация пользователя";
}

	<br />
	<h3 style="color: #222222">Регистрация. Шаг 2 </h3>

	<br />
	<h4 style="color: #ff5f00">Код подтверждения выслан в бесплатном SMS-сообщении.</h4> 
	<br />

			 <div class="row">
				<div class="col-md-2"><img src="~/Content/images/aktivation.svg" width="120" height="120" /></div>
				<div class="col-md-8" style="line-height:20px">
					<div style="font-weight: bold; font-size: 17px;">Для чего это нужно?</div>
					<br />
                <div style="font-size: 14px;">
                 Подтверждение номера необходимо для  защиты вашего профиля на сайте.<br />
				 До момента активации, Вы не можете:
				 	<br />	
				 <li>создавать конкурсные торги.</li>
				 <li>учавствовать в конкурсных торгах, в качестве продавца услуг.</li>
				  <br />	
				 Все визитки сайта должны быть подтвержденными, это уменьшает риск 
				 противоправных действий внутри  сайта.  
				
                <div class="row">
    <div class="col-lg-6">
	<br />
        <form>
            <label for="code">Номер телефона</label>
            <input type="text" name="Phone" value="@Model.Phone" /><br />
            <br />
            <div><strong>Введите код</strong>, полученный по СМС. </div>
            
            <label for="code"></label>
            <input type="text" name="Code" /><br />
			<br />
			 <div><a href="#" class="resendsms">Смс не пришло? Отправить ещё раз!</a></div>
		<br />
            <button type="submit" class="btn-class-blue">Подтвердить номер</button>
			<br />
			
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('input[name=Phone]').mask('+7 (999) 999 99 99');
    });
    $('a.resendsms').on('click', function () {
        $.ajax({
            data: {
                phone: $('input[name=Phone]').val()
            },
            url: '/Account/ResendSms',
            method: 'GET',
            error: function (err) {
                debugger;
            }
        });
    });
</script>
				  
                </div>
 </div> </div>
			<br />	

