@{
    ViewBag.Title = "Неоплаченный аккаунт";
}

<h2>Извините, данное меню доступно после оплаты</h2>

<div style="color: #cc0001  ; font-weight: bold;">Для возможности участия в торгах в качестве продавца и получения заявок необходимо:</div>

<div style="color: #65267a; font-weight: bold;"></div>

<ol>
    <li>
        Подписаться на категории торгов в меню «Моя визитка», выбрав в списке те услуги, которые Вы намерены продавать - <strong>до 10 услуг</strong>;
    </li>
    <li>
        Подписаться на регионы и города в меню «Моя визитка», в которых Вы желаете продавать свои услуги - <strong>4 региона и/или 10 городов любых из представленных стран</strong>.
    </li>
    <li>
        Если Вы подписались ранее или только что, Вам необходимо <strong>оплатить торговый взнос в размере 1000 рублей за 1 календарный месяц</strong>. После оплаты Вам будет доступна возможность участия в торгах по продажам услуг.
    </li>
</ol>
<div style="color: #298822  ; font-weight: bold;">Почему мы берем с Вас деньги:</div>
<ol>
    <li>
        Продавец услуг должен подтвердить свои намерения о желании продавать, оплатив торговый взнос.
    </li>
    <li>
        Равно как и Вы, мы должны зарабатывать. Любой продавец в торговом центре или в любом другом месте оплачивает аренду за получение места торговли.
    </li>
    <li>
        С помощью полученных денег от продавцов мы привлекаем еще больше покупателей на наш сайт, и вы совершаете оплату ради встречи с ними.
    </li>
    <li>
        Мы убеждены, что главное - это хорошая реклама и удобный, бесперебойный сервис. Мы запустили лишь часть задуманных функций. Поэтому часть денег мы тратим на поддержание и развитие инфраструктуры сайта.
    </li>
</ol>


<div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <a href="~/Pay/Index" class="btn btn-custom-green" style="width: 30%; padding-top: 5px; padding-bottom: 5px;">Оплатить подписку</a>
        </div>
    </div>
</div>

<div>
    <div class="row">
        <div class="col-lg-12 text-center">
            @Html.ActionLink("Договор оказания платных услуг", "Oferta", "Docs")
        </div>
    </div>
</div>