@{
    ViewBag.Title = "Доступ к заявкам не оплачен!";
}
<h1><div style="color: #222222;">Доступ к заявкам не оплачен/Вы в статусе заказчика услуг</h1>

<h2>Что бы получать заявки только на свои услуги - оформите подписку, уточнив сферу услуг и регион/город!</h2>
<hr>
<ol>
    <li>
        Подпишитесь на категории заявок/торгов в меню «Моя визитка-редактирование визитки», выбрав в списке те услуги, которые Вы намерены продавать - <strong>до 10 услуг</strong>;
    </li>
    <li>
        Подпишитесь на регионы и города в меню «Моя визитка-редактирование визитки», в которых Вы желаете продавать свои услуги - <strong>5 регионов и/или 10 городов любых из представленных стран</strong>.
    </li>
    <li>
        Если Вы подписались ранее или только что, Вам необходимо <strong>оплатить торговый взнос в размере 1000 рублей за 2 календарных  месяца</strong>. После оплаты Вам будет доступны заявки от заказчиков и возможность участия в конкурсах (аукционных-торгах) на право исполнения услуг.
    </li>
</ol>
<hr>
<div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <a href="~/Pay/Index" class="btn btn-custom-green" style="width: 40%; padding-top: 5px; padding-bottom: 5px;"><strong>Получить статус иполнителя услуг</strong></a>
        </div>
    </div>
</div>

<div>
    <div class="row">
        <div class="col-lg-12 text-center">
            @Html.ActionLink("Договор оказания платных услуг", "Oferta", "Docs")
        </div>
    </div>
</div>