@{
    ViewBag.Title = "Только для подписчиков";
}

<h2>Извините, данное меню доступно после оплаты</h2>

<div style="color: #dd0918; font-weight: bold;">Для получения заявок на участие в торгах по услугам Вам необходимо:</div>
<div style="color: #65267a; font-weight: bold;">1.Подписаться на услуги которые Вы оказываете клиентам. </div>
<p>В режиме редактирования визитки перейдите в вкладку "подписка на услуги" Внимательно ознакомившись с всеми видами услуг подпишитесь на услги которые Вы готовы оказывать будущим клиентам. (максимум 7 услуг)<p>

    <div style="color: #65267a; font-weight: bold;">2.Выбрать города в которых Вы готовы оказывать услуги.</div>
<p> Выберите города в которых Вы готовы оказывать свои услуги, учитывая страну и регион (максимум 7 городов).<p>
    <div style="color: #65267a; font-weight: bold;">3.Оплатите подписку на 1 месяц. </div>
<p>После оплаты подписки, Вам будут приходить заявки на услуги по которым вы подписались заранее. Отвечая на заявки, Вы можете учавствовать в торгах,предлагая свои услуги на более выгоднях  для клиента условиях.Победителя торгов клиент выбирает в любое время, прочитав и обдумав все предложения<p>
    <div style="color: #0b7a06; font-weight: bold;">Услуги предоставляются на условиях полной предоплаты в размере 1.000 рублей.</div>
<p>Оплата производится денежными средствами по безналичному расчету на территории РФ и странах ближнего зарубежья, любым удобным доступным Заказчику способом который предлагает интернет сервис «РОБОКАССА» <p>

   
<div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <a href="~/Pay/Index" class="btn btn-two" style="width: 30%; padding-top: 5px; padding-bottom: 5px;">Оплатить подписку</a>
        </div>
    </div>
</div>
    
    <div>
        <div class="row">
            <div class="col-lg-12 text-center">
                @Html.ActionLink("Договор оказания платных услуг", "Aferta", "Docs")
            </div>
        </div>
    </div>
