@{
    ViewBag.Title = "Только для подписчиков";
}

<h2>Извините, данное меню доступно после оплаты</h2>

<div style="color: #65267a; font-weight: bold;">Для возможности участия в торгах в качестве продавца и получения заявок необходимо:</div>

<div style="color: #65267a; font-weight: bold;"></div>

<ol>
    <li>
        Сделать подписку на заявки от "покупателей", выбрав в списке те услуги, которые Вы намерены продавать.(до 10услуг)
    </li>
    <li>
        Сделать подписку на города, в которых Вы желаете продавать свои услуги.(до 10 городов)
    </li>
    <li>
        Если Вы подписались ранее или только что, Вам необходимо оплатить торговый взнос в размере 1000 рублей за 1 календарный месяц. После оплаты Вам будет достуна возможность участия в торгах по продажам услуг.
    </li>
</ol>

<div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <a href="~/Pay/Index" class="btn btn-two" style="width: 30%; padding-top: 5px; padding-bottom: 5px;">Оплатить подписку</a>
        </div>
    </div>
</div>

<div>
    <div class="row">
        <div class="col-lg-12 text-center">
            @Html.ActionLink("Договор оказания платных услуг", "Aferta", "Docs")
        </div>
    </div>
</div>