@{
    ViewBag.Title = "Стать исполнителем My-Tend";
}
<style>
   p {
    border: 1px solid red;
    padding: 10px;
   }
  </style>

<br />
<h3 style="color: #222222;">Исполнителям EVENT-индустрии</h3>

	<br />		
<h4 style="color: #be00e3;">Если Вы: ведущий, DJ, фотограф/видеограф, менеджер банкетного зала/кафе, 
 кавер группа, event- агентво, аниматор, ставите свадебные танцы, организуете кейтеринг и нетолько...</h4>
   
   <h5>Принимайте участие в конкурсах (тендер) на право исполнения заказа. Узнайте что  предлагают Ваши коллеги-конкуренты, создавайте и предлагайте более выгодные предложения, стремитесь к победам.</h5>
<br />	

		 <div class="row">
            <div class="col-md-1"><img src="~/Content/images/newzayavka.png" width="50" height="50" /></div>
            <div class="col-md-11" style="line-height:20px">
                <div style="font-weight: bold; font-size: 17px;">Заполните свою визитку </div>
                <div style="font-size: 14px;">
                 Заполните своб визитку, указав контактные данные, рассказ об услуге, загруззите фтографии своей деятельности. <br />
				 Помните, что заказчик не всегда выбирает по цене, но и смотрит на визитку и портфолио.
				
				  
                </div>
 </div> </div>
			<br />		 <div class="row">
            <div class="col-md-1"><img src="~/Content/images/ispolnitely.png" width="50" height="50" /></div>
            <div class="col-md-11" style="line-height:20px">
                <div style="font-weight: bold; font-size: 17px;">Подпишитесь на получение заявок!</div>
                <div style="font-size: 14px;">У нас нет готовых списков заказов. Они приходят в меню Заявки от Заказчиков  на основании Вашей подписки.
                Поставьте галочки напротив тех видов услуг которые вы оказзываете.  <br />
				Так же, укажите  регион или города, в которых вы имеете возможность  оказывать свои услуги.  <br />После этого, вы будете получать заявки по этим параметрам. 
                </div>
 </div> </div>
			<br />
				 <div class="row">
            <div class="col-md-1"><img src="~/Content/images/icon-win.png" width="50" height="50" /></div>
            <div class="col-md-11" style="line-height:20px">
                <div style="font-weight: bold; font-size: 17px;">Проверяйте поступление заявок, принимайте участие в конкурсах!</div>
                <div style="font-size: 14px;">
                  При поступлении заявок, решайте учавствовать или нет. На основании деталей  заявки, предложений колег конкурентов
				 предлагайте свои, более выгодные условия оказания услуги. время  торга  ограничено выбором заказчика от 2 до 21 дней. Выйгрывайте и побеждайте!
		
				  
                </div>
 </div> </div>
			<br />
			<div class="row">
            <div class="col-md-1"><img src="~/Content/images/icon-prazdnik.png" width="50" height="50" /></div>
            <div class="col-md-11" style="line-height:20px">
                <div style="font-weight: bold; font-size: 17px;">Созвонитесь, заключите договор, зарабатывайте деньги !</div>
                <div style="font-size: 14px;">
                 В случае победы в  конкурсе/тендере, система предупреди Вас письмом. Возможно, закзчик свяжется с Вами первый. 
				  
                </div>
 </div> </div>
			<br />
			<div class="col-lg-11" style="text-align: right;"><h4 style="color: #222222;">Перейдите к заполнению заявки</h4>
                                @if (ViewBag.IsAuth != null)
                                {
                                  
                                    <a href="https://my-tend.com/Home/Index" class="btn btn-custom-green header-btn full-size"><span class="glyphicon glyphicon-pencil"></span>
Заполнить  заявку</a>
                                }
                            </div>