@{
    ViewBag.Title = "Доступ к заявкам не оплачен!";
}
<style>
   p {
    border: 1px solid red;
    padding: 10px;
   }
  </style>

<div style="text-align: center;"><br>
    
            <img src="~/Content/images/ahtung.png" style="width: 8%" />
  
</div>
<div class="form-group" style="text-align: center">
	<h4><div style="color: #222222">Вы не можете учавствовать в конкурсах, доступ к участию не оплачен!</h4>
  


	</div>


        <div class="row">
            <div class="col-lg-12 bg-warning">
                <div class="w_b">
                    <div style="text-align: left">

<ol>
Напоминаем Вам:
    <li>Что бы получать заявки от заказчиков / приглашения к конкурсным-торгам исключительно по теме своих услуг, поставьте галочки напротив услуг, которые Вы оказываете <a href="http://my-tend.com/Account/Profile?tab=tab5-4" target="_blank"><strong>ТУТ</strong></a>.
    </li>
    <li>
        Так же выберте / уточните из каких регионов / городов вы желаете получать заявки от заказчиков  - <a href="http://my-tend.com/Account/Profile?tab=tab5-5" target="_blank"><strong>ТУТ</strong></a>.
    </li>
    <li>
        Если Вы подписались ранее или только что, Вам необходимо <strong>оплатить торговый взнос в размере 300 рублей за 1 календарный  месяц</strong>. После оплаты  Вам будет доступны заявки от заказчиков и возможность участия в конкурсах  на право исполнения услуг в течении 1 календарного месяца.
    </li></div></div></div></div>
</ol>

<div>

    <div class="row">
        <div class="col-lg-12 text-center">
            <a href="~/Pay/Index" class="btn btn-custom-orange" style="width: 40%; padding-top: 5px; padding-bottom: 5px;"><strong>Перейти к оплате торгового-взноса</strong></a>
        </div>
    </div>
</div>

<div>
    <div class="row">
        <div class="col-lg-12 text-center">
            @Html.ActionLink("Договор оказания платных услуг", "Oferta", "Docs")
        </div>
    </div>
</div>