
@{
    ViewBag.Title = "Благодарим за регистрацию!";
}


<div class="form-group" style="text-align: center">
    <h1 style="color: #585858;">ВЫ УСПЕШНО ЗАРЕГИСТРИРОВАННЫ</h1> 
                            <img src="@Url.Content("~/Content/images/AboutWork.svg")" height="180">
                           	</div>
				            <div>
							<p> Если Вы <strong>ПОКУПАТЕЛЬ/ЗАКАЗЧИК</strong> и ищете исполнителя нужной услуги, <a style="color:#008cc3;text-decoration:none" href="~/Home/Index"> <strong>СОЗДАЙТЕ ЗАЯВКУ</strong></a> и найдите лучшего на свой взгляд исполнителя, на условиях которые он предложил.

							<p> Если Вы <strong>ИСПОЛНИТЕЛЬ</strong> услуг и желаете участвовать в торгах <a style="color:#008cc3;text-decoration:none" href="~/Account/Profile"><strong> ЗАПОЛНИТЕ ВСЕ ВКЛАДКИ</strong></a> и перейдите в меню <a style="color:#008cc3;text-decoration:none" href="~/Pay"><strong>ДОСТУП К ЗАЯВКАМ ОТ ЗАКАЗЧИКОВ</strong></a>.</p> 
   	 
	 
	  </div>


<h1>ВЫ УСПЕШНО ЗАРЕГИСТРИРОВАННЫ</h1>
<h2>ВЫ УСПЕШНО ЗАРЕГИСТРИРОВАННЫ</h2>
<h3>ВЫ УСПЕШНО ЗАРЕГИСТРИРОВАННЫ</h3>
<h4>ВЫ УСПЕШНО ЗАРЕГИСТРИРОВАННЫ</h4>
<h5>ВЫ УСПЕШНО ЗАРЕГИСТРИРОВАННЫ</h5>
<h6>ВЫ УСПЕШНО ЗАРЕГИСТРИРОВАННЫ</h6>