
@{
    ViewBag.Title = "Поздравляем — Вы зарегистрированы!";
}

</br>
<div class="form-group" style="text-align: left">
    <h3 style="color: #333333;">	

Поздравляем — Вы зарегистрированы!</h3> 
                            
                           	</div>
				            <div>
							<br />
							<div class="form-group" style="text-align: left">
    <h4 style="color: #f99313;">	

Что дальше?</h4> 
                            
                           	</div>
							

							
   	 
	 
</div>

<div class="row">
            <div class="col-md-2"><img src="~/Content/images/info1.svg" width="100" height="100" /></div>
            <div class="col-md-8" style="line-height:20px">
                <div style="font-weight: bold; font-size: 17px;">Если Вы заказчик и желаете заказывать услуги!</div>
                <div style="font-size: 14px;"><br />
                  Если Вы заказчик и ищете исполнителя нужной услуги, <a style="color:#3bbcff;text-decoration:none" href="~/tender/Index"> <strong>Создайте заявку</strong></a> 
				  и найдите лучшего на свой взгляд исполнителя, на условиях которые он предложил.</h5> 
				 		
				 
                </div>
 </div> </div><br />
 <div class="row">
            <div class="col-md-2"><img src="~/Content/images/ispolnitelimini.svg" width="100" height="100" /></div>
            <div class="col-md-8" style="line-height:20px">
                <div style="font-weight: bold; font-size: 17px;">Если Вы  продавец услуг и желаете учавствовать в конкурсах! </div>
                <div style="font-size: 14px;"><br />
                Если Вы ведуший,  диджей, фотограф, представитель банкетного зала или коттеджа, занимаетесь кейтерингом, и не только,
				 перейдите в меню 
		 <div style="padding-top: 10px">
		 
                        <a href="~/docs/torgs" class="btn-class-blue" style="color: #ffffff;">
<strong>Стать продавцом услуг</strong></a>
                    </div>			 
                </div>
 </div> </div>
 
 