
@{
    ViewBag.Title = "Благодарим за регистрацию!";
}

<div style="padding-bottom: 20px; text-align: center;">
     <div class="col-lg-12 col-md-12 col-sm-12">
        <div style="padding-top: 10px;"></div>
        <img src="~/Content/images/aboutWork.svg" style="width: 100%" />
    </div>
</div>
<div class="form-group" style="text-align: center">
<H2><div style="color: #585858;">ВЫ УСПЕШНО ЗАРЕГИСТРИРОВАННЫ</H2> 
                            <img src="@Url.Content("~/Content/images/AboutWork.svg")" height="180">
                           	</div>
				            <div>
							<p> Если Вы  <strong>ПОКУПАТЕЛЬ/ЗАКАЗЧИК</strong> и ищете исполнителя нужной услуги, <a style="color:#008cc3;text-decoration:none" href="https://my-tend.com/Home/Index" target="_blank"> <strong>СОЗДАЙТЕ ЗАЯВКУ</strong></a> и найдите лучшего на свой взгляд исполнителя, на условиях которые он предложил.

							<p> Если Вы <strong>ИСПОЛНИТЕЛЬ</strong> услуг и желаете участвовать в торгах <a style="color:#008cc3;text-decoration:none" href="https://my-tend.com/Account/Profile"><strong> ЗАПОЛНИТЕ ВСЕ ВКЛАДКИ</strong></a> и перейдите в меню <a style="color:#008cc3;text-decoration:none" href="https://my-tend.com/Pay"><strong>ДОСТУП К ЗАЯВКАМ ОТ ЗАКАЗЧИКОВ</strong></a>.</p> 
   	 
	 
	  </div>