
@{
    ViewBag.Title = "Благодарим за регистрацию!";
}

<div class="form-group" style="text-align: center">
                            <img src="@Url.Content("~/Content/images/welcom.svg")" height="190">
                            </div>
							 <div>
							<p> Если Вы  <strong>покупатель/заказчик</strong> и ищете исполнителя нужной услуги, <a style="color:#008cc3;text-decoration:none" href="http://my-tend.com/Home/Index" target="_blank"> СОЗДАЙТЕ ЗАЯВКУ</a> и найдите лучшего на свой взгляд исполнителя, на условиях которые он предложил.
<p> Если Вы <strong>исполнитель</strong> услуг и желаете участвовать в торгах <a style="color:#008cc3;text-decoration:none" href="http://my-tend.com/Account/Profile"> ЗАПОЛНИТЕ ВСЕ ВКЛАДКИ</a> и перейдите в меню <a style="color:#008cc3;text-decoration:none" href="http://my-tend.com/Pay"> СТАТЬ ПРОДАВЦОМ</a>.</p> 
   	 
	 
	  </div>