
@{
    ViewBag.Title = "Вы продавец";
}

<h3>Поздравляем, вы продавец!</h3>
<br />		 <div class="row">
            <div class="col-md-1"><img src="~/Content/images/podpiska.svg" width="60" height="60" /></div>
            <div class="col-md-8" style="line-height:20px">
                <div style="font-weight: bold; font-size: 17px;">Подпишитесь на получение заявок!</div>
				<br />
                <div style="font-size: 14px;">У нас нет готовых списков заказов. Они приходят в меню Заявки от Заказчиков  на основании Вашей подписки.
                Поставьте галочки напротив тех видов услуг и городов,которые вам подходят, в меню <a href="/tender/active?tab=tab5-4">Заявки от заказчиков</a><br />
				После этого, сайт будет Вам показывать только подходящие Вашим критериям конкурсы. <br />
				 В случае, если кто-то разместит заявку в категории ваших услуг и выбранном городе, Робот-Тендер оповестит и пригласит Вас к участию в конкурсе по электронной почте.
                </div>
 </div> </div>
			<br />
				 <div class="row">
            <div class="col-md-1"><img src="~/Content/images/winer.svg" width="60" height="60" /></div>
            <div class="col-md-8" style="line-height:20px">
                <div style="font-weight: bold; font-size: 17px;">Проверяйте поступление заявок, принимайте участие в конкурсах, ПОБЕЖДАЙТЕ!</div>
				<br />
                <div style="font-size: 14px;">
                  При поступлении заявок, решайте учавствовать или нет. На основании деталей  заявки, предложений коллег-конкурентов
				 предлагайте свои, более выгодные условия оказания услуги. Время  торга  ограничено выбором заказчика от 2 до 21 дней.<br />
				<br /> Побеждает тот исполнитель, кто по мнению заказчика предложил наилучшие условия по цене или условиям исполнения заказа.<br />
				 
				 <br />
				   <img src="~/Content/images/lamp.png"width="16" height="20" /><i>Регулярно следите за ходом конкурсного торга,
				 изучайте предложения  и стратегию  коллег-конкурентов, делайте выводы и более выгодные предложения. Побеждайте!  </i>
		
				  
                </div>
 </div> </div>
			<br />

			<div class="row">
            <div class="col-md-1"><img src="~/Content/images/dogovor.svg" width="60" height="60" /></div>
            <div class="col-md-8" style="line-height:20px">
                <div style="font-weight: bold; font-size: 17px;">Созвонитесь, заключите договор, зарабатывайте деньги !</div>
				<br />
                <div style="font-size: 14px;">
                 В случае победы в  конкурсе/тендере, система предупреди Вас письмом. Возможно, закзчик свяжется с Вами первый.<br />
				 Сайт не имеет отношение к заключению договора, оплате и личному общению закзчика и исполнителя.
				 После победы в конкурсе, дальнейшее развитие сделки зависит от Вас!
         				 
				  
                </div>
 </div> </div>
			<br /><br />



<br />

<h4 style="color: #f99313;">Экскурсия по меню сайта:</h4>

<h5><a href="/Account/Card">Моя Визитка</a> - страничка, где Вы указываете неободимую комерческую информацию о себе и своих услугах.</h5>
<br />
<h5>
    <a href="/tender/active">Заявки от Заказчиков</a> - меню, где будет формироваться список заявок, система будет присылать Вам заказы по вашей подписке. После того как вы ответили на заявку,
    она переходит в списки меню <a href="/tender/list">Мои предложения Заказчикам</a>.
</h5>
<br />
<h5>
   <a href="/tender/active">Мои предложения Заказчикам</a> - в этом меню списки конкурсов, в которых Вы уже принимаете участие. За ходом торга, что  предлагают
    Ваши коллеги-конкуренты, можно наблюдать в  этом меню.
</h5>
<br />
<h5><a href="/tender/winner">Победы в конкурсах</a> - меню в котором формирутся списки конкурсов, где Вас объявиди победителем. Только победителю конкурса доступна ссылка на визитку  заказчика.</h5>
<br />
<br />