
@{
    ViewBag.Title = "Вы продавец EVENT услуг!";
}
<br /><br />
<h3>Поздравляем, теперь Вы в роли исполнителя услуг!</h3>
<h5 style="color: #777777;">Теперь Вы можете принимать участие в конкурсах и делать предложения заказчикам в их заявках.</h5>

    <h4 style="color: #f99313;">	
<br />
Что дальше:</h4> 
	 <div class="row">
            <div class="col-md-2"><img src="~/Content/images/ispolnitelimini.svg" width="100" height="100" /></div>
            <div class="col-md-7" style="line-height:20px">
              				
                <div style="font-size: 15px;"> <li>
				<a href="/Account/Profile">Заполните Вашу визитную карту</a> - 
				это является обязательным условием для участия  в конкурсах. 
				Полностью заполненная визитка помогает завоевать доверие заказчиков и повышает шансы на победу в конкурсных торгах!
 </li>  <br/>
		
	
                <li>
					Чтобы увидеть заказы по своему роду деятельности, а так же городам исполнения - подпишитесь в меню <a href="/tender/active">Заявки от Заказчиков</a>. </li>  <br/>
                 <li>  При поступлении заявок, решайте - учавствовать или нет. На основании деталей  заявки, предложений коллег-конкурентов,
				 предлагайте свои более выгодные условия оказания услуги. </li>  <br/>
				 <li> Время конкурса  ограничено выбором заказчика от 2 до 21 дней.
				 </li>  <br/>

			 <li>
                
                 В случае победы в  конкурсе/тендере, система предупредит Вас письмом. Возможно, заказчик свяжется с Вами первым.  </li><br />
				
				 <li> После победы в конкурсе, дальнейшее развитие сделки зависит от Вас
         				 
				   </li>
                </div>
 </div> </div>
	<br /><br />
	
	 <h4 style="color: #2792e4;">Немного о  Май-Тенд, для  Event-исполнителей :</h4>
		 <div class="row">
            <div class="col-md-2"><img src="~/Content/images/qwe.svg" width="100" height="100" /></div>
            <div class="col-md-7" style="line-height:20px">
              				            <div style="font-size: 15px;">
		             <br/>
		            <li >
			            У всех всегда должет быть выбор. Всегда и везде. Если Вы считаете, что должны выбрать именно Вас - предложите хорошую услугу за вменяемую цену. 
						<br/
						Критерии оценки "лучшей, выгодной услуги", выбора победителя конкурса, зависит от личного взгляда  заказчика.
		            </li >
					 <br/>
		            <li >
			            На Май-Тенд нет VIP, PRO и прочих аккаунтов, обладающих "суперспособностями", которые могут затмить Ваше предложение услуги во время конкурсного торга.  <br/>
						Исполнитель, чьё предложение было написано первее - будет первым. Кто написал вторым, будет вторым, и.т.д. <br/>
			            Ваше предложение не спустится вниз и не станет незаметным из за того, что кто-то написал тоже. <br/> 
					     У каждого есть возможность, воспользоваться рекламой на сайте. Условия размещения можно узнать у менеджера. <br/>
						
		            </li >
					 <br/>
					<li > Мы не ставим и не показываем  рейтинги исполнителей услуг. Мы предлагаем, оценивать  деятальность  по информации в визитке: рассказ об  услуге, портфолио, ссылки  в соц. сети, отзывы.
		            </li >
					 <br/>
		            <li >
			           
						My-Ten.Com - это не аукцион "кто дешевле", а поиск
			            лучшего предложения по формуле " цена/ качество/ креатив", по мнению заказчика.
		            </li>
					 <br/>
		            

		            <li >До начала сентября сервис будет бесплатным.<br/> Пользователи, которые будут принимать
			            активное участие в жизни сайта, предложат сотрудничество, бартер и прочие предложения
			            по улучшению и развитию сайта, будут размещаться бесплатно - всегда.
		            </li>



	            </div> 
	            </div>
</div> 
			
 <br/>
		 <br/>
		



