
@{
    ViewBag.Title = "Вы продавец EVENT услуг!";
}
<br /><br />
<h3>Поздравляем, теперь Вы в роли продавца услуг!</h3>
<br />

    <h4 style="color: #f99313;">	

Что дальше:</h4> 
<br />		 <div class="row">
            <div class="col-md-2"><img src="~/Content/images/visitka.svg" width="100" height="100" /></div>
            <div class="col-md-8" style="line-height:20px">
                <div style="font-weight: bold; font-size: 17px;">Заполните свою визитку и подпишитесь на получение заявок!</div>
				<br />
                <div style="font-size: 14px;"><a href="/Account/Profile">Заполните Вашу визитную карту</a> - 
				это является обязательным условием для участия  в конкурсах.   <br/>
				Полностью заполненная визитка помогает завоевать доверие заказчиков и повышает шансы на победу в конкурсных торгах!
				
				 </div>
 </div> </div>
			<br />
				 <div class="row">
            <div class="col-md-2"><img src="~/Content/images/zayavki.svg" width="100" height="100" /></div>
            <div class="col-md-8" style="line-height:20px">
                <div style="font-weight: bold; font-size: 17px;">Проверяйте поступление заявок, принимайте участие в конкурсах.</div>
				<br />
                <div style="font-size: 14px;">
					Чтобы увидеть заказы по своему роду деятельности, а так же городам исполнения - подпишитесь в меню <a href="/tender/active">Заявки от Заказчиков</a>.<br /><br />
                  При поступлении заявок, решайте - учавствовать или нет. На основании деталей  заявки, предложений коллег-конкурентов,
				 предлагайте свои более выгодные условия оказания услуги.<br />
				 Время конкурса  ограничено выбором заказчика от 2 до 21 дней.<br />
				
				 
						
				  
                </div>
 </div> </div>
			<br />

			<div class="row">
            <div class="col-md-2"><img src="~/Content/images/dogovor.svg" width="100" height="100" /></div>
            <div class="col-md-8" style="line-height:20px">
                <div style="font-weight: bold; font-size: 17px;">Побеждайте, созванивайтесь, заключайте договор!</div>
				<br />
                <div style="font-size: 14px;">
                 В случае победы в  конкурсе/тендере, система предупредит Вас письмом. Возможно, заказчик свяжется с Вами первым.<br /><br />
				
				 После победы в конкурсе, дальнейшее развитие сделки зависит от Вас
         				 
				  
                </div>
 </div> </div>
	<br /><br />
	
	 <h4 style="color: #2792e4;"><strong>Немного философии для исполнителей:</strong></h4>
		 <div class="row">
            <div class="col-md-2"><img src="~/Content/images/filosof.png" width="100" height="100" /></div>
            <div class="col-md-8" style="line-height:20px">
              				            <div style="font-size: 14px;">
		             <br/>
		            <li >
			            У всех всегда должет быть выбор. Всегда и везде. Если Вы считаете, что должны выбрать именно Вас - будьте конкурентноспособным,
			            интересным исполнителем, предлагающим хорошую услугу за вменяемую цену.
		            </li >
		            <li >
			            На Май-Тенд нет VIP, PRO и прочих аккаунтов, обладающих "суперспособностями" , которые могут затмить чье то предложение услуги.
		            </li >
		            <li >
			            Мы за здоровую конкуренцию в сфере Event, без неоправданного завышения цен и прочего "пафоса".<br />
						Во преки мнению - это не аукцион "кто дешевле", а поиск
			            лучшего предложения по формуле " цена/качество/креатив", по мнению заказчика.
		            </li>
		            <li >
			            Все просто - тот, чьё предложение было написано первее - будет первым. Кто написал вторым, будет вторым, и.т.д.
			            Ваше предложение не спустится вниз и не станет незаметным из за того, что кто-то написал тоже.
		            </li >

		            <li >До начала сентября сервис будет бесплатным.<br/> Пользователи, которые будут принимать
			            активное участие в жизни сайта, предложат сотрудничество, бартер и прочие предложения
			            по улучшению и развитию сайта, будут размещаться бесплатно - всегда.
		            </li>



	            </div> 
	            </div>
</div> 
			




