@{
    ViewBag.Title = "Оплата подписки";
}


<div class="form-group" style="text-align: center">
    <h2><div style="color: #585858;">ОПЕРАЦИЯ ОПЛАТЫ ДОСТУПА К ЗЯВКАМ ОТМЕНЕНА</h2>
    <img src="@Url.Content("~/Content/images/VED.svg")" height="180">

    <h4>Попробуйте снова или напишите нам о проблеме <strong>SUPPORT@MY-TEND.COM<strong></h4>
</div>

