@{
    ViewBag.Title = "Оплата доступа к звявкам";
}

<div class="form-group" style="text-align: center">
                            <img src="@Url.Content("~/Content/images/ved.svg")" height="190">
                           
	<h2>Платеж успешно проведён!<h2> </div>
