@model MyTend.Entites.Tender

@{
    ViewBag.Title = "Спасибо";
}

<h2>Ваша заявка успешно отправлена исполнителям услуг на My-Tend</h2>

<p>
    Зявка "@Model.Title" успешно отправлена продавца услуг.
</p>
<p>
    Регулярно проверяйте @Html.ActionLink("Мои заявки", "My", "Tender")
</p>
<p>
    Заявка может быть проверяна администрацией
</p>

