@model MyTend.Entites.Tender

@{
    ViewBag.Title = "Заявка отправлена!";
}

<h2>Ваша заявка успешно отправлена исполнителям услуг на сайте My-Tend</h2>

<p>
    Зявка "@Model.Title" успешно отправлена продавца услуг.
</p>
<p>
    Регулярно проверяйте пункт меню @Html.ActionLink("Мои заявки", "My", "Tender")
</p>
<strong>
<strong> Заявка может быть проверена Администрацией сайта и удалена без объяснения причин в случае нарушений правил сайта!</strong>
</p>

