@model MyTend.Entites.Tender

@{
    ViewBag.Title = "Заявка отправлена!";
}
<div class="form-group" style="text-align: center">
    <img src="~/Content/images/aboutWork.svg" style="width: 40%" />
	<h3><div style="color: #222222">Ваша заявка успешно отправлена исполнителям услуг!</h3>
</div>

<p> <div class="bg-success">
    В данный момент <strong>исполнителям нужной Вам услуги рассылаются приглашения</strong> на электронную-почту, что бы они приняли участие в Вашем аукционном-торге<strong>  @Html.ActionLink(Model.Title, "Details", "Tender", new { id = Model.Id }, null)</strong>
</p>
<p>Каждый из них  ознакомится с вашей заявкой в удобное для него время и сделает для Вас своё предложение.</p>
<p><strong>
   Вернитесь на наш сайт через несколько часов или например завтра</strong>, в пункт меню<strong> @Html.ActionLink("Проверить предложения", "My", "Tender")</strong>,  и начинайте занакомиться с тем, что готовы для Вас предложить исполнители услуг.</p>
   
    <p> Ознакомьтесь со всеми предложениями и выберите лучшее для Вашего праздника! </p></div>




