@model MyTend.Entites.Tender

@{
    ViewBag.Title = "Заявка отправлена!";
}

<h1><div style="color: #02a6c9">Ваша заявка успешно отправлена!</h1>
<h2><div style="color: #000000">Что делать далее...</h2>

<p>
    В данный момент исполнителям нужной Вам услуги рассылаются приглашения, что бы они приняли участие в Вашем торге - @Html.ActionLink(Model.Title, "Details", "Tender", new { id = Model.Id }, null) успешно отправлена продавца услуг.
</p>
<p>
    Вернитесь на наш сайт через несколько часов или дней в пункт меню @Html.ActionLink("Проверить предложения", "My", "Tender"). Не торопитесь с выбором победителя аукционна по Вашей заявке, что бы все успели сделать для Вас предложение. Рекомендуемый период аукциона от 3 до 7 дней.

</p>
<div style="color: #cc0001 ; font-weight: bold;"> Заявка может быть проверена Администрацией сайта и удалена без объяснения причин в случае нарушений правил сайта! </div>
</p>

