@model MyTend.Entites.Tender

@{
    ViewBag.Title = "Заявка отправлена!";
}
<br />
<div class="form-group" style="text-align: left">

	<h3><div style="color: #222222"><img src="~/Content/images/redgal.png" /> Ваша заявка успешно создана!</h3>
</div>

<h5>
    Заявка @Html.ActionLink(Model.Title, "Details", "Tender", new { id = Model.Id }, null) рассылается по исполнителям услуг!  Каждый из них  ознакомится с вашей заявкой в удобное для него время и сделает для Вас своё предложение.
</h5>
	<br />
	
<h4 style="color: #f99313;">Что дальше?</h4>

   
   <h5>  Краткое напоминание дальнейших действий. </h5>


		 <div class="row">
            <div class="col-md-1"><img src="~/Content/images/icon-robot-mail.png" width="50" height="50" /></div>
            <div class="col-md-11" style="line-height:20px">
                <div style="font-weight: bold; font-size: 17px;">Робот Тендер  рассылает Вашу заявку по исполнителям.</div>
                <div style="font-size: 14px;">
                  Договорившись обо всем с исполнителем, радостно ожидайте свое праздничное событие <br />
				  Дождавшись его, веселитесь от души, рекомендуйте наш сайт своим родным и близким!
				  
                </div>
 </div> </div>
			<br />		 <div class="row">
            <div class="col-md-1"><img src="~/Content/images/ispolnitely.png" width="50" height="50" /></div>
            <div class="col-md-11" style="line-height:20px">
                <div style="font-weight: bold; font-size: 17px;">Исполнители будут соревноваться за Ваш заказ!</div>
                <div style="font-size: 14px;">
                 Учитывая детали Вашей заявки и предложения коллег-конкурентов исполнитеи  <br />
				  будут писать для Вас предложения цены и возможных бонусов!
                </div>
 </div> </div>
			<br />
				 <div class="row">
            <div class="col-md-1"><img src="~/Content/images/binokl.png" width="50" height="50" /></div>
            <div class="col-md-11" style="line-height:20px">
                <div style="font-weight: bold; font-size: 17px;">Наблюдайте за поступлением предложений и выбирайте лучшшее для Вас!</div>
                <div style="font-size: 14px;">
                  В течении нескольких дней вы знакомитесь с поступившими предложениями и<br />
				  выберите победителем исполнителя который сделал самое выгодное и интереное предложение!
				  
                </div>
 </div> </div>
			<br />
			<div class="row">
            <div class="col-md-1"><img src="~/Content/images/icon-lips.png" width="50" height="50" /></div>
            <div class="col-md-11" style="line-height:20px">
                <div style="font-weight: bold; font-size: 17px;">Мы хотим что  бы Вы нашли то что  искали!</div>
                <div style="font-size: 14px;">
                 У вас есть 7/14/21 день для ознакомления и выбора предложения оказания услуг Вашей мечты<br />
				 Мы рекомендуем не торопиться с выбором и задавать вопросы исполнителям услуг во время конкурса (тендера)
				  
                </div>
 </div> </div>
 
 
 <br /><br /><br /><br />
 
 
 <p><span class=" glyphicon glyphicon-info-sign"></span><small> 
Губы которые Вы наблюдаете на иконке в пункте 4, это скан поцелуя нашей подруги-учредителя для Вас. Мы любим тебя - пользователь сайта My-Tend.Com </small>  <span class=" glyphicon glyphicon-heart"></span></p>
 