@model MyTend.Entites.Tender

@{
    ViewBag.Title = "Заявка отправлена!";
}

<h1><div style="color: #02a6c9">Ваша заявка успешно отправлена!</h1>
<h2><div style="color: #e2951c">Что делать далее:</h2>

<p>
    В данный момент исполнителям нужной Вам услуги рассылаются приглашения, что бы они приняли участие в Вашем аукционном-торге  @Html.ActionLink(Model.Title, "Details", "Tender", new { id = Model.Id }, null) успешно отправлена исполнителям Event-услуг.
</p>
<p>Каждый из них  ознакомится с вашей заявкой в удобное для него время и сделает для Вас своё предложение.</p>
<p>
    Вернитесь на наш сайт через несколько часов или например завтра, в пункт меню @Html.ActionLink("Проверить предложения", "My", "Tender").

<p>	Не торопитесь с выбором победителя аукционна по Вашей заявке, что бы все успели сделать для Вас предложение. Регулярно проверяйте их поступление.</p>
<p>Рекомендуемый период аукциона от 3 до 7 дней. За это время Вам успеют сделать  предложение, большинство исполнителей услуг.</p>
</p>

<div style="color: #ff0000 ; font-weight: bold;"> Заявка может быть проверена Администрацией сайта и удалена без объяснения причин в случае нарушений правил сайта! </div>
</p>

