@model MyTend.Models.ListThemeTenderModel
@{
    ViewBag.Title = "У Вас скоро праздничное событие? Разместите свой заказ на Аукционе событий и выбирайте выгодные предложения от исполнителей Event-индустрии!";
    var max = Model.Themes.Count() - 1;
    var i = 0;
    var itemI = 0;
}

<h2 style="color: #000000;"><STRONG>Аукцион Событий My-Tend.Com</STRONG></h2>
<h5 style="color: #777777;">Разместите свой праздничный заказ на Май-Тенд, ведь тут им заинтересуются десятки нужных для Вас
 исполнителей Вашего города.</h5>
<div style="text-align: center;">
    
           <div class="title-line">Выберите услугу</div>
  
</div>

<div class="tenderRow" style="padding-top:10px">
    <div class="form-group" style="text-align: center">
        
    </div>

    @foreach (var item in Model.Themes)
    {
        if (i == 0)
        {
            @:<div class="row">
        }

        <div class="text-center">
            <div class="col-md-4">
                <div style="margin: auto;background-size: cover; width: 180px; height: 180px; background-image:url(../Content/images/kats2/@item.ImageName);">
                    <a href="~/Tender/Create?id=@item.Id"><img src="~/Content/images/kats2/@item.ImageName2" class="tenderImg" width="180" height="180" /></a>
                </div>
                <p>
                    <h5>@Html.ActionLink(item.Theme, "Create", "Tender", new { @id = item.Id }, new { @style = "", @class = "no_line" })</h5>
                </p>
            </div>
        </div>

        if (i == 2 || itemI == max)
        {
            @:</div>
        }

        if (i == 2)
        {
            i = 0;
        }
        else
        {
            i++;
        }

        itemI++;
    }
</div>
