@model MyTend.Models.ListThemeTenderModel
@{
    ViewBag.Title = "My-Tend - тендер по исполнению услуг на Вашей свадьбе, дне рождения, корпоративе";
    var max = Model.Themes.Count() - 1;
    var i = 0;
    var itemI = 0;
}
<div>
    <div class="row">
        <div class="col-lg-12 text-center">
            @Html.ActionLink("Инструкция заполнения заявок", "Instruction", "Docs")
        </div>
    </div>
</div>
<br />
<div style="padding-top: 10px;"></div>
<a href="http://my-tend.com/Docs/AboutWork" target="_blank">
    <img src="~/Content/images/info-mini.svg" style="width: 100%" />
</a>
<div class="tenderRow" style="padding-top:40px">

    @foreach (var item in Model.Themes)
    {
        if (i == 0)
        {
            @:<div class="row">
        }

        <div style="text-align: center">
            <div class="col-md-4">
                <p>
                    <a href="~/Tender/Create?id=@item.Id"><img src="~/Content/images/kats/@item.ImageName" class="tenderImg" width="150" height="120" /></a>
                </p>
                <p>
                    <h4>@Html.ActionLink(item.Theme, "Create", "Tender", new { @id = item.Id }, new { @style = "color: #245071;" })</h4>
                </p>
            </div>
        </div>

        if (i == 2 || itemI == max)
        {
            @:
        </div>
        }

        if (i == 2)
        {
            i = 0;
        }
        else
        {
            i++;
        }

        itemI++;
    }
</div>
<div style="padding-top: 10px;"></div>
<a href="https://vk.com/hitoboi" target="_blank">
    <img src="~/Content/images/hitoboi.png" style="width: 100%" />
</a>