@model MyTend.Models.ListThemeTenderModel
@{
    ViewBag.Title = "My-Tend заказать банкет, ведущего, DJ, тамады, артистов, шоу";
    var max = Model.Themes.Count() - 1;
    var i = 0;
    var itemI = 0;
}
<div style="text-align: center;">
    <a href="http://bristolcafe.ru" target="_blank">
        <img src="~/Content/images/bristol.png" style="width: 100%" />
    </a>
</div>
<div>
    <div class="row">
        <div class="col-lg-12 text-center">
            @Html.ActionLink("Инструкция заполнения заявок", "Instruction", "Docs")
        </div>
    </div>
</div>
<br />
<div style="padding-top: 10px;"></div>
<img src="~/Content/images/info-mini.svg" style="width: 100%" />
<div class="tenderRow" style="padding-top:10px">
    <div class="form-group" style="text-align: center">
        <h1><div style="color: #971f9e;">Выберите нужную Вам услугу</h1>
    </div>

    @foreach (var item in Model.Themes)
    {
        if (i == 0)
        {
            @:<div class="row">
        }

        <div style="text-align: center">
            <div class="col-md-4">
                <p>
                    <a href="~/Tender/Create?id=@item.Id"><img src="~/Content/images/kats/@item.ImageName" class="tenderImg" width="150" height="120" /></a>
                </p>
                <p>
                    <h4><strong>@Html.ActionLink(item.Theme, "Create", "Tender", new { @id = item.Id }, new { @style = "color: #02a6c9;", @class = "no_line" })</strong></h4>
                </p>
            </div>
        </div>

        if (i == 2 || itemI == max)
        {
            @:</div>
        }

        if (i == 2)
        {
            i = 0;
        }
        else
        {
            i++;
        }

        itemI++;
    }
</div>
<div style="padding-top: 10px;"></div>
<div style="text-align: center;">
    <a href="https://vk.com/hitoboi" target="_blank">
        <img src="~/Content/images/hitoboi.png" style="width: 70%" />
    </a>
</div>