@model MyTend.Models.ListThemeTenderModel
@{
    ViewBag.Title = "My-Tend заказать банкет, ведущего, DJ, тамады, артистов, шоу";
    var max = Model.Themes.Count() - 1;
    var i = 0;
    var itemI = 0;
}
<div style="text-align: center;">
    <a href="http://bristolcafe.ru" target="_blank">
        <div style="font-style: italic">Реклама</div>
        <img src="~/Content/images/bristol.png" style="width: 100%" />
    </a>
</div>


<div style="padding-top: 10px;"></div>

<div class="tenderRow" style="padding-top:10px">
    <div class="form-group" style="text-align: center">
        <h2><div style="color: #222222;">Устройте  конкурс на право исполнения услуги:</h2>
    </div>

    @foreach (var item in Model.Themes)
    {
        if (i == 0)
        {
            @:<div class="row">
        }

        <div style="text-align: center">
            <div class="col-md-4">
                <p>
                    <a href="~/Tender/Create?id=@item.Id"><img src="~/Content/images/kats/@item.ImageName" class="tenderImg" width="150" height="120" /></a>
                </p>
                <p>
                    <h4><strong>@Html.ActionLink(item.Theme, "Create", "Tender", new { @id = item.Id }, new { @style = "color: #02a6c9;", @class = "no_line" })</strong></h4>
                </p>
            </div>
        </div>

        if (i == 2 || itemI == max)
        {
            @:
        </div>
        }

        if (i == 2)
        {
            i = 0;
        }
        else
        {
            i++;
        }

        itemI++;
    }
</div>
<div style="padding-top: 10px;"></div>
<div style="text-align: center;">
    <div style="font-style: italic">Реклама</div>
    <a href="https://vk.com/v_nastena" target="_blank">
        <img src="~/Content/images/TORT.png" style="width: 100%" />
    </a>
</div>