@model MyTend.Entites.Tender

@{
    ViewBag.Title = "Победитель заявки/торга, определён";
}

<p>
    Заявка @Html.ActionLink(Model.Title, "Details", "Tender", new { id = Model.Id }) закрыта и переходит в @Html.ActionLink("Мои заявки", "My", "Tender")/Завершённые торги.
</p>
<p>
    Вы выбрали победителя: @Html.ActionLink(Model.Winner.FullName, "Card", "Account", new { user = Model.Winner.Login })
</p>
<p>
    Свяжитесь с @Html.ActionLink(Model.Winner.FullName, "Card", "Account", new { user = Model.Winner.Login }) используя контакты в его визитке.
</p>
<p>
    <strong>Спасибо, что используете наш сервис!</strong>
</p>