@model MyTend.Models.WinnerTenderModel

@{
    ViewBag.Title = "Мои победы";
}


<h1 style="color: #000000;"><STRONG>Мои победы</STRONG></h1>
<h5 style="color: #777777;">В этом меню отображаются списки конкурсных торгов, где Вас выбрали победителем заявки.</h5>
 <hr style="margin-top: 2px;">
<div class="tabs">
   
    <div class="tab-content">
        <div class="tab-pane active" id="tab5-1">
            @if (Model.Tenders.Count > 0)
            {
                foreach (var item in Model.Tenders)
                {
                    <div class="row" id="tenderrow-@item.Id">
                        <div class="col-lg-2">
                            <div>
                                <a href="~/Tender/Details?id=@item.Id">
                                    <img src="~/Content/images/kats/@item.Theme.ImageName" width="90" height="100" />
                                </a>
                            </div>
                            <div>
                                @if (item.Winner != null && item.Winner.Login == ViewBag.UserLogin)
                                {
                                    
                                }
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div style="padding-top: 20px">
                                        @Html.ActionLink(item.User.FullName, "Card", "Account", new { id = item.User.Email }, null) выбрал Вас победителем в торге @Html.ActionLink(item.Title, "Details", "Tender", new { id = item.Id }, null)
                                    </div>
                                    <div>
                                        Свяжитесь с ним по номеру: <span style="font-weight: bold; font-size: 20px; padding-left: 7px;">@item.User.Phone</span> 
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                }
            }
            else
            {
                <div>
                    Вас ещё не выбрали победителем конкурсного-торга.
                </div>
              
            }
        </div>
    </div>
</div>